Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

📝 Add API reference page for `fastapi.sse`
  docs/en/docs/reference/sse.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

👷 Fix latest-changes checkout target
  .github/workflows/latest-changes.yml
Due: none

👷 Fix latest-changes checkout target (#15932)
  .github/workflows/latest-changes.yml
Due: none

👷 Fix notify translations checkout target
  .github/workflows/notify-translations.yml
Due: none

👷 Fix notify translations checkout target (#15933)
  .github/workflows/notify-translations.yml
Due: none

⚡️ Speed up stream cancellation and security tutorial tests
  tests/test_stream_cancellation.py
  tests/test_tutorial/test_security/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

🐛 Fix status_code being ignored for SSE and JSONL streaming endpoints
  fastapi/routing.py
  tests/test_stream_status_code.py
Due: local-ruff-check, local-ruff-format

🐛 Fix copy button copying HTML tags from termynal command lines
  docs/en/docs/js/custom.js
Due: update-languages

docs: fix grammar in handling-errors.md
  docs/en/docs/tutorial/handling-errors.md
Due: add-permalinks-pages, update-languages

test: add coverage for dependency overridden status codes in streams
  tests/test_stream_status_code.py
Due: local-ruff-check, local-ruff-format

chore: remove accidental inline comments from tests
  tests/test_stream_status_code.py
Due: local-ruff-check, local-ruff-format

🔧 Update sponsors: add TutorCruncher
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
  docs/en/docs/img/sponsors/tutorcruncher.png
Due: generate-readme, update-languages

🔧 Update sponsors: add TutorCruncher (#15947)
  README.md
  docs/en/data/sponsors.yml
  docs/en/data/sponsors_badge.yml
  docs/en/docs/img/sponsors/tutorcruncher.png
Due: generate-readme, update-languages

Fix empty SSE data payload dropping the data: field
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Add test for empty data value
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

docs: translate contributing.md and external-links.md to Korean
  docs/ko/docs/contributing.md
  docs/ko/docs/external-links.md
Due: update-languages, ensure-non-translated, fix-translations

✨ Add RFC 9457 Problem Details support (opt-in via problem_details=True)
  fastapi/__init__.py
  fastapi/applications.py
  fastapi/exception_handlers.py
  fastapi/exceptions.py
  fastapi/openapi/utils.py
  fastapi/problem_details.py
  fastapi/responses.py
  tests/test_problem_details.py
Due: local-ruff-check, local-ruff-format

✅ Mark test-only route handlers as pragma: no cover
  tests/test_problem_details.py
Due: local-ruff-check, local-ruff-format

📝 Document stream response headers
  docs/en/docs/tutorial/server-sent-events.md
  docs/en/docs/tutorial/stream-json-lines.md
  docs_src/server_sent_events/tutorial006_py310.py
  docs_src/stream_json_lines/tutorial002_py310.py
  tests/test_tutorial/test_server_sent_events/test_tutorial006.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial002.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✨ Add QUERY HTTP method support to FastAPI
  fastapi/applications.py
  fastapi/routing.py
  tests/test_query_http_method.py
Due: local-ruff-check, local-ruff-format

🐛 Log ResponseValidationError from streaming endpoint serializers
  fastapi/routing.py
  tests/test_stream_response_validation_error.py
Due: local-ruff-check, local-ruff-format

✅ Support Python 3.10 in stream validation tests
  tests/test_stream_response_validation_error.py
Due: local-ruff-check, local-ruff-format

Forward exclude_defaults when jsonable_encoder recurses into dict values
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

📝 Fix outdated on_event reference in async tests docs
  docs/en/docs/advanced/async-tests.md
Due: add-permalinks-pages, update-languages

fix: support nested include/exclude in jsonable_encoder for dicts and dataclasses
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

feat: implement route caching for static paths in APIRouter to improve routing performance
  fastapi/routing.py
  tests/test_route_caching.py
Due: local-ruff-check, local-ruff-format

perf: optimize route matching by caching static routes and adding a detection mechanism for custom routing classes
  benchmark_routing.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

refactor: simplify partial route matching logic
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

perf: optimize jsonable_encoder by skipping redundant recursive calls for Pydantic models and add benchmarking and performance tests
  fastapi/encoders.py
  tests/test_encoder_performance.py
Due: local-ruff-check, local-ruff-format

perf: optimize jsonable_encoder by short-circuiting Pydantic model serialization
  benchmark_encoder.py
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

refactor: simplify SQLAlchemy instance handling in jsonable_encoder by delegating to recursive calls
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Fix anchor
  docs/en/docs/advanced/dataclasses.md
Due: add-permalinks-pages, update-languages

Fix not expected content
  docs/en/docs/advanced/generate-clients.md
Due: add-permalinks-pages, update-languages

Fix 404 ariadnegraphql
  docs/en/docs/how-to/graphql.md
Due: add-permalinks-pages, update-languages

Fix 404 Pydantic data types
  docs/en/docs/tutorial/extra-data-types.md
Due: add-permalinks-pages, update-languages

Fix 404 exclude_defaults and exclude_none
  docs/en/docs/tutorial/response-model.md
Due: add-permalinks-pages, update-languages

Fix domain redirect angular
  docs/en/docs/alternatives.md
Due: add-permalinks-pages, update-languages

Fix typo: re-used -> reused in param_functions.py docstrings
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for contextmanager_in_threadpool
  tests/test_concurrency.py
Due: local-ruff-check, local-ruff-format

Fix eng.uber.com/ludwig-v0-2
  README.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages
