Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Resolve ty warnings for `test_default_placeholder_bool`
  tests/test_datastructures.py
Due: local-ruff-check, local-ruff-format

♻️ Use True for response model field inclusion
  tests/test_response_model_include_exclude.py
Due: local-ruff-check, local-ruff-format

Address ruff finding
  fastapi/.agents/skills/fastapi/references/dependencies.md
Due: none

Use `gpt-6-astra` model for translations
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🔨 Use `gpt-6-astra` model for translations (#16453)
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

Re-generate with new model
  docs/ko/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/ja/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/uk/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/de/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/pt/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/zh-hant/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/zh/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/tr/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/hi/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Re-generate with new model
  docs/fr/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Allow custom JSON schema generators for OpenAPI
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/openapi/utils.py
  tests/test_custom_schema_generator.py
Due: local-ruff-check, local-ruff-format

fix(dependencies): resolve test-redistribute failures and sync with master
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Add AGENTS.md for AI collaboration
  AGENTS.md
Due: none

✅ Add unit tests for is_body_allowed_for_status_code
  tests/test_is_body_allowed_for_status_code.py
Due: local-ruff-check, local-ruff-format

🐛 Fix explicit response_model ignored on streaming generator endpoints
  fastapi/routing.py
  tests/test_stream_response_model.py
Due: local-ruff-check, local-ruff-format

docs: improve wording of fast to code feature
  README.md
Due: none

🔧 Update sponsors: remove Render
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/partials/banner-sponsors.html
Due: generate-readme, update-languages

📝 Update docs
  docs/en/docs/deployment/cloud.md
Due: add-permalinks-pages, update-languages

🔧 Update sponsors: remove Render (#16457)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/deployment/cloud.md
  docs/en/overrides/partials/banner-sponsors.html
Due: add-permalinks-pages, generate-readme, update-languages

✨ Add support for bytearray in jsonable_encoder
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

📝 Embed the FastAPI and friends newsletter signup form
  docs/en/docs/css/custom.css
  docs/en/docs/js/custom.js
  docs/en/docs/newsletter.md
Due: add-permalinks-pages, update-languages

📝 Embed the FastAPI and friends newsletter signup form (#16459)
  docs/en/docs/css/custom.css
  docs/en/docs/js/custom.js
  docs/en/docs/newsletter.md
Due: add-permalinks-pages, update-languages

📝 Remove HTML title from newsletter to avoid the tooltip
  docs/en/docs/newsletter.md
Due: add-permalinks-pages, update-languages

📝 Remove HTML title from newsletter to avoid the tooltip (#16461)
  docs/en/docs/newsletter.md
Due: add-permalinks-pages, update-languages

test: cover 205 responses without a body
  tests/test_response_code_no_body.py
Due: local-ruff-check, local-ruff-format

👷 Fix deprecated command in `bump-pre-commit-hooks` workflow
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

👷 Fix deprecated command in `bump-pre-commit-hooks` workflow (#16463)
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

📝 Add a section on handling errors inside background tasks
  docs/en/docs/tutorial/background-tasks.md
  docs_src/background_tasks/tutorial003_py310.py
  tests/test_tutorial/test_background_tasks/test_tutorial003.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Support SkipJsonSchema in Query()
  fastapi/_compat/v2.py
  fastapi/openapi/utils.py
  tests/test_skip_json_schema.py
Due: local-ruff-check, local-ruff-format

🐛 Cache OpenTelemetry tracers to preserve warning deduplication
  fastapi/telemetry/_asgi.py
  tests/test_telemetry/test_tracer.py
Due: local-ruff-check, local-ruff-format

👷 Allow benchmark jobs enough time to finish
  .github/workflows/test.yml
Due: none

🐛 Cache OpenTelemetry tracers to preserve warning deduplication (#16468)
  .github/workflows/test.yml
  fastapi/telemetry/_asgi.py
  tests/test_telemetry/test_tracer.py
Due: local-ruff-check, local-ruff-format

🐛 Isolate FastAPI telemetry for excluded requests
  fastapi/telemetry/_asgi.py
  tests/test_telemetry/test_data.py
Due: local-ruff-check, local-ruff-format
