Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

fix: treat empty bearer token as missing credentials in OAuth2 helpers
  fastapi/security/oauth2.py
  tests/test_security_oauth2_authorization_code_bearer.py
  tests/test_security_oauth2_password_bearer_optional.py
Due: local-ruff-check, local-ruff-format

docs: fix grammar in editor support section
  docs/en/docs/features.md
Due: add-permalinks-pages, update-languages

Fix unique operation IDs for multi-method routes
  fastapi/openapi/utils.py
  fastapi/utils.py
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

Add short explanation for jsonable_encoder in reference docs
  docs/en/docs/reference/encoders.md
Due: add-permalinks-pages, update-languages

🔒 Pin all GitHub Actions to commit SHAs
  .github/workflows/add-to-project.yml
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

fix: pin 35 unpinned action(s)
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

Fix mounting sub-applications under APIRouter
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

Fix Annotated ForwardRef dependencies with future annotations
  fastapi/dependencies/utils.py
  tests/test_stringified_annotation_forwardref_dependency.py
Due: local-ruff-check, local-ruff-format

Fix mypy builtins lookup in annotation resolution
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

add tests for issue #10180: mount sub-apps under APIRouter
  test_mount_subrouter.py
Due: local-ruff-check, local-ruff-format

update tests: mount before include_router
  test_mount_subrouter.py
Due: local-ruff-check, local-ruff-format

research: propagate Mount with router.prefix in include_router
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix typo in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

✨ Add support for generating a UUID on application startup
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

Fix form model losing model_fields_set for unsubmitted fields
  fastapi/dependencies/utils.py
  tests/test_form_model_fields_set.py
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

fix: include method in operation_id to prevent duplicates with multi-method routes
  fastapi/openapi/utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

test: add test for duplicate operation ID fix with multi-method routes
  tests/test_duplicate_operation_id.py
Due: local-ruff-check, local-ruff-format

Fix mounting sub-applications under APIRouter (#10180)
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

🔨 refactoring in fastapi/routing
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix form model pre-filling defaults, breaking model_fields_set
  fastapi/dependencies/utils.py
  tests/test_forms_defaults.py
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

docs(es): update technical glossary in LLM prompt for better consistency
  docs/es/docs/advanced/security/http-basic-auth.md
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated, fix-translations

docs(es): update technical glossary in LLM prompt for better consistency
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

style: final manual whitespace and EOF cleanup
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

docs(es): fix placeholder syntax and disable auto-format
  docs/es/docs/advanced/security/http-basic-auth.md
Due: update-languages, ensure-non-translated, fix-translations

docs: Add advanced middleware examples (timing, request ID, rate limiting)
  docs/en/docs/advanced/middleware.md
Due: add-permalinks-pages, update-languages

Pin github actions by commit sha
  .github/workflows/add-to-project.yml
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

Use lenient ForwardRef resolution as fallback
  fastapi/dependencies/utils.py
  tests/test_dependencies_utils.py
Due: local-ruff-check, local-ruff-format

Fix defaults for model-based params
  fastapi/dependencies/utils.py
  tests/test_forms_single_model.py
  tests/test_model_param_defaults.py
Due: local-ruff-check, local-ruff-format

Update header model snapshots for omitted defaults
  tests/test_tutorial/test_header_param_models/test_tutorial001.py
  tests/test_tutorial/test_header_param_models/test_tutorial002.py
  tests/test_tutorial/test_header_param_models/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

👥 Update FastAPI People - Contributors and Translators (#15270)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages

docs: clarify operation_id conflicts for multi-method api_route
  docs/en/docs/advanced/path-operation-advanced-configuration.md
Due: add-permalinks-pages, update-languages

fix: make generated operation id method suffix deterministic
  fastapi/utils.py
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

fix: support mounted sub-apps under APIRouter include
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

📝 Clarify multi-method operation_id note in docs
  docs/en/docs/advanced/path-operation-advanced-configuration.md
Due: add-permalinks-pages, update-languages

👥 Update FastAPI GitHub topic repositories (#15274)
  docs/en/data/topic_repos.yml
Due: update-languages

👥 Update FastAPI People - Experts (#15279)
  docs/en/data/people.yml
Due: update-languages

✨ Add support for `@app.vibe()`
  docs/en/docs/advanced/vibe.md
  docs/en/mkdocs.yml
  docs_src/vibe/tutorial001_py310.py
  fastapi/applications.py
  tests/test_vibe.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Tweak test converage
  tests/test_vibe.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
