Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

⚡️ Avoid flattening dependencies for OpenAPI
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade latest-changes to 0.7.1
  .github/workflows/latest-changes.yml
Due: none

⚡️ Avoid flattening dependencies for OpenAPI (#16076)
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade latest-changes to 0.7.1 (#16077)
  .github/workflows/latest-changes.yml
Due: none

🔖 Release version 0.140.7 (#16078)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

fix(encoders): use errors='replace' when decoding bytes in jsonable_encoder
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

fix(sse): use split('\n') instead of splitlines() in format_sse_event
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

test(security): add test coverage for OAuth2AuthorizationCodeBearer with auto_error=False
  fastapi/security/oauth2.py
  tests/test_security_oauth2_authorization_code_bearer.py
Due: local-ruff-check, local-ruff-format

⚡️ Avoid recursive dependency scope analysis
  fastapi/dependencies/models.py
  tests/benchmarks/test_dependency_flattening.py
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

feat(middleware): add Request Body Size Limit middleware (413 Payload Too Large)
  fastapi/middleware/__init__.py
  fastapi/middleware/bodysize.py
  tests/test_middleware_bodysize.py
Due: local-ruff-check, local-ruff-format

⚡️Improve caching of callable inspection result
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

♻️ Drop circular references to dependency_cache values
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

♻️ Replace list with a set for visited cache
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

✅ Test response model options for included JSONL streams
  tests/test_stream_bare_type.py
Due: local-ruff-check, local-ruff-format

🐛 Fix stream item type lost when using `include_router()` (#15077)
  fastapi/routing.py
  tests/test_sse.py
  tests/test_stream_bare_type.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.8 (#16088)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add tests for response_model_* params with non-generator Iterable return type
  tests/test_skip_defaults.py
Due: local-ruff-check, local-ruff-format

🐛 Fix `exclude_defaults` not propagated to dict keys and values in `jsonable_encoder` (#16043)
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Move blocks down
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix response_model being set to None for non-generator endpoints
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.9 (#16089)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Test PR regressions against base code
  .github/workflows/test.yml
Due: none

✅ Test PR regressions against base code (#16090)
  .github/workflows/test.yml
Due: none

🐛 Preserve pytest exit code in regression check
  .github/workflows/test.yml
Due: none

🐛 Preserve pytest exit code in regression check (#16091)
  .github/workflows/test.yml
Due: none

🐛 Accept any base test failure as regression
  .github/workflows/test.yml
Due: none

🐛 Accept any base test failure as regression (#16092)
  .github/workflows/test.yml
Due: none

🐛 Fix handling sequences with nested Annotated types (#14874)
  fastapi/_compat/shared.py
  tests/test_nested_annotated_in_sequence.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.10 (#16093)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Fix `response_model_*` params ignored for non-generator endpoints with `Iterable[..]` return type (#15093)
  fastapi/routing.py
  tests/test_skip_defaults.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.11 (#16094)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Remove duplicate SSE empty-data test
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Fix line splitting in `format_sse_event` to comply with SSE spec (#15515)
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.12 (#16095)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Add API reference page for fastapi.sse (#15930)
  docs/en/docs/reference/sse.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

📝 Fix `format_sse_event` docstring rendering of `\n\n` terminator (#15613)
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

🐛 Fix `status_code` being ignored for SSE and JSONL streaming endpoints (#15937)
  fastapi/routing.py
  tests/test_stream_status_code.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.13 (#16096)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

feat: support starlette 0.52.0+ generic Request
  fastapi/dependencies/utils.py
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

🐛 Set anti-buffering headers on JSONL streaming responses
  fastapi/routing.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
Due: local-ruff-check, local-ruff-format
