Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

Fix code includes
  docs/en/docs/how-to/custom-docs-ui-assets.md
Due: add-permalinks-pages, update-languages

Add comprehensive tests for Json[T] with Query/Header/Cookie
  tests/test_form_json_type.py
Due: none

Fix `scopes` -> `oauth_scopes`
  tests/test_security_oauth2_authorization_code_bearer_scopes_openapi.py
  tests/test_security_oauth2_authorization_code_bearer_scopes_openapi_simple.py
Due: none

Remove Json[list[str]] test for Cookie
  tests/test_form_json_type.py
Due: none

Add Cookie test and rename test file
  tests/test_json_type.py
Due: none

make type annotation for HTTPException.detail be Any
  fastapi/exceptions.py
Due: none

Clarify "Required, can be None" section in query params docs
  docs/de/docs/tutorial/query-params-str-validations.md
Due: update-languages, ensure-non-translated

Add example for API Key header configuration
  docs/api_key_header_example.md
Due: update-languages, ensure-non-translated

docs: add notes on dynamic response status codes
  docs/en/docs/advanced/response-change-status-code.md
Due: add-permalinks-pages, update-languages

⬆️ Migrate to uv
  .github/dependabot.yml
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  docs/en/docs/contributing.md
  pyproject.toml
  requirements-docs-tests.txt
  requirements-docs.txt
  requirements-github-actions.txt
  requirements-tests.txt
  requirements-translations.txt
  requirements.txt
  uv.lock
Due: add-permalinks-pages, update-languages

tested edge cases for inavlid data formats
  tests/test_validate_response.py
Due: none

added test cases for invalid responses
  tests/test_validate_response.py
Due: none

fix StreamingResponse example
  docs/en/docs/advanced/custom-response.md
  docs_src/custom_response/tutorial007_py39.py
Due: add-permalinks-pages, update-languages

Increase retry attempts and add timeout for server check
  scripts/playwright/sql_databases/image02.py
Due: none

♻️ Tweak minor formatting and types changes
  scripts/doc_parsing_utils.py
Due: none

📝 Specify language code for code block (#14656)
  docs/en/docs/tutorial/bigger-applications.md
Due: add-permalinks-pages, update-languages

🔨 Add LLM translations tool fixer (#14652)
  scripts/doc_parsing_utils.py
  scripts/tests/test_translation_fixer/conftest.py
  scripts/tests/test_translation_fixer/test_code_blocks/data/en_doc.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_lines_number_gt.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_lines_number_lt.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_mermaid_not_translated.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_mermaid_translated.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_number_gt.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_number_lt.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_wrong_lang_code.md
  scripts/tests/test_translation_fixer/test_code_blocks/data/translated_doc_wrong_lang_code_2.md
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_lines_number_mismatch.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_mermaid.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_number_mismatch.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_wrong_lang_code.py
  scripts/tests/test_translation_fixer/test_code_includes/data/en_doc.md
  scripts/tests/test_translation_fixer/test_code_includes/data/translated_doc_number_gt.md
  scripts/tests/test_translation_fixer/test_code_includes/data/translated_doc_number_lt.md
  scripts/tests/test_translation_fixer/test_code_includes/test_number_mismatch.py
  scripts/tests/test_translation_fixer/test_complex_doc/data/en_doc.md
  scripts/tests/test_translation_fixer/test_complex_doc/data/translated_doc.md
  scripts/tests/test_translation_fixer/test_complex_doc/data/translated_doc_expected.md
  scripts/tests/test_translation_fixer/test_complex_doc/test_compex_doc.py
  scripts/tests/test_translation_fixer/test_header_permalinks/data/en_doc.md
  scripts/tests/test_translation_fixer/test_header_permalinks/data/translated_doc_level_mismatch_1.md
  scripts/tests/test_translation_fixer/test_header_permalinks/data/translated_doc_level_mismatch_2.md
  scripts/tests/test_translation_fixer/test_header_permalinks/data/translated_doc_number_gt.md
  scripts/tests/test_translation_fixer/test_header_permalinks/data/translated_doc_number_lt.md
  scripts/tests/test_translation_fixer/test_header_permalinks/test_header_level_mismatch.py
  scripts/tests/test_translation_fixer/test_header_permalinks/test_header_number_mismatch.py
  scripts/tests/test_translation_fixer/test_html_links/data/en_doc.md
  scripts/tests/test_translation_fixer/test_html_links/data/translated_doc_number_gt.md
  scripts/tests/test_translation_fixer/test_html_links/data/translated_doc_number_lt.md
  scripts/tests/test_translation_fixer/test_html_links/test_html_links_number_mismatch.py
  scripts/tests/test_translation_fixer/test_markdown_links/data/en_doc.md
  scripts/tests/test_translation_fixer/test_markdown_links/data/translated_doc.md
  scripts/tests/test_translation_fixer/test_markdown_links/data/translated_doc_number_gt.md
  scripts/tests/test_translation_fixer/test_markdown_links/data/translated_doc_number_lt.md
  scripts/tests/test_translation_fixer/test_markdown_links/test_mkd_links_number_mismatch.py
  scripts/translation_fixer.py
Due: none

⬆️ Migrate to uv (#14676)
  .github/dependabot.yml
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  docs/en/docs/contributing.md
  pyproject.toml
  requirements-docs-tests.txt
  requirements-docs.txt
  requirements-github-actions.txt
  requirements-tests.txt
  requirements-translations.txt
  requirements.txt
  uv.lock
Due: add-permalinks-pages, update-languages

🔧 Add pre-commit to fix language translations
  .pre-commit-config.yaml
Due: none

🔧 Add pre-commit local script to fix language translations (#14683)
  .pre-commit-config.yaml
Due: none

✅ Enable tests in CI for scripts
  scripts/test.sh
Due: none

🚨 Update types for compatibility with Python 3.9
  scripts/doc_parsing_utils.py
Due: none

♻️ Update file read with explicit encoding because Windows
  scripts/docs.py
  scripts/notify_translations.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_lines_number_mismatch.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_mermaid.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_number_mismatch.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_wrong_lang_code.py
  scripts/tests/test_translation_fixer/test_code_includes/test_number_mismatch.py
  scripts/tests/test_translation_fixer/test_complex_doc/test_compex_doc.py
  scripts/tests/test_translation_fixer/test_header_permalinks/test_header_level_mismatch.py
  scripts/tests/test_translation_fixer/test_header_permalinks/test_header_number_mismatch.py
  scripts/tests/test_translation_fixer/test_html_links/test_html_links_number_mismatch.py
  scripts/tests/test_translation_fixer/test_markdown_links/test_mkd_links_number_mismatch.py
Due: generate-readme, update-languages, ensure-non-translated

✅ Do not run scripts tests on Windows
  scripts/tests/test_translation_fixer/conftest.py
Due: none

✅ Tweak skip on Windows
  scripts/tests/test_translation_fixer/conftest.py
Due: none

✅ Enable tests in CI for scripts (#14684)
  scripts/doc_parsing_utils.py
  scripts/docs.py
  scripts/notify_translations.py
  scripts/test.sh
  scripts/tests/test_translation_fixer/conftest.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_lines_number_mismatch.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_mermaid.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_number_mismatch.py
  scripts/tests/test_translation_fixer/test_code_blocks/test_code_blocks_wrong_lang_code.py
  scripts/tests/test_translation_fixer/test_code_includes/test_number_mismatch.py
  scripts/tests/test_translation_fixer/test_complex_doc/test_compex_doc.py
  scripts/tests/test_translation_fixer/test_header_permalinks/test_header_level_mismatch.py
  scripts/tests/test_translation_fixer/test_header_permalinks/test_header_number_mismatch.py
  scripts/tests/test_translation_fixer/test_html_links/test_html_links_number_mismatch.py
  scripts/tests/test_translation_fixer/test_markdown_links/test_mkd_links_number_mismatch.py
Due: generate-readme, update-languages, ensure-non-translated

🐛 Fix translation script path
  scripts/translate.py
Due: none

🐛 Fix translation script path (#14685)
  scripts/translate.py
Due: none

🌐 Update translations for es (update-outdated) (#14686)
  docs/es/docs/_llm-test.md
  docs/es/docs/advanced/path-operation-advanced-configuration.md
  docs/es/docs/advanced/settings.md
  docs/es/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/es/docs/how-to/separate-openapi-schemas.md
  docs/es/docs/index.md
  docs/es/docs/tutorial/bigger-applications.md
  docs/es/docs/tutorial/body-updates.md
  docs/es/docs/tutorial/body.md
  docs/es/docs/tutorial/extra-models.md
  docs/es/docs/tutorial/query-params-str-validations.md
  docs/es/docs/tutorial/response-model.md
  docs/es/docs/tutorial/schema-extra-example.md
Due: update-languages, ensure-non-translated

🌐 Update LLM prompt from code review
  docs/fr/llm-prompt.md
Due: update-languages, ensure-non-translated

🔨 Refactor translation script to allow committing in place
  .github/workflows/translate.yml
  scripts/translate.py
Due: none

🔨 Refactor translation script to allow committing in place (#14687)
  .github/workflows/translate.yml
  scripts/translate.py
Due: none

👷 Tweak CI input names
  .github/workflows/translate.yml
Due: none

🌐 Update translations for uk (update-outdated) (#14587)
  docs/en/mkdocs.yml
  docs/uk/docs/index.md
  docs/uk/docs/learn/index.md
  docs/uk/docs/python-types.md
  docs/uk/docs/tutorial/background-tasks.md
  docs/uk/docs/tutorial/body-fields.md
  docs/uk/docs/tutorial/body-multiple-params.md
  docs/uk/docs/tutorial/body-nested-models.md
  docs/uk/docs/tutorial/body-updates.md
  docs/uk/docs/tutorial/body.md
  docs/uk/docs/tutorial/cookie-param-models.md
  docs/uk/docs/tutorial/cookie-params.md
  docs/uk/docs/tutorial/cors.md
  docs/uk/docs/tutorial/debugging.md
  docs/uk/docs/tutorial/encoder.md
  docs/uk/docs/tutorial/extra-data-types.md
  docs/uk/docs/tutorial/first-steps.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/header-param-models.md
  docs/uk/docs/tutorial/header-params.md
  docs/uk/docs/tutorial/index.md
  docs/uk/docs/tutorial/metadata.md
  docs/uk/docs/tutorial/middleware.md
  docs/uk/docs/tutorial/path-params-numeric-validations.md
  docs/uk/docs/tutorial/path-params.md
  docs/uk/docs/tutorial/query-param-models.md
  docs/uk/docs/tutorial/query-params-str-validations.md
  docs/uk/docs/tutorial/query-params.md
  docs/uk/docs/tutorial/request-files.md
  docs/uk/docs/tutorial/request-form-models.md
  docs/uk/docs/tutorial/request-forms-and-files.md
  docs/uk/docs/tutorial/request-forms.md
  docs/uk/docs/tutorial/response-model.md
  docs/uk/docs/tutorial/response-status-code.md
  docs/uk/docs/tutorial/schema-extra-example.md
  docs/uk/docs/tutorial/security/index.md
  docs/uk/docs/tutorial/static-files.md
  docs/uk/docs/tutorial/testing.md
  scripts/docs.py
Due: generate-readme, update-languages, ensure-non-translated

👷 Tweak CI input names (#14688)
  .github/workflows/translate.yml
Due: none

docs: fix incorrect description of Header parameter conversion
  docs/en/docs/tutorial/header-params.md
Due: add-permalinks-pages, update-languages

Fix HTTP Basic realm handling (RFC 7617)
  fastapi/security/http.py
  tests/test_security_http_base.py
Due: none

🔨 Update script for generating new lang translations
  scripts/docs.py
Due: generate-readme, update-languages, ensure-non-translated

📝 Update docs for contributing translations
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

Path conditions:
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
