Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Fix using translation fixer tool
  docs/es/docs/deployment/server-workers.md
Due: update-languages, ensure-non-translated, fix-translations

Convert links to markdown style using script from PR#15061
  docs/es/docs/alternatives.md
  docs/es/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/es/docs/tutorial/metadata.md
  docs/es/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for es (add-missing) (#15154)
  docs/es/docs/advanced/json-base64-bytes.md
  docs/es/docs/advanced/stream-data.md
  docs/es/docs/advanced/strict-content-type.md
  docs/es/docs/editor-support.md
  docs/es/docs/tutorial/server-sent-events.md
  docs/es/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Convert links to markdown style using script from PR#15061
  docs/pt/docs/tutorial/metadata.md
  docs/pt/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/pt/docs/alternatives.md
  docs/pt/docs/deployment/server-workers.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for pt (add-missing) (#15157)
  docs/pt/docs/advanced/json-base64-bytes.md
  docs/pt/docs/advanced/stream-data.md
  docs/pt/docs/advanced/strict-content-type.md
  docs/pt/docs/editor-support.md
  docs/pt/docs/tutorial/server-sent-events.md
  docs/pt/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/uk/docs/advanced/generate-clients.md
  docs/uk/docs/alternatives.md
  docs/uk/docs/deployment/server-workers.md
Due: update-languages, ensure-non-translated, fix-translations

Convert links to markdown style using script from PR#15061
  docs/uk/docs/advanced/response-directly.md
  docs/uk/docs/deployment/https.md
  docs/uk/docs/tutorial/metadata.md
  docs/uk/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for uk (add-missing) (#15158)
  docs/uk/docs/advanced/json-base64-bytes.md
  docs/uk/docs/advanced/stream-data.md
  docs/uk/docs/advanced/strict-content-type.md
  docs/uk/docs/editor-support.md
  docs/uk/docs/tutorial/server-sent-events.md
  docs/uk/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Fix links in `index.md`
  docs/fr/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Convert links to markdown style using script from PR#15061
  docs/fr/docs/alternatives.md
  docs/fr/docs/how-to/custom-request-and-route.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for fr (add-missing) (#15163)
  docs/fr/docs/advanced/json-base64-bytes.md
  docs/fr/docs/advanced/stream-data.md
  docs/fr/docs/advanced/strict-content-type.md
  docs/fr/docs/editor-support.md
  docs/fr/docs/tutorial/server-sent-events.md
  docs/fr/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for tr (add-missing) (#15169)
  docs/tr/docs/advanced/json-base64-bytes.md
  docs/tr/docs/advanced/stream-data.md
  docs/tr/docs/advanced/strict-content-type.md
  docs/tr/docs/editor-support.md
  docs/tr/docs/tutorial/server-sent-events.md
  docs/tr/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ja (add-missing) (#15167)
  docs/ja/docs/advanced/json-base64-bytes.md
  docs/ja/docs/advanced/stream-data.md
  docs/ja/docs/advanced/strict-content-type.md
  docs/ja/docs/editor-support.md
  docs/ja/docs/tutorial/server-sent-events.md
  docs/ja/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ko (add-missing) (#15168)
  docs/ko/docs/advanced/json-base64-bytes.md
  docs/ko/docs/advanced/stream-data.md
  docs/ko/docs/advanced/strict-content-type.md
  docs/ko/docs/editor-support.md
  docs/ko/docs/tutorial/server-sent-events.md
  docs/ko/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Correct capitalization of 'Schema' in documentation
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Convert links to markdown style using script from PR#15061
  docs/tr/docs/advanced/advanced-dependencies.md
  docs/tr/docs/advanced/dataclasses.md
  docs/tr/docs/advanced/response-directly.md
  docs/tr/docs/advanced/security/oauth2-scopes.md
  docs/tr/docs/deployment/concepts.md
  docs/tr/docs/deployment/docker.md
  docs/tr/docs/deployment/https.md
  docs/tr/docs/how-to/custom-request-and-route.md
  docs/tr/docs/index.md
  docs/tr/docs/tutorial/handling-errors.md
  docs/tr/docs/tutorial/metadata.md
Due: update-languages, ensure-non-translated, fix-translations

Fix mistakenly swapped links in `tutorial/middleware.md`
  docs/ja/docs/tutorial/middleware.md
Due: update-languages, ensure-non-translated, fix-translations

fix image path
  docs/en/docs/tutorial/query-params.md
Due: add-permalinks-pages, update-languages

fix Callable
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

fix: suppress lint warning for Union return type in schema generation
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

fix: suppress lint warning
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

Update general prompt to instruct to preserve the order of links
  scripts/general-llm-prompt.md
Due: none

On translation retry, pass current result and validation error
  scripts/general-llm-prompt.md
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

Fix links in `index.md`
  docs/ko/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix links styles in `query-params-str-validations.md`
  docs/ko/docs/tutorial/query-params-str-validations.md
Due: update-languages, ensure-non-translated, fix-translations

Convert links to markdown style using script from PR#15061
  docs/ko/docs/alternatives.md
  docs/ko/docs/python-types.md
  docs/ko/docs/tutorial/body.md
  docs/ko/docs/tutorial/path-params-numeric-validations.md
  docs/ko/docs/tutorial/response-status-code.md
  docs/ko/docs/tutorial/security/simple-oauth2.md
  docs/ko/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Fix mistakenly swapped links in `tutorial/middleware.md`
  docs/ko/docs/tutorial/middleware.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/ko/docs/advanced/custom-response.md
  docs/ko/docs/advanced/dataclasses.md
  docs/ko/docs/advanced/security/oauth2-scopes.md
  docs/ko/docs/deployment/concepts.md
  docs/ko/docs/deployment/server-workers.md
  docs/ko/docs/tutorial/metadata.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/ja/docs/advanced/async-tests.md
  docs/ja/docs/advanced/behind-a-proxy.md
  docs/ja/docs/advanced/response-directly.md
  docs/ja/docs/advanced/security/index.md
  docs/ja/docs/advanced/security/oauth2-scopes.md
  docs/ja/docs/deployment/https.md
  docs/ja/docs/deployment/server-workers.md
  docs/ja/docs/how-to/custom-request-and-route.md
  docs/ja/docs/how-to/general.md
  docs/ja/docs/tutorial/query-params.md
Due: update-languages, ensure-non-translated, fix-translations

Fix links styles in `metadata.md`
  docs/ja/docs/tutorial/metadata.md
Due: update-languages, ensure-non-translated, fix-translations

Retranslate `index.md` with improved algorithm (to fix links styles)
  docs/ja/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations
