Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

✨ Add support for `@app.vibe()` (#15280)
  docs/en/docs/advanced/vibe.md
  docs/en/mkdocs.yml
  docs_src/vibe/tutorial001_py310.py
  fastapi/applications.py
  tests/test_vibe.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.135.3
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Add docstrings to exception handlers, security utils, and utility functions
  fastapi/exception_handlers.py
  fastapi/security/utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

docs: mention how to change SSE keep-alive ping interval
  docs/en/docs/tutorial/server-sent-events.md
Due: add-permalinks-pages, update-languages

🔨 Add pre-commit hook to ensure latest release header has date
  .pre-commit-config.yaml
  scripts/add_latest_release_date.py
Due: local-ruff-check, local-ruff-format

perf: Remove is_async_callable check in request_response
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔨 Add pre-commit hook to ensure latest release header has date (#15293)
  .pre-commit-config.yaml
  scripts/add_latest_release_date.py
Due: local-ruff-check, local-ruff-format

fix uv lock
  uv.lock
Due: none

🌐 Add Tamil translation for index.md
  docs/ta/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

fix: pre-commit formatting issues
  docs/ta/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

fix: updated
  docs/ta/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Add AuthStaticFiles to support authentication for static file serving
  docs_src/static_files/tutorial002_auth_py310.py
  fastapi/staticfiles.py
  tests/test_auth_static_files.py
Due: local-ruff-check, local-ruff-format

Pin pre-commit hook by hash
  .pre-commit-config.yaml
Due: none

Move JSONL router test to test_stream_bare_type, add default_response_class tests
  tests/test_sse.py
  tests/test_stream_bare_type.py
Due: local-ruff-check, local-ruff-format

Preserve Annotated dependency metadata for stringified refs
  fastapi/dependencies/utils.py
  tests/test_stringified_annotations_forwardrefs.py
Due: local-ruff-check, local-ruff-format

Add nested forward-ref regression coverage
  fastapi/dependencies/utils.py
  tests/test_stringified_annotations_forwardrefs.py
Due: local-ruff-check, local-ruff-format

Address review feedback: plain text errors, configurable on_error, perf docs
  fastapi/staticfiles.py
  tests/test_auth_static_files.py
Due: local-ruff-check, local-ruff-format

Fix get_path_param_names to strip path converters
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: V-001 security vulnerability
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🔧 Add throwing error on unresolvable annotations and add comprehensive tests
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  tests/test_dependencies_utils.py
  tests/test_unresolvable_annotations/__init__.py
  tests/test_unresolvable_annotations/apps/__init__.py
  tests/test_unresolvable_annotations/apps/annotated_depends_late_type.py
  tests/test_unresolvable_annotations/apps/type_checking_dep_return_type_safe.py
  tests/test_unresolvable_annotations/apps/type_checking_in_dep_param.py
  tests/test_unresolvable_annotations/apps/type_checking_in_endpoint_param.py
  tests/test_unresolvable_annotations/apps/type_checking_in_return_type.py
  tests/test_unresolvable_annotations/apps/type_declared_after_endpoint.py
  tests/test_unresolvable_annotations/apps/valid_type_before_endpoint.py
  tests/test_unresolvable_annotations/test_unresolvable_annotations.py
Due: local-ruff-check, local-ruff-format

Use eval_type_lenient instead of try_eval_type for older Pydantic version
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🔧 Add pragma comments to pass test coverage.
  tests/test_unresolvable_annotations/apps/annotated_depends_late_type.py
  tests/test_unresolvable_annotations/apps/type_declared_after_endpoint.py
Due: local-ruff-check, local-ruff-format

✨ Add per-router exception handlers for APIRouter
  docs/en/docs/advanced/router-exception-handlers.md
  docs/en/docs/reference/apirouter.md
  docs/en/docs/tutorial/handling-errors.md
  docs/en/mkdocs.yml
  docs_src/handling_errors/tutorial007_py310.py
  docs_src/handling_errors/tutorial008_py310.py
  fastapi/routing.py
  tests/test_router_exception_handlers.py
  tests/test_tutorial/test_handling_errors/test_tutorial007.py
  tests/test_tutorial/test_handling_errors/test_tutorial008.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix #13056: Handle Annotated with ForwardRef in OpenAPI generation
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

feat(security, encoders): add cookie/SSO auth helpers and fix pydantic v2 encoder path
  fastapi/encoders.py
  fastapi/security/__init__.py
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
Due: local-ruff-check, local-ruff-format

fix: prevent ClientDisconnect from being misreported as HTTP 400 body parsing error
  fastapi/routing.py
  tests/test_client_disconnect.py
Due: local-ruff-check, local-ruff-format

Resolve `build-docs.yml`
  .github/workflows/build-docs.yml
Due: none

Resolve `contributors.yml`
  .github/workflows/contributors.yml
Due: none

Resolve `add-to-project.yml`
  .github/workflows/add-to-project.yml
Due: none

Resolve `issue-manager.yml`
  .github/workflows/issue-manager.yml
Due: none

Resolve `label-approved.yml`
  .github/workflows/label-approved.yml
Due: none

Resolve `deploy-docs.yml`
  .github/workflows/deploy-docs.yml
Due: none

Resolve `detect-conflicts.yml`
  .github/workflows/detect-conflicts.yml
Due: none

Resolve `latest-changes.yml`
  .github/workflows/latest-changes.yml
Due: none

Resolve `sponsors.yml`
  .github/workflows/sponsors.yml
Due: none

Resolve `test.yml`
  .github/workflows/test.yml
Due: none

Resolve `people.yml`
  .github/workflows/people.yml
Due: none

Resolve `notify-translations.yml`
  .github/workflows/notify-translations.yml
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
