Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

allow enum variation for python 3.9
  tests/test_union_body_discriminator.py
Due: local-ruff-check, local-ruff-format

Improve path params documentation with validation example
  docs/en/docs/tutorial/path-params.md
  docs_src/path_params/tutorial006_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Added test file (test_tutorial006.py for tutorial006.py.
  tests/test_tutorial/test_path_params/test_tutorial006.py
Due: local-ruff-check, local-ruff-format

Updated test file (test_tutorial006.py).
  tests/test_tutorial/test_path_params/test_tutorial006.py
Due: local-ruff-check, local-ruff-format

Document Response subclasses from return annotation in OpenAPI
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_response_class_as_return_annotation.py
  tests/test_response_model_as_return_annotation.py
  tests/test_tutorial/test_response_model/test_tutorial003_02.py
  tests/test_tutorial/test_response_model/test_tutorial003_03.py
  tests/test_tutorial/test_response_model/test_tutorial003_04.py
Due: local-ruff-check, local-ruff-format

fix: response_classes type consistency
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Re-enable translation workflow in CI
  .github/workflows/translate.yml
Due: none

Run translation workflow twice a month
  .github/workflows/translate.yml
Due: none

👷 Re-enable translation workflow run by cron in CI (twice a month) (#15145)
  .github/workflows/translate.yml
Due: none

docs: fix typos in docs/de/docs/_llm-test.md
  docs/de/docs/_llm-test.md
Due: update-languages, ensure-non-translated, fix-translations

Update translation general prompt to ensure link style is respected
  scripts/general-llm-prompt.md
Due: none

🔨 Update translation general prompt to enforce link style in translation matches the original link style (#15148)
  scripts/general-llm-prompt.md
Due: none

add correct typing information
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

add Python 3.14t to the test matrix for lowest and highest boundaries
  .github/workflows/test.yml
Due: none

remove types-orjson
  pyproject.toml
  uv.lock
Due: none

skip orjson tests when it's not installed
  tests/test_default_response_class.py
  tests/test_deprecated_responses.py
  tests/test_orjson_response_class.py
  tests/test_tutorial/test_custom_response/test_tutorial001b.py
  tests/test_tutorial/test_custom_response/test_tutorial009c.py
  tests/utils.py
Due: local-ruff-check, local-ruff-format

Fix `commit_in_place` passed via env variable
  .github/workflows/translate.yml
Due: none

fix type checker
  fastapi/responses.py
Due: local-ruff-check, local-ruff-format

remove orjson from test dependencies
  pyproject.toml
Due: none

remove orjson from uv lock
  uv.lock
Due: none

make test suite robust to ujson not being installed
  fastapi/responses.py
  pyproject.toml
  tests/test_deprecated_responses.py
  tests/test_tutorial/test_custom_response/test_tutorial001.py
  tests/utils.py
  uv.lock
Due: local-ruff-check, local-ruff-format

🔨 Fix `commit_in_place` passed via env variable in `translate.yml` workflow (#15151)
  .github/workflows/translate.yml
Due: none

Don't fail when translation doesn't pass check by translation fixer
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

✨ Add per-router exception handlers for APIRouter
  docs/en/docs/advanced/router-exception-handlers.md
  docs/en/docs/reference/apirouter.md
  docs/en/docs/tutorial/handling-errors.md
  docs/en/mkdocs.yml
  docs_src/handling_errors/tutorial007_py310.py
  docs_src/handling_errors/tutorial008_py310.py
  fastapi/routing.py
  tests/test_router_exception_handlers.py
  tests/test_tutorial/test_handling_errors/test_tutorial007.py
  tests/test_tutorial/test_handling_errors/test_tutorial008.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Clarify required but nullable query parameters behavior
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

docs: fix typos in docs/de/docs/advanced/advanced-dependencies.md
  docs/de/docs/advanced/advanced-dependencies.md
Due: update-languages, ensure-non-translated, fix-translations

fix: include all methods in generate_unique_id to prevent duplicates
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Fix header permalinks conflict with markdown links attributes
  scripts/doc_parsing_utils.py
Due: local-ruff-check, local-ruff-format

fix: improve grammar and punctuation in query-params docs
  docs/en/docs/tutorial/query-params.md
Due: add-permalinks-pages, update-languages

🔨 Tweak translation workflow and translation fixer tool (#15166)
  scripts/doc_parsing_utils.py
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

Fix permalinks conflict with markdown link attributes
  docs/ru/docs/alternatives.md
Due: update-languages, ensure-non-translated, fix-translations

Add missing (part 2)
  docs/ru/docs/advanced/json-base64-bytes.md
  docs/ru/docs/advanced/stream-data.md
  docs/ru/docs/advanced/strict-content-type.md
  docs/ru/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Fix with translation fixer tool
  docs/ru/docs/advanced/response-directly.md
  docs/ru/docs/fastapi-cli.md
  docs/ru/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/ru/docs/tutorial/query-params-str-validations.md
  docs/ru/docs/tutorial/query-params.md
  docs/ru/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for de (add-missing) (#15153)
  docs/de/docs/advanced/json-base64-bytes.md
  docs/de/docs/advanced/stream-data.md
  docs/de/docs/advanced/strict-content-type.md
  docs/de/docs/editor-support.md
  docs/de/docs/tutorial/server-sent-events.md
  docs/de/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Convert links to markdown style using script from PR#15061
  docs/de/docs/advanced/response-directly.md
  docs/de/docs/alternatives.md
  docs/de/docs/deployment/docker.md
  docs/de/docs/index.md
  docs/de/docs/tutorial/bigger-applications.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/de/docs/advanced/dataclasses.md
  docs/de/docs/advanced/path-operation-advanced-configuration.md
  docs/de/docs/deployment/https.md
  docs/de/docs/deployment/server-workers.md
  docs/de/docs/how-to/custom-request-and-route.md
  docs/de/docs/tutorial/path-params-numeric-validations.md
  docs/de/docs/tutorial/query-params-str-validations.md
  docs/de/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
