Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🔥 Remove slim package stub, deprecated for a while
  fastapi-slim/README.md
Due: none

🔥 Remove slim package stub, deprecated for a while (#15649)
  fastapi-slim/README.md
Due: none

docs: add Simplified Chinese README (README.zh.md)
  README.zh.md
Due: none

docs: add module-level docstring to logger module
  fastapi/logger.py
Due: local-ruff-check, local-ruff-format

docs: add module-level docstring to types module
  fastapi/types.py
Due: local-ruff-check, local-ruff-format

Apply custom encoders to model fields
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

docs: add module-level docstring to concurrency module
  fastapi/concurrency.py
Due: local-ruff-check, local-ruff-format

docs: add module-level docstring to exception_handlers module
  fastapi/exception_handlers.py
Due: local-ruff-check, local-ruff-format

docs: add module-level docstring to websockets module
  fastapi/websockets.py
Due: local-ruff-check, local-ruff-format

docs: add module-level docstrings to staticfiles and templating modules
  fastapi/staticfiles.py
  fastapi/templating.py
Due: local-ruff-check, local-ruff-format

docs: add module-level docstring to utils module
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Preserve model field encoder options
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Limit custom encoder fallback to custom paths
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Support custom encoder fallback on older Pydantic
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Apply custom encoders to model field values
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

👷 Automate release preparation
  .github/workflows/create-draft-release.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  pyproject.toml
  scripts/prepare_release.py
  tests/test_prepare_release.py
  uv.lock
Due: local-ruff-check, local-ruff-format

👷 Automate release preparation (#15661)
  .github/workflows/create-draft-release.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  pyproject.toml
  scripts/prepare_release.py
  tests/test_prepare_release.py
  uv.lock
Due: local-ruff-check, local-ruff-format

👥 Update FastAPI People - Contributors and Translators (#15662)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages

Fix broken `management-tasks.md` links in fastapi-people.md
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, update-languages

Apply suggestion from @YuriiMotov
  docs/ru/docs/help-fastapi.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ru (update-outdated) (#15674)
  docs/ru/docs/_llm-test.md
  docs/ru/docs/alternatives.md
  docs/ru/docs/async.md
  docs/ru/docs/fastapi-cli.md
  docs/ru/docs/features.md
  docs/ru/docs/help-fastapi.md
  docs/ru/docs/python-types.md
  docs/ru/docs/tutorial/bigger-applications.md
  docs/ru/docs/tutorial/header-params.md
  docs/ru/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for uk (update-outdated) (#15672)
  docs/uk/docs/_llm-test.md
  docs/uk/docs/alternatives.md
  docs/uk/docs/async.md
  docs/uk/docs/fastapi-cli.md
  docs/uk/docs/features.md
  docs/uk/docs/help-fastapi.md
  docs/uk/docs/python-types.md
  docs/uk/docs/tutorial/bigger-applications.md
  docs/uk/docs/tutorial/debugging.md
  docs/uk/docs/tutorial/header-params.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for de (update-outdated) (#15673)
  docs/de/docs/_llm-test.md
  docs/de/docs/alternatives.md
  docs/de/docs/async.md
  docs/de/docs/fastapi-cli.md
  docs/de/docs/features.md
  docs/de/docs/help-fastapi.md
  docs/de/docs/python-types.md
  docs/de/docs/tutorial/bigger-applications.md
  docs/de/docs/tutorial/debugging.md
  docs/de/docs/tutorial/header-params.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ko (update-outdated) (#15664)
  docs/ko/docs/_llm-test.md
  docs/ko/docs/alternatives.md
  docs/ko/docs/async.md
  docs/ko/docs/fastapi-cli.md
  docs/ko/docs/features.md
  docs/ko/docs/help-fastapi.md
  docs/ko/docs/python-types.md
  docs/ko/docs/tutorial/bigger-applications.md
  docs/ko/docs/tutorial/debugging.md
  docs/ko/docs/tutorial/header-params.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh (update-outdated) (#15665)
  docs/zh/docs/_llm-test.md
  docs/zh/docs/alternatives.md
  docs/zh/docs/async.md
  docs/zh/docs/fastapi-cli.md
  docs/zh/docs/features.md
  docs/zh/docs/help-fastapi.md
  docs/zh/docs/python-types.md
  docs/zh/docs/tutorial/bigger-applications.md
  docs/zh/docs/tutorial/header-params.md
  docs/zh/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for tr (update-outdated) (#15666)
  docs/tr/docs/_llm-test.md
  docs/tr/docs/alternatives.md
  docs/tr/docs/async.md
  docs/tr/docs/fastapi-cli.md
  docs/tr/docs/features.md
  docs/tr/docs/help-fastapi.md
  docs/tr/docs/python-types.md
  docs/tr/docs/tutorial/bigger-applications.md
  docs/tr/docs/tutorial/debugging.md
  docs/tr/docs/tutorial/header-params.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for pt (update-outdated) (#15667)
  docs/pt/docs/_llm-test.md
  docs/pt/docs/alternatives.md
  docs/pt/docs/async.md
  docs/pt/docs/fastapi-cli.md
  docs/pt/docs/features.md
  docs/pt/docs/help-fastapi.md
  docs/pt/docs/python-types.md
  docs/pt/docs/tutorial/bigger-applications.md
  docs/pt/docs/tutorial/debugging.md
  docs/pt/docs/tutorial/header-params.md
Due: update-languages, ensure-non-translated, fix-translations

Revert wrongly replaced admonition titles
  docs/ja/docs/alternatives.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ja (update-outdated) (#15668)
  docs/ja/docs/_llm-test.md
  docs/ja/docs/alternatives.md
  docs/ja/docs/async.md
  docs/ja/docs/fastapi-cli.md
  docs/ja/docs/features.md
  docs/ja/docs/help-fastapi.md
  docs/ja/docs/python-types.md
  docs/ja/docs/tutorial/bigger-applications.md
  docs/ja/docs/tutorial/debugging.md
  docs/ja/docs/tutorial/header-params.md
Due: update-languages, ensure-non-translated, fix-translations

👥 Update FastAPI GitHub topic repositories (#15675)
  docs/en/data/topic_repos.yml
Due: update-languages

Forward exclude_defaults when jsonable_encoder recurses into dict values
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

👥 Update FastAPI People - Experts (#15677)
  docs/en/data/people.yml
Due: update-languages

🌐 Update translations for fr (update-outdated) (#15669)
  docs/fr/docs/_llm-test.md
  docs/fr/docs/alternatives.md
  docs/fr/docs/async.md
  docs/fr/docs/fastapi-cli.md
  docs/fr/docs/features.md
  docs/fr/docs/help-fastapi.md
  docs/fr/docs/python-types.md
  docs/fr/docs/tutorial/bigger-applications.md
  docs/fr/docs/tutorial/header-params.md
  docs/fr/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for es (update-outdated) (#15670)
  docs/es/docs/_llm-test.md
  docs/es/docs/alternatives.md
  docs/es/docs/async.md
  docs/es/docs/fastapi-cli.md
  docs/es/docs/features.md
  docs/es/docs/help-fastapi.md
  docs/es/docs/python-types.md
  docs/es/docs/tutorial/bigger-applications.md
  docs/es/docs/tutorial/header-params.md
  docs/es/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh-hant (update-outdated) (#15671)
  docs/zh-hant/docs/_llm-test.md
  docs/zh-hant/docs/alternatives.md
  docs/zh-hant/docs/async.md
  docs/zh-hant/docs/fastapi-cli.md
  docs/zh-hant/docs/features.md
  docs/zh-hant/docs/help-fastapi.md
  docs/zh-hant/docs/python-types.md
  docs/zh-hant/docs/tutorial/bigger-applications.md
  docs/zh-hant/docs/tutorial/header-params.md
  docs/zh-hant/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Improve README documentation
  README.md
Due: none

Fix typo: remove duplicate "for" in release-notes.md
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔧 Update sponsors: Remove TestMu
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: Remove TestMu (#15688)
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors, add Rapidproxy
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/rapidproxy.png
Due: generate-readme, update-languages

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
