Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

fix typo: double period (です。。 -> です。)
  docs/ja/docs/tutorial/response-status-code.md
Due: update-languages, ensure-non-translated, fix-translations

Add tests for form data validation and optional fields
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

improve(prompt): Turkish translation prompt has been improved.
  docs/tr/llm-prompt.md
Due: update-languages, ensure-non-translated

YAML needed to run doc drift
  .github/workflows/docs-drift.yml
Due: none

Add rate limiting configuration options
  fastapi/new_config.py
Due: local-ruff-check, local-ruff-format

Apply suggestions from code review
  docs/ru/docs/advanced/path-operation-advanced-configuration.md
  docs/ru/docs/how-to/separate-openapi-schemas.md
  docs/ru/docs/index.md
  docs/ru/docs/tutorial/bigger-applications.md
  docs/ru/docs/tutorial/body-updates.md
  docs/ru/docs/tutorial/extra-models.md
  docs/ru/docs/tutorial/query-params-str-validations.md
  docs/ru/docs/tutorial/response-model.md
  docs/ru/docs/tutorial/schema-extra-example.md
Due: update-languages, ensure-non-translated, fix-translations

Apply suggestions from code review 2
  docs/ru/docs/tutorial/bigger-applications.md
  docs/ru/docs/tutorial/response-model.md
Due: update-languages, ensure-non-translated, fix-translations

Add some specific translations
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated

🔧 Update sponsors, LambdaTest changes to TestMu AI
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/testmu.png
Due: generate-readme, update-languages

🔧 Update sponsors, LambdaTest changes to TestMu AI (#14734)
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/testmu.png
Due: generate-readme, update-languages

🔧 Update sponsors: remove Requestly
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove Requestly (#14735)
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

Improve newsletter page with clear description and context
  docs/en/docs/newsletter.md
Due: add-permalinks-pages, update-languages

Update outdated pages found by fixer tool
  docs/ko/docs/async.md
  docs/ko/docs/fastapi-cli.md
  docs/ko/docs/features.md
  docs/ko/docs/help-fastapi.md
  docs/ko/docs/history-design-future.md
Due: update-languages, ensure-non-translated, fix-translations

Update outdated pages found by fixer tool
  docs/uk/docs/alternatives.md
  docs/uk/docs/fastapi-cli.md
  docs/uk/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update Korean llm_prompt.md
  docs/ko/llm-prompt.md
Due: update-languages, ensure-non-translated

Re-translate with updated prompt (fixed translation for `you`)
  docs/ko/docs/async.md
  docs/ko/docs/help-fastapi.md
Due: update-languages, ensure-non-translated, fix-translations

Fix errors found by translation fixer tool
  docs/ja/docs/tutorial/handling-errors.md
  docs/ja/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Revert "Fix HTTP Basic realm handling (RFC 7617)"
  fastapi/security/http.py
  tests/test_security_http_base.py
Due: local-ruff-check, local-ruff-format

fix: insecure-document-method-226
  docs/en/docs/js/termynal.js
Due: update-languages

Define style for <dfn> tag
  docs/en/docs/css/custom.css
Due: update-languages

Fix abbreviations to follow the template
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

Change abbr tag to dfn for definitions and notes
  docs/en/docs/advanced/dataclasses.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
  docs/en/docs/alternatives.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/https.md
  docs/en/docs/features.md
  docs/en/docs/index.md
  docs/en/docs/python-types.md
  docs/en/docs/tutorial/cookie-param-models.md
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/en/docs/tutorial/dependencies/index.md
  docs/en/docs/tutorial/dependencies/sub-dependencies.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/path-operation-configuration.md
  docs/en/docs/tutorial/path-params.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/query-params.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/schema-extra-example.md
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, generate-readme, update-languages

🌐 Improve LLM prompt for Turkish translations (#14728)
  docs/tr/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update Korean LLM prompt (#14740)
  docs/ko/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update translations for pt (update-outdated) (#14724)
  docs/pt/docs/_llm-test.md
  docs/pt/docs/advanced/path-operation-advanced-configuration.md
  docs/pt/docs/advanced/settings.md
  docs/pt/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/pt/docs/how-to/separate-openapi-schemas.md
  docs/pt/docs/index.md
  docs/pt/docs/tutorial/bigger-applications.md
  docs/pt/docs/tutorial/body-updates.md
  docs/pt/docs/tutorial/body.md
  docs/pt/docs/tutorial/extra-models.md
  docs/pt/docs/tutorial/query-params-str-validations.md
  docs/pt/docs/tutorial/response-model.md
  docs/pt/docs/tutorial/schema-extra-example.md
Due: update-languages, ensure-non-translated, fix-translations

Simplify prompt for `abbr` tag and add instructions for `dfn` tag
  scripts/general-llm-prompt.md
Due: none

⬆️ Bump Starlette to <`0.53.0`
  pyproject.toml
  uv.lock
Due: none

Update `_llm-test.md`
  docs/en/docs/_llm-test.md
Due: add-permalinks-pages, update-languages

Apply suggestions from code review 3
  docs/ru/docs/_llm-test.md
  docs/ru/docs/advanced/path-operation-advanced-configuration.md
  docs/ru/docs/index.md
  docs/ru/docs/tutorial/body.md
  docs/ru/docs/tutorial/query-params-str-validations.md
Due: update-languages, ensure-non-translated, fix-translations

Use sorted() rather than list() for consistent operation_id naming
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

🌐 Update translations for ru (update-outdated) (#14693)
  docs/ru/docs/_llm-test.md
  docs/ru/docs/advanced/path-operation-advanced-configuration.md
  docs/ru/docs/advanced/settings.md
  docs/ru/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/ru/docs/how-to/separate-openapi-schemas.md
  docs/ru/docs/index.md
  docs/ru/docs/tutorial/bigger-applications.md
  docs/ru/docs/tutorial/body-updates.md
  docs/ru/docs/tutorial/body.md
  docs/ru/docs/tutorial/extra-models.md
  docs/ru/docs/tutorial/query-params-str-validations.md
  docs/ru/docs/tutorial/response-model.md
  docs/ru/docs/tutorial/schema-extra-example.md
Due: update-languages, ensure-non-translated, fix-translations

Re-translate existing `_llm-test.md` files for supported languages
  docs/de/docs/_llm-test.md
  docs/es/docs/_llm-test.md
  docs/ko/docs/_llm-test.md
  docs/pt/docs/_llm-test.md
  docs/ru/docs/_llm-test.md
Due: update-languages, ensure-non-translated, fix-translations

Apply suggestions from code review
  docs/de/docs/_llm-test.md
  docs/de/docs/tutorial/bigger-applications.md
Due: update-languages, ensure-non-translated, fix-translations

docs: clarify required query params that can represent None
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

Integrate check_translation function to translate_page - retry up to 3 times if translation check failed
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

Improve clarification for `fixed`
  docs/en/docs/deployment/https.md
Due: add-permalinks-pages, update-languages
