Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🐛 Drop Cache-Control from JSONL streaming, keep only X-Accel-Buffering, document behavior
  docs/en/docs/tutorial/stream-json-lines.md
  fastapi/routing.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Let path operations override X-Accel-Buffering on JSONL streaming responses
  docs/en/docs/tutorial/stream-json-lines.md
  fastapi/routing.py
  tests/test_stream_json_lines_headers.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

tests: add focused unit tests for utils.deep_dict_update and get_value_or_default
  tests/__init__.py
  tests/tests_utils.py
Due: local-ruff-check, local-ruff-format

tests: fix utils tests to use non-placeholder real value
  tests/tests_utils.py
Due: local-ruff-check, local-ruff-format

Add GitHub Actions workflow for running tests
  .github/workflows/run-tests.yml
Due: none

Update dependencies in run-tests.yml
  .github/workflows/run-tests.yml
Due: none

Fix missing newline at end of tests_utils.py
  tests/tests_utils.py
Due: local-ruff-check, local-ruff-format

tests: remove patch metadata from tests/__init__.py
  tests/__init__.py
Due: local-ruff-check, local-ruff-format

Update Python version format in workflow
  .github/workflows/run-tests.yml
Due: none

fix: add mypy import ignore in encoders and skip marker for fastapi-cli test
  fastapi/encoders.py
  tests/test_fastapi_cli.py
Due: local-ruff-check, local-ruff-format

fix: add skip marker for fastapi-cli subprocess test when CLI is not installed
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

✨ Add automatic frontend directory checks
  docs/en/docs/tutorial/frontend.md
  fastapi/applications.py
  fastapi/routing.py
  pyproject.toml
  tests/test_frontend.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✨ Add `app.frontend(check_dir="auto")`, to make local development more convenient with `fastapi dev` (#16102)
  docs/en/docs/tutorial/frontend.md
  fastapi/applications.py
  fastapi/routing.py
  pyproject.toml
  tests/test_frontend.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.141.0 (#16103)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Document FASTAPI_ENV in FastAPI CLI guide
  docs/en/docs/fastapi-cli.md
Due: add-permalinks-pages, update-languages

📝 Document `FASTAPI_ENV` in FastAPI CLI guide (#16104)
  docs/en/docs/fastapi-cli.md
Due: add-permalinks-pages, update-languages

🐛 Fix support for background tasks and headers from dependencies in `app.frontend()`
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Fix support for background tasks and headers from dependencies in `app.frontend()` (#16105)
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.141.1 (#16106)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⚡️ Optimize minimal async request path
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🐛 Fix PEP 695 sequence aliases in form models
  fastapi/_compat/shared.py
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

Replace user-facing assert with FastAPIError exceptions
  fastapi/applications.py
  fastapi/dependencies/utils.py
  fastapi/params.py
  fastapi/responses.py
  fastapi/routing.py
  tests/test_ambiguous_params.py
  tests/test_invalid_path_param.py
  tests/test_invalid_sequence_param.py
  tests/test_router_circular_import.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

Add tests for FastAPIError coverage gaps
  tests/test_assert_replacement_coverage.py
Due: local-ruff-check, local-ruff-format

Move imports to top of file to fix pre-commit ruff check (E402)
  tests/test_assert_replacement_coverage.py
Due: local-ruff-check, local-ruff-format

Fix pre-commit ty check and coverage gaps
  fastapi/dependencies/utils.py
  tests/test_assert_replacement_coverage.py
Due: local-ruff-check, local-ruff-format

Implement tests for app-level default response class
  tests/test_dump_json_fast_path.py
Due: local-ruff-check, local-ruff-format

🐛 Fix header parameter case-sensitivity for Pydantic models with uppercase aliases
  fastapi/dependencies/utils.py
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

docs: add async lifespan testing example
  docs/en/docs/advanced/async-tests.md
  docs_src/async_tests/app_b_py310/__init__.py
  docs_src/async_tests/app_b_py310/main.py
  docs_src/async_tests/app_b_py310/test_main.py
  pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

👥 Update FastAPI People - Sponsors (#16119)
  docs/en/data/github_sponsors.yml
Due: update-languages

👥 Update FastAPI GitHub topic repositories (#16122)
  docs/en/data/topic_repos.yml
Due: update-languages

Resolve ty complains
  fastapi/security/api_key.py
  scripts/deploy_docs_status.py
  scripts/label_approved.py
  scripts/notify_translations.py
  scripts/sponsors.py
  scripts/topic_repos.py
  tests/test_jsonable_encoder.py
  tests/test_serialize_response_model.py
  tests/test_skip_defaults.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Use buttons for Termynal controls
  docs/en/docs/css/termynal.css
  docs/en/docs/js/termynal.js
Due: update-languages

🐛 Use buttons for Termynal controls (#16132)
  docs/en/docs/css/termynal.css
  docs/en/docs/js/termynal.js
Due: update-languages

fix: close broken markdown links in Query() docstrings
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

fix: prevent UnboundLocalError for status_code in OpenAPI generation
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: use proper tuple-based version comparison instead of string comparison
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

fix: remove dead 'is not None' check for getsourcelines()
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

docs: update include syntax to new format in generate-clients, templates, python-types
  docs/en/docs/advanced/generate-clients.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/python-types.md
Due: add-permalinks-pages, update-languages

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
