Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

✨ Improve security utilities and add tests
  fastapi/security/utils.py
  tests/test_security_http_base.py
  tests/test_security_oauth2_authorization_code_bearer.py
Due: local-ruff-check, local-ruff-format

Fix support for unevaluated stringified annotations (Python 3.14)
  fastapi/dependencies/utils.py
  tests/test_stringified_annotation_dependency_py314.py
  tests/utils.py
Due: local-ruff-check, local-ruff-format

Remove xfail mark on test that now works with python 3.14
  tests/test_tutorial/test_dependencies/test_tutorial008.py
Due: local-ruff-check, local-ruff-format

🌐 Update translations for tr (update-outdated) (#14745)
  docs/tr/docs/about/index.md
  docs/tr/docs/advanced/index.md
  docs/tr/docs/advanced/security/index.md
  docs/tr/docs/advanced/testing-websockets.md
  docs/tr/docs/advanced/wsgi.md
  docs/tr/docs/benchmarks.md
  docs/tr/docs/deployment/cloud.md
  docs/tr/docs/deployment/index.md
  docs/tr/docs/how-to/general.md
  docs/tr/docs/how-to/index.md
  docs/tr/docs/index.md
  docs/tr/docs/learn/index.md
  docs/tr/docs/project-generation.md
  docs/tr/docs/python-types.md
  docs/tr/docs/resources/index.md
  docs/tr/docs/tutorial/cookie-params.md
  docs/tr/docs/tutorial/first-steps.md
  docs/tr/docs/tutorial/path-params.md
  docs/tr/docs/tutorial/query-params.md
  docs/tr/docs/tutorial/request-forms.md
  docs/tr/docs/tutorial/static-files.md
Due: update-languages, ensure-non-translated, fix-translations

feat: automatically support HEAD method for all GET routes (#1773)
  fastapi/openapi/utils.py
  fastapi/routing.py
  fastapi/utils.py
  tests/test_extra_routes.py
  tests/test_head_method.py
Due: local-ruff-check, local-ruff-format

fix: enable mounting sub-applications under APIRouter (#10180)
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

fix: allow Response type hint as dependency annotation (#10127)
  fastapi/dependencies/utils.py
  tests/test_response_dependency.py
Due: local-ruff-check, local-ruff-format

🌐 Update translations for uk (update outdated, found by fixer tool) (#14739)
  docs/uk/docs/alternatives.md
  docs/uk/docs/fastapi-cli.md
  docs/uk/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Add new translations of terms to uk to LLM prompt
  docs/uk/llm-prompt.md
Due: update-languages, ensure-non-translated

Change translations and add new instructions
  docs/uk/llm-prompt.md
Due: update-languages, ensure-non-translated

Change translations
  docs/uk/llm-prompt.md
Due: update-languages, ensure-non-translated

👥 Update FastAPI People - Contributors and Translators (#14796)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages

👥 Update FastAPI GitHub topic repositories (#14803)
  docs/en/data/topic_repos.yml
Due: update-languages

test: add tests for Request, BackgroundTasks, and new Response instance
  tests/test_response_dependency.py
Due: local-ruff-check, local-ruff-format

fixed bug introduced in 0.124.1
  fastapi/_compat/v2.py
  tests/test_union_single_root_model_openapi.py
Due: local-ruff-check, local-ruff-format

Fix non-deterministic openapi spec
  fastapi/_compat/v2.py
  tests/test_duplicate_model_names_openapi/__init__.py
  tests/test_duplicate_model_names_openapi/a/__init__.py
  tests/test_duplicate_model_names_openapi/a/model.py
  tests/test_duplicate_model_names_openapi/app.py
  tests/test_duplicate_model_names_openapi/b/__init__.py
  tests/test_duplicate_model_names_openapi/b/model.py
  tests/test_duplicate_model_names_openapi/c/__init__.py
  tests/test_duplicate_model_names_openapi/c/model.py
  tests/test_duplicate_model_names_openapi/test_duplicate_model_names_openapi.py
Due: local-ruff-check, local-ruff-format

Run mypy in pre-commit
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Address mypy warnings
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Remove useless `--group tests` from `pre-commit.yml` workflow
  .github/workflows/pre-commit.yml
Due: none

🔧 Tweak mypy config in pre-commit
  .pre-commit-config.yaml
Due: none

⏪️ Revert "🔧 Tweak mypy config in pre-commit"
  .pre-commit-config.yaml
Due: none

bg fixes and feature addition
  .claude/hooks/capture_session_event.py
  .claude/hooks/claude_code_capture_utils.py
  .claude/hooks/process_transcript.py
  .claude/settings.local.json
  fastapi/__init__.py
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/background.py
  fastapi/lifespan.py
  fastapi/openapi/_profiling.py
  fastapi/openapi/plugins.py
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/benchmarks/test_openapi_performance.py
  tests/test_background_tasks_async_race.py
  tests/test_background_tasks_bugs.py
  tests/test_background_tasks_dependency_access.py
  tests/test_background_tasks_fixes.py
  tests/test_background_tasks_yield_scope.py
  tests/test_lifespan_unified.py
  tests/test_openapi_plugins.py
Due: local-ruff-check, local-ruff-format

Skip running mypy if no Python files changed
  .pre-commit-config.yaml
Due: none

Remove `types: [python]` from mypy hook in `pre-commit.yaml`
  .pre-commit-config.yaml
Due: none

Add regression test for Annotated ForwardRef dependency
  tests/test_dependency_wrapped.py
Due: local-ruff-check, local-ruff-format

Update other occurrences of the phrase
  docs/en/docs/deployment/fastapicloud.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, generate-readme, update-languages

Add banner to translated pages
  docs/en/mkdocs.yml
  docs/en/translation-banner.md
  docs/ru/translation-banner.md
  scripts/mkdocs_hooks.py
Due: local-ruff-check, local-ruff-format, update-languages, ensure-non-translated

👷 Run mypy by pre-commit (#14806)
  .pre-commit-config.yaml
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Move ForwardRef annotated dependency test to dedicated module
  tests/test_forwardref_in_annotation.py
Due: local-ruff-check, local-ruff-format

👷 Run tests only on relevant code changes (not on docs)
  .github/workflows/test.yml
Due: none

💡 Update comment for Pydantic internals
  fastapi/_compat/shared.py
Due: local-ruff-check, local-ruff-format

👷 Run tests only on relevant code changes (not on docs) (#14813)
  .github/workflows/test.yml
Due: none

💡 Update comment for Pydantic internals (#14814)
  fastapi/_compat/shared.py
Due: local-ruff-check, local-ruff-format

📝 Use `WSGIMiddleware` from `a2wsgi` instead of deprecated `fastapi.middleware.wsgi.WSGIMiddleware` (#14756)
  docs/en/docs/advanced/wsgi.md
  docs/en/docs/reference/middleware.md
  docs_src/wsgi/tutorial001_py39.py
  fastapi/middleware/wsgi.py
  pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add link to English version. Use modern syntax for details block
  docs/en/mkdocs.yml
  docs/en/translation-banner.md
  docs/ru/translation-banner.md
  scripts/mkdocs_hooks.py
Due: local-ruff-check, local-ruff-format, update-languages, ensure-non-translated

🔨 Update translation script to retry if LLM-response doesn't pass validation with Translation Fixer tool (#14749)
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

📝 Use return type annotation instead of `response_model` when possible (#14753)
  docs/en/docs/tutorial/path-operation-configuration.md
  docs_src/app_testing/app_b_an_py310/main.py
  docs_src/app_testing/app_b_an_py39/main.py
  docs_src/app_testing/app_b_py310/main.py
  docs_src/app_testing/app_b_py39/main.py
  docs_src/body_updates/tutorial002_py310.py
  docs_src/body_updates/tutorial002_py39.py
  docs_src/path_operation_advanced_configuration/tutorial004_py310.py
  docs_src/path_operation_advanced_configuration/tutorial004_py39.py
  docs_src/path_operation_configuration/tutorial001_py310.py
  docs_src/path_operation_configuration/tutorial001_py39.py
  docs_src/path_operation_configuration/tutorial002_py310.py
  docs_src/path_operation_configuration/tutorial002_py39.py
  docs_src/path_operation_configuration/tutorial003_py310.py
  docs_src/path_operation_configuration/tutorial003_py39.py
  docs_src/path_operation_configuration/tutorial004_py310.py
  docs_src/path_operation_configuration/tutorial004_py39.py
  docs_src/path_operation_configuration/tutorial005_py310.py
  docs_src/path_operation_configuration/tutorial005_py39.py
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial004_py39.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
  docs_src/security/tutorial005_py310.py
  docs_src/security/tutorial005_py39.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages
