Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

fix: replace mutable default arg with None and add encoding='utf-8' to open() calls
  fastapi/_compat/v2.py
  scripts/add_latest_release_date.py
Due: local-ruff-check, local-ruff-format

📝 Clarify required query parameter that can be None
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

🐛 Propagate `stream_item_type` through `include_router` for SSE / JSONL routes (#15401)
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

15498: Enable Pydantic polymorphic_serialization flag on response serialization
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/routing.py
  tests/test_response_model_polymorphic_serialization.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for SSE (EventSourceResponse) with yield dependencies
  tests/test_dependency_after_yield_sse.py
Due: local-ruff-check, local-ruff-format

✅ Add more tests for SSE (EventSourceResponse) with yield dependencies
  tests/test_dependency_after_yield_sse.py
Due: local-ruff-check, local-ruff-format

bump ty lowerbound to 0.0.25
  pyproject.toml
Due: none

various type fixes and cleanup
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/cli.py
  fastapi/dependencies/utils.py
  fastapi/encoders.py
  fastapi/openapi/models.py
  fastapi/openapi/utils.py
  fastapi/params.py
  fastapi/responses.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

uv sync
  uv.lock
Due: none

more type fixes
  fastapi/encoders.py
  fastapi/openapi/utils.py
  fastapi/params.py
  fastapi/responses.py
Due: local-ruff-check, local-ruff-format

add explicit error on warning
  pyproject.toml
Due: none

remove unused comment
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: handle custom APIRoute classes without strict_content_type parameter
  fastapi/routing.py
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

fix: use dict literal instead of dict() call to satisfy ruff C408
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: move stray import to top of file (E402)
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

fix: move stray imports to top of test file (E402)
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

Improve wording in virtual environments documentation
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, update-languages

Add OpenAPI callback tutorial example
  .gitignore
  docs_src/openapi_callbacks/tutorial002_py310.py
Due: local-ruff-check, local-ruff-format

Add tests for OpenAPI callback tutorial
  tests/test_tutorial/test_openapi_callbacks/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

fix(routing): conditionally pass strict_content_type to custom APIRoute classes (#15503)
  fastapi/routing.py
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

fix: use post-yield check in _async_iter for 100% coverage
  tests/test_dependency_after_yield_sse.py
Due: local-ruff-check, local-ruff-format

Fix formatting
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

📝 Clarify Required can be None for query params
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

fix(sse): preserve trailing newlines + use spec-correct line splitting in format_sse_event
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Add warning about BackgroundTasks with direct Response
  docs/en/docs/advanced/response-directly.md
Due: add-permalinks-pages, update-languages

docs: clarify that required query params cannot be None in #12419
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

Fix Annotated forward ref resolution with from __future__ import annotations
  fastapi/dependencies/utils.py
  tests/test_annotated_forward_ref.py
Due: local-ruff-check, local-ruff-format

Fix ForwardRef._evaluate() keyword-only argument for Python 3.13+
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Fix ForwardRef._evaluate() missing type_params for Python 3.14+
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Fix: type_params needed on Python 3.13+ too
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

ruff format fix
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Fix pre-commit and Python 3.14 test CI failures
  fastapi/dependencies/utils.py
  tests/test_annotated_forward_ref.py
Due: local-ruff-check, local-ruff-format

Fix mypy/ty by using _evaluate, fix dict type args, ignore deprecation warning
  fastapi/dependencies/utils.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

🔧 Add sponsor: TalorData
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/talordata.png
Due: generate-readme, update-languages

🔧 Add sponsor: TalorData (#15531)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/talordata.png
Due: generate-readme, update-languages

🔧 Update sponsors badge
  docs/en/data/sponsors_badge.yml
Due: update-languages

🔧 Update sponsors badge (#15532)
  docs/en/data/sponsors_badge.yml
Due: update-languages

🔧 Remove Ruff ignored rule
  pyproject.toml
Due: none

Revert "remove unused comment"
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
