Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Fix "await for" -> "await"
  docs/en/docs/advanced/websockets.md
Due: add-permalinks-pages, update-languages

Fix broken markdown and double whitespace in docstrings
  fastapi/openapi/docs.py
  fastapi/param_functions.py
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

Clarify cookie parameter validation error will only happen for required parameter
  docs/en/docs/tutorial/cookie-params.md
Due: add-permalinks-pages, update-languages

Fix "re-use" -> "reuse"
  docs/en/docs/tutorial/cookie-param-models.md
  docs/en/docs/tutorial/header-param-models.md
  docs/en/docs/tutorial/query-param-models.md
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix out-of-range line numbers in highlights
  docs/en/docs/advanced/response-headers.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/tutorial/body-updates.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Add missing comma after an introductory clause
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

Fix broken markdown (missing whitespace) in `docs/zh/docs/tutorial/security/index.md`
  docs/zh/docs/tutorial/security/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix inconsistent variable names in text and code in "query-params-str-validations.md"
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

Fix endpoint function name in `extra_data_types` code example
  docs_src/extra_data_types/tutorial001_an_py310.py
  docs_src/extra_data_types/tutorial001_py310.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

Fix "Starlette's exceptions is renamed" -> "Starlette's exception class is renamed"
  docs/en/docs/tutorial/handling-errors.md
Due: add-permalinks-pages, update-languages

Fix outdated anchor
  docs/en/docs/advanced/path-operation-advanced-configuration.md
Due: add-permalinks-pages, update-languages

✅ Fix frontend test timeout with Starlette Git
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

✅ Fix frontend test timeout with Starlette Git (#16408)
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

🐛 Encode non-finite floats in validation error responses
  fastapi/exception_handlers.py
  tests/test_validation_error_nonfinite_input.py
Due: local-ruff-check, local-ruff-format

🐛 Fix 500 instead of 422 when validation errors contain non-finite floats
  fastapi/exception_handlers.py
  tests/test_nonfinite_validation_errors.py
Due: local-ruff-check, local-ruff-format

📝 Document native OpenTelemetry in the FastAPI skill
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Add FastAPI Cloud metrics screenshot to OpenTelemetry docs
  docs/en/docs/advanced/opentelemetry.md
  docs/en/docs/img/tutorial/opentelemetry/image01.png
Due: add-permalinks-pages, update-languages

✨ Add native OpenTelemetry support (#16403)
  docs/en/docs/advanced/opentelemetry.md
  docs/en/docs/img/tutorial/opentelemetry/image01.png
  docs/en/mkdocs.yml
  docs_src/opentelemetry/tutorial001_py310.py
  docs_src/opentelemetry/tutorial002_py310.py
  docs_src/opentelemetry/tutorial003_py310.py
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/applications.py
  fastapi/background.py
  fastapi/routing.py
  fastapi/telemetry/__init__.py
  fastapi/telemetry/_api.py
  fastapi/telemetry/_asgi.py
  fastapi/telemetry/_runtime.py
  pyproject.toml
  tests/test_telemetry/__init__.py
  tests/test_telemetry/_otlp.py
  tests/test_telemetry/_subprocess.py
  tests/test_telemetry/conftest.py
  tests/test_telemetry/test_background.py
  tests/test_telemetry/test_data.py
  tests/test_telemetry/test_environment_integrations.py
  tests/test_telemetry/test_exceptions.py
  tests/test_telemetry/test_http.py
  tests/test_telemetry/test_integrations.py
  tests/test_telemetry/test_native_integrations.py
  tests/test_telemetry/test_operations.py
  tests/test_telemetry/test_runtime.py
  tests/test_telemetry/test_semantic_conventions.py
  tests/test_telemetry/test_websockets.py
  tests/test_tutorial/test_opentelemetry/__init__.py
  tests/test_tutorial/test_opentelemetry/conftest.py
  tests/test_tutorial/test_opentelemetry/test_tutorial001.py
  tests/test_tutorial/test_opentelemetry/test_tutorial002.py
  tests/test_tutorial/test_opentelemetry/test_tutorial003.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Ensure SSE endpoint generators and checkpoint streams are closed on disconnect
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Fix repeated endpoint wrapping in included routers
  fastapi/routing.py
  tests/test_route_handler_wrapping.py
Due: local-ruff-check, local-ruff-format

🐛 Fix repeated endpoint wrapping in included routers (#16414)
  fastapi/routing.py
  tests/test_route_handler_wrapping.py
Due: local-ruff-check, local-ruff-format

⚡️ Use `TypeAdapter.validate_json` instead of `json.loads`
  docs/de/docs/tutorial/handling-errors.md
  docs/en/docs/tutorial/handling-errors.md
  docs/es/docs/tutorial/handling-errors.md
  docs/fr/docs/tutorial/handling-errors.md
  docs/ja/docs/tutorial/handling-errors.md
  docs/ko/docs/tutorial/handling-errors.md
  docs/pt/docs/tutorial/handling-errors.md
  docs/ru/docs/tutorial/handling-errors.md
  docs/tr/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/zh-hant/docs/tutorial/handling-errors.md
  docs/zh/docs/tutorial/handling-errors.md
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_telemetry/test_data.py
  tests/test_tutorial/test_body/test_tutorial001.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial002.py
  tests/test_tutorial/test_body_nested_models/test_tutorial006.py
  tests/test_tutorial/test_body_nested_models/test_tutorial008.py
  tests/test_tutorial/test_custom_request_and_route/test_tutorial002.py
  tests/test_tutorial/test_handling_errors/test_tutorial005.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

🐛 Allow startup when automatic OpenTelemetry configuration fails
  fastapi/telemetry/_runtime.py
  tests/test_telemetry/test_runtime.py
Due: local-ruff-check, local-ruff-format

🐛 Allow startup when automatic OpenTelemetry configuration fails (#16418)
  fastapi/telemetry/_runtime.py
  tests/test_telemetry/test_runtime.py
Due: local-ruff-check, local-ruff-format

📝 Update skill, use Asyncer for blocking code in threads
  fastapi/.agents/skills/fastapi/references/other-tools.md
Due: none

📝 Update skill, use Asyncer for blocking code in threads (#16420)
  fastapi/.agents/skills/fastapi/references/other-tools.md
Due: none

📝 Add Markdownizer to the External Links docs
  docs/en/docs/external-links.md
Due: add-permalinks-pages, update-languages

🐛 Fix stale Content-Length in 205 Reset Content responses
  fastapi/routing.py
  tests/test_response_code_no_body_content_length.py
Due: local-ruff-check, local-ruff-format

🌐 Add Turkish translation for docs/tr/docs/advanced/opentelemetry.md
  docs/tr/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Fix version hash and tag
  .pre-commit-config.yaml
Due: none

Re-generate with updated prompt
  docs/ru/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Update russian LLM-prompt
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update Russian LLM-prompt (#16449)
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated

Re-generate with GPT-Astra model
  docs/es/docs/advanced/opentelemetry.md
Due: update-languages, ensure-non-translated, fix-translations

Disable Pydantic-ai observability banner
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

Downgrade ty to 0.0.78
  uv.lock
Due: none

Resolve ruff findings
  fastapi/.agents/skills/fastapi/references/dependencies.md
  fastapi/.agents/skills/fastapi/references/streaming.md
Due: none

Bump ty to 0.0.84
  uv.lock
Due: none

♻️ Replace redundant import assertions with noqa comments
  fastapi/dependencies/utils.py
  fastapi/openapi/models.py
Due: local-ruff-check, local-ruff-format

♻️ Remove redundant conditions in OpenAPI generation
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
