Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

♻️ use overflow threadpool rather than a standalone one for __exit__
  fastapi/concurrency.py
Due: local-ruff-check, local-ruff-format

feat: add class-based view and route support, consistent with official FastAPI style
  fastapi/cbx.py
  tests/test_cbx.py
Due: local-ruff-check, local-ruff-format

♻️ use global thread limiter instead of anyio default
  fastapi/concurrency.py
  tests/test_concurrency.py
Due: local-ruff-check, local-ruff-format

Improve clarity on path parameter type conversion
  docs/en/docs/tutorial/path-params.md
Due: add-permalinks-pages, update-languages

docs: replace "automatized" in the PR review guide
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

docs: replace "re-use" in cookie parameter models
  docs/en/docs/tutorial/cookie-param-models.md
Due: add-permalinks-pages, update-languages

docs: replace "re-use" in query parameter models
  docs/en/docs/tutorial/query-param-models.md
Due: add-permalinks-pages, update-languages

docs: replace "re-use" in header parameter models
  docs/en/docs/tutorial/header-param-models.md
Due: add-permalinks-pages, update-languages

docs(readme): clarify production run command after fastapi dev
  README.md
Due: none

docs: replace "re-using" with "reusing" in security tutorial
  docs/en/docs/tutorial/security/get-current-user.md
Due: add-permalinks-pages, update-languages

docs: replace "dependant" with "dependent" in heading
  docs/en/docs/tutorial/dependencies/index.md
Due: add-permalinks-pages, update-languages

fix: replace innerHTML with safe DOM methods in termynal.js
  docs/en/docs/js/termynal.js
Due: update-languages

feat(middleware): 添加慢请求监控中间件
  fastapi/applications.py
  fastapi/middleware/__init__.py
  fastapi/middleware/slow_request.py
  tests/test_slow_request_middleware.py
Due: local-ruff-check, local-ruff-format

refactor(middleware): 移除慢请求监控中间件及其测试
  fastapi/applications.py
  tests/test_slow_request_middleware.py
Due: local-ruff-check, local-ruff-format

🐛 fix deadlocks in depends by using a separate CapacityLimiter for teardown
  fastapi/concurrency.py
  fastapi/routing.py
  tests/test_concurrency.py
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

📝 Fix typo 're-used' -> 'reused' in Depends/Security docstrings
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

feat: add cbv, cbr decorators
  fastapi/cbx.py
  tests/test_cbx.py
Due: local-ruff-check, local-ruff-format

⬆ Bump pymdown-extensions from 10.20.1 to 10.21.2
  uv.lock
Due: none

⬆ Bump pymdown-extensions from 10.20.1 to 10.21.2 (#15391)
  uv.lock
Due: none

🐛 Fix duplicate `operationId` for routes registered with multiple HTTP methods
  fastapi/openapi/utils.py
  tests/test_multiple_methods_operation_id.py
Due: local-ruff-check, local-ruff-format

🐛 Fix Playwright scripts: server readiness check and duplicate browser launch
  scripts/playwright/cookie_param_models/image01.py
  scripts/playwright/header_param_models/image01.py
  scripts/playwright/json_base64_bytes/image01.py
  scripts/playwright/query_param_models/image01.py
  scripts/playwright/request_form_models/image01.py
  scripts/playwright/sql_databases/image01.py
  scripts/playwright/sql_databases/image02.py
Due: local-ruff-check, local-ruff-format

Fix: catch starlette.HTTPException, support sync auth callables
  fastapi/staticfiles.py
  tests/test_auth_static_files.py
Due: local-ruff-check, local-ruff-format

Cover tutorial002_auth docs example and simplify scope guard
  fastapi/staticfiles.py
  tests/test_tutorial/test_static_files/test_tutorial002_auth.py
Due: local-ruff-check, local-ruff-format

♻️ Consolidate Playwright screenshot scripts into a single file
  scripts/playwright/cookie_param_models/image01.py
  scripts/playwright/generate_screenshots.py
  scripts/playwright/header_param_models/image01.py
  scripts/playwright/json_base64_bytes/image01.py
  scripts/playwright/query_param_models/image01.py
  scripts/playwright/request_form_models/image01.py
  scripts/playwright/separate_openapi_schemas/image01.py
  scripts/playwright/separate_openapi_schemas/image02.py
  scripts/playwright/separate_openapi_schemas/image03.py
  scripts/playwright/separate_openapi_schemas/image04.py
  scripts/playwright/separate_openapi_schemas/image05.py
  scripts/playwright/sql_databases/image01.py
  scripts/playwright/sql_databases/image02.py
Due: local-ruff-check, local-ruff-format

feat: add class-based view (CBV) and class-based route (CBR) utilities
  fastapi/cbx.py
  tests/test_cbx.py
Due: local-ruff-check, local-ruff-format

docs: replace automatized in help-fastapi guide
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

Discard default lifespans before merging
  fastapi/routing.py
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

Added more asserts
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

fix(routing): preserve response_model for non-generator Iterable return types
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix(deps): resolve Annotated forward refs with __future__ annotations
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Replace 'processors' with 'processes' to avoid confusion with CPU terminology
  docs/en/docs/async.md
Due: add-permalinks-pages, update-languages

fix: reject None from security dependencies when annotation is non-optional
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  tests/test_security_auto_error_none_type_safety.py
Due: local-ruff-check, local-ruff-format

feat: Add SSE default_retry and on_disconnect support
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/server-sent-events.md
  docs_src/server_sent_events/tutorial006_py310.py
  docs_src/server_sent_events/tutorial007_py310.py
  fastapi/routing.py
  fastapi/sse.py
  tests/test_tutorial/test_server_sent_events/test_tutorial006.py
  tests/test_tutorial/test_server_sent_events/test_tutorial007.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add SSE streaming response with disconnect handling and helpers
  SPEC.md
  fastapi/routing.py
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🔨 Tweak translation script (#15174)
  scripts/general-llm-prompt.md
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

⬆️ Update Pydantic v2 code to address deprecations (#15101)
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.136.1
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

fix: escape user-controlled values in Swagger UI and ReDoc HTML
  fastapi/openapi/docs.py
  tests/test_application.py
  tests/test_custom_swagger_ui_redirect.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
