Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Add tests for nullable Header parameter with\without default
  tests/test_request_params/test_header/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add tests for nullable Cookie parameters with\without default
  tests/test_request_params/test_cookie/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Apply suggestions from code review
  docs/uk/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

📝 Fix duplicate word in `advanced-dependencies.md` (#14815)
  docs/en/docs/advanced/advanced-dependencies.md
Due: add-permalinks-pages, update-languages

Remove xfail for defaul_factory in openapi
  tests/test_request_params/test_body/test_nullable_and_defaults.py
  tests/test_request_params/test_file/test_nullable_and_defaults.py
  tests/test_request_params/test_form/test_nullable_and_defaults.py
  tests/test_request_params/test_header/test_nullable_and_defaults.py
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add `pragma: no cover` to make coverage pass
  tests/test_request_params/test_body/test_nullable_and_defaults.py
  tests/test_request_params/test_cookie/test_nullable_and_defaults.py
  tests/test_request_params/test_file/test_nullable_and_defaults.py
  tests/test_request_params/test_form/test_nullable_and_defaults.py
  tests/test_request_params/test_header/test_nullable_and_defaults.py
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

🌐 Update translations for uk (update-outdated) (#14822)
  docs/uk/docs/index.md
  docs/uk/docs/tutorial/body-multiple-params.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh-hant (update-outdated) (#14825)
  docs/zh-hant/docs/about/index.md
  docs/zh-hant/docs/benchmarks.md
  docs/zh-hant/docs/deployment/cloud.md
  docs/zh-hant/docs/deployment/index.md
  docs/zh-hant/docs/environment-variables.md
  docs/zh-hant/docs/how-to/index.md
  docs/zh-hant/docs/index.md
  docs/zh-hant/docs/learn/index.md
  docs/zh-hant/docs/resources/index.md
  docs/zh-hant/docs/tutorial/first-steps.md
  docs/zh-hant/docs/tutorial/index.md
  docs/zh-hant/docs/tutorial/query-param-models.md
  docs/zh-hant/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for fr (update-outdated) (#14826)
  docs/fr/docs/advanced/additional-responses.md
  docs/fr/docs/advanced/additional-status-codes.md
  docs/fr/docs/advanced/index.md
  docs/fr/docs/advanced/path-operation-advanced-configuration.md
  docs/fr/docs/advanced/response-directly.md
  docs/fr/docs/benchmarks.md
  docs/fr/docs/deployment/docker.md
  docs/fr/docs/deployment/https.md
  docs/fr/docs/deployment/index.md
  docs/fr/docs/deployment/versions.md
  docs/fr/docs/index.md
  docs/fr/docs/learn/index.md
  docs/fr/docs/project-generation.md
  docs/fr/docs/python-types.md
  docs/fr/docs/tutorial/background-tasks.md
  docs/fr/docs/tutorial/body-multiple-params.md
  docs/fr/docs/tutorial/body.md
  docs/fr/docs/tutorial/debugging.md
  docs/fr/docs/tutorial/first-steps.md
  docs/fr/docs/tutorial/index.md
  docs/fr/docs/tutorial/path-params-numeric-validations.md
  docs/fr/docs/tutorial/path-params.md
  docs/fr/docs/tutorial/query-params-str-validations.md
  docs/fr/docs/tutorial/query-params.md
Due: update-languages, ensure-non-translated, fix-translations

📝 Update docs for translations
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

📝 Update docs for translations (#14830)
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

Update tests/test_list_bytes_file_order_preserved_issue_14811.py
  tests/test_list_bytes_file_order_preserved_issue_14811.py
Due: local-ruff-check, local-ruff-format

🌐 Update translations for tr (update-outdated) (#14831)
  docs/tr/docs/advanced/wsgi.md
  docs/tr/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for es (update-outdated) (#14832)
  docs/es/docs/advanced/wsgi.md
  docs/es/docs/deployment/docker.md
  docs/es/docs/index.md
  docs/es/docs/tutorial/body-multiple-params.md
  docs/es/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ko (update-outdated) (#14835)
  docs/ko/docs/advanced/advanced-dependencies.md
  docs/ko/docs/advanced/wsgi.md
  docs/ko/docs/deployment/docker.md
  docs/ko/docs/index.md
  docs/ko/docs/tutorial/body-multiple-params.md
  docs/ko/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for pt (update-outdated) (#14833)
  docs/pt/docs/advanced/advanced-dependencies.md
  docs/pt/docs/advanced/wsgi.md
  docs/pt/docs/deployment/docker.md
  docs/pt/docs/index.md
  docs/pt/docs/tutorial/body-multiple-params.md
  docs/pt/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for de (update-outdated) (#14836)
  docs/de/docs/advanced/wsgi.md
  docs/de/docs/deployment/docker.md
  docs/de/docs/index.md
  docs/de/docs/tutorial/body-multiple-params.md
  docs/de/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for fr (translate-page) (#14837)
  docs/fr/docs/deployment/manually.md
Due: update-languages, ensure-non-translated, fix-translations

Update outdated pages
  docs/tr/docs/advanced/advanced-dependencies.md
  docs/tr/docs/alternatives.md
  docs/tr/docs/deployment/docker.md
  docs/tr/docs/history-design-future.md
  docs/tr/docs/tutorial/body-multiple-params.md
  docs/tr/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

Translate missing
  docs/tr/docs/translation-banner.md
Due: update-languages, ensure-non-translated, fix-translations

Update outdated
  docs/fr/docs/tutorial/body-multiple-params.md
Due: update-languages, ensure-non-translated, fix-translations

✨ Allow `Response` type hint as dependency annotation (#14794)
  fastapi/dependencies/utils.py
  tests/test_response_dependency.py
Due: local-ruff-check, local-ruff-format

✨ Add support for PEP695 `TypeAliasType` (#13920)
  fastapi/dependencies/utils.py
  pyproject.toml
  tests/test_dependency_pep695.py
  uv.lock
Due: local-ruff-check, local-ruff-format

🐛 Fix using `Json[list[str]]` type (issue #10997) (#14616)
  fastapi/dependencies/utils.py
  tests/test_json_type.py
Due: local-ruff-check, local-ruff-format

🔨 Add max pages to translate to configs
  .github/workflows/translate.yml
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🌐 Enable French docs translations
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔨 Add max pages to translate to configs (#14840)
  .github/workflows/translate.yml
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🌐 Enable French docs translations (#14841)
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🌐 Enable Traditional Chinese translations
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🌐 Enable Traditional Chinese translations (#14842)
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔖 Release version 0.128.2
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Update fastapi/dependencies/utils.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

⬆️ Bump Starlette to <`0.53.0`
  pyproject.toml
  uv.lock
Due: none

Enable zh language in docs
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

Update other outdated pages
  docs/zh/docs/advanced/index.md
  docs/zh/docs/advanced/security/http-basic-auth.md
  docs/zh/docs/advanced/security/index.md
  docs/zh/docs/advanced/testing-dependencies.md
  docs/zh/docs/async.md
  docs/zh/docs/deployment/cloud.md
  docs/zh/docs/deployment/concepts.md
  docs/zh/docs/deployment/docker.md
  docs/zh/docs/deployment/https.md
  docs/zh/docs/deployment/index.md
  docs/zh/docs/deployment/manually.md
  docs/zh/docs/deployment/server-workers.md
  docs/zh/docs/deployment/versions.md
  docs/zh/docs/fastapi-cli.md
  docs/zh/docs/features.md
  docs/zh/docs/help-fastapi.md
  docs/zh/docs/history-design-future.md
  docs/zh/docs/how-to/general.md
  docs/zh/docs/how-to/index.md
  docs/zh/docs/tutorial/body-fields.md
  docs/zh/docs/tutorial/cookie-params.md
  docs/zh/docs/tutorial/encoder.md
  docs/zh/docs/tutorial/extra-data-types.md
  docs/zh/docs/tutorial/extra-models.md
  docs/zh/docs/tutorial/header-params.md
  docs/zh/docs/tutorial/index.md
  docs/zh/docs/tutorial/metadata.md
  docs/zh/docs/tutorial/query-param-models.md
  docs/zh/docs/tutorial/request-form-models.md
  docs/zh/docs/tutorial/security/first-steps.md
  docs/zh/docs/tutorial/security/get-current-user.md
  docs/zh/docs/tutorial/security/index.md
  docs/zh/docs/tutorial/security/oauth2-jwt.md
  docs/zh/docs/tutorial/security/simple-oauth2.md
  docs/zh/docs/tutorial/sql-databases.md
Due: update-languages, ensure-non-translated, fix-translations

Docs: clarify SQLite threading and pagination limit
  docs_src/sql_databases/tutorial001_an_py310.py
Due: local-ruff-check, local-ruff-format

♻️ Re-implement on_event while improving an alternative interface
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
