Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🐛 Fix `exclude_defaults` not propagated to dict keys and values in `jsonable_encoder`
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Fix broken documentation links in Query parameters
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor dependency caches to improve memory consumption
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for new logic
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

👷 Add CI memory benchmark
  .github/workflows/test.yml
  pyproject.toml
  tests/memory_benchmarks/__init__.py
  tests/memory_benchmarks/test_dependency_graph.py
  uv.lock
Due: local-ruff-check, local-ruff-format

🔧 Tweak coverage
  pyproject.toml
Due: none

👷 Add CI memory benchmark (#16046)
  .github/workflows/test.yml
  pyproject.toml
  tests/memory_benchmarks/__init__.py
  tests/memory_benchmarks/test_dependency_graph.py
  uv.lock
Due: local-ruff-check, local-ruff-format

✅ Tweak coverage
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

⚡️ Reduce memory usage in dependencies (#16049)
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.0 (#16050)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

feat(utils): add truncate_middle helper function to utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Fix SSE data payload dropping trailing newlines
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

⚡️ Optimize dependency graph flattening
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  tests/benchmarks/test_dependency_flattening.py
  tests/test_dependencies_utils.py
Due: local-ruff-check, local-ruff-format

Add security tip about rate limiting and brute-force protection to security docs
  docs/en/docs/tutorial/security/first-steps.md
Due: add-permalinks-pages, update-languages

✅ Simplify default-exclusion test per review
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

♻️ Update the lru_cache limit to account for large apps
  fastapi/dependencies/models.py
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

♻️ Update the lru_cache limit for dependencies to account for large apps (#16062)
  fastapi/dependencies/models.py
  tests/test_dependency_models.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.1 (#16063)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

👷 Add new memory benchmark
  tests/memory_benchmarks/test_route_dependency_graph.py
Due: local-ruff-check, local-ruff-format

👷 Add new memory benchmark (#16064)
  tests/memory_benchmarks/test_route_dependency_graph.py
Due: local-ruff-check, local-ruff-format

⚡️ Stop retaining flat dependency trees
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

⚡️ Stop retaining flat dependency trees (#16065)
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.2 (#16066)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⚡️ Avoid repeated dependency flattening in OpenAPI
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

⚡️ Avoid repeated dependency flattening in OpenAPI (#16067)
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.3 (#16068)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⚡️ Skip unused dependency repeat bookkeeping
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

⚡️ Skip unused dependency repeat bookkeeping (#16069)
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.4 (#16070)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⚡️ Avoid flattening dependencies for body fields
  fastapi/dependencies/utils.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

⚡️ Avoid flattening dependencies for body fields (#16071)
  fastapi/dependencies/utils.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.5 (#16072)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⚡️ Avoid flattening dependencies for request parameters
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

⚡️ Avoid flattening dependencies for request parameters, mainly for OpenAPI (#16073)
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.140.6 (#16074)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

👷 Add OpenAPI dependency benchmarks
  tests/benchmarks/test_openapi.py
  tests/benchmarks/utils.py
  tests/memory_benchmarks/test_openapi.py
Due: local-ruff-check, local-ruff-format

👷 Allow more time for OpenAPI benchmarks
  tests/benchmarks/test_openapi.py
  tests/memory_benchmarks/test_openapi.py
Due: local-ruff-check, local-ruff-format

👷 Add OpenAPI dependency benchmarks (#16075)
  tests/benchmarks/test_openapi.py
  tests/benchmarks/utils.py
  tests/memory_benchmarks/test_openapi.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
