Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

fix: resolve ForwardRef inside Annotated in get_typed_annotation
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Fix SSE stream_item_type lost through include_router (#15401)
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Add isinstance guard when restoring stream attrs in include_router
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Implement enhanced SSE support with keep-alive, retries, and proper encoding
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Add dual-mode direct-use to EventSourceResponse
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Fix unhashable `Annotated` type in `get_definitions` OpenAPI schema generation
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

✅ Add regression test for unhashable Annotated in get_definitions
  tests/test_openapi_unhashable_annotated.py
Due: local-ruff-check, local-ruff-format

📝 Update ReDoc GitHub URLs from Rebilly/ReDoc to Redocly/redoc
  README.md
  docs/en/docs/alternatives.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/features.md
  docs/en/docs/how-to/extending-openapi.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, generate-readme, update-languages

docs: optimize build resolution and caching
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

feat: add TimingMiddleware for request timing
  docs_src/middleware/tutorial002.py
  fastapi/__init__.py
  fastapi/middleware/__init__.py
  fastapi/middleware/timing.py
  tests/test_middleware/__init__.py
  tests/test_middleware/test_timing_middleware.py
Due: local-ruff-check, local-ruff-format

docs: add pipeline validation notes
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix: preserve stream_item_type when using include_router for SSE routes
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Fix test setup and ensure stream_item_type is preserved after include_router
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Fix testcase for stream_input_type
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Test allowed
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

feat: add production‑ready routing patterns (CBV/CBR) with resource lifecycle
  fastapi/cbx.py
  tests/test_cbx.py
Due: local-ruff-check, local-ruff-format

fix(routing): preserve stream metadata in include_router
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

docs(pt): improve translation consistency for authentication error status codes
  .project
  docs/pt/docs/how-to/authentication-error-status-code.md
Due: update-languages, ensure-non-translated, fix-translations

Fix broken links inside `<div>`
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Re-generate `readme.md`
  README.md
Due: none

docs(pt): improve translation consistency in generate clients guide
  docs/pt/docs/advanced/generate-clients.md
Due: update-languages, ensure-non-translated, fix-translations

Delete .project
  .project
Due: none

📝 Add FastAPI Conf '26 announcement to docs
  docs/en/docs/img/fastapi-conf.jpeg
  docs/en/docs/index.md
  docs/en/overrides/main.html
Due: add-permalinks-pages, generate-readme, update-languages

📝 Add FastAPI Conf '26 announcement to README
  README.md
Due: none

📝 Add FastAPI Conf '26 announcement to docs (#15457)
  README.md
  docs/en/docs/img/fastapi-conf.jpeg
  docs/en/docs/index.md
  docs/en/overrides/main.html
Due: add-permalinks-pages, generate-readme, update-languages

💄 Refactor opinions section with interactive tabs and new logos
  README.md
  docs/en/docs/css/custom.css
  docs/en/docs/img/logos/cisco.svg
  docs/en/docs/img/logos/microsoft.svg
  docs/en/docs/img/logos/netflix.svg
  docs/en/docs/img/logos/uber.svg
  docs/en/docs/index.md
  docs/en/docs/js/custom.js
Due: add-permalinks-pages, generate-readme, update-languages

♻️ Add gh specific content to opinions section and hide in MkDocs
  docs/en/docs/css/custom.css
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

💄 Refactor opinions section with interactive tabs and new logos (#15458)
  README.md
  docs/en/docs/css/custom.css
  docs/en/docs/img/logos/cisco.svg
  docs/en/docs/img/logos/microsoft.svg
  docs/en/docs/img/logos/netflix.svg
  docs/en/docs/img/logos/uber.svg
  docs/en/docs/index.md
  docs/en/docs/js/custom.js
Due: add-permalinks-pages, generate-readme, update-languages

💄 Improve layout and styling
  docs/en/docs/css/custom.css
  docs/en/docs/index.md
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

🔥 Remove logos from readme.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

💄 Improve layout and styling (#15462)
  README.md
  docs/en/docs/css/custom.css
  docs/en/docs/index.md
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

docs: fix azkaban typo in en and zh locales
  docs/en/docs/virtual-environments.md
  docs/zh/docs/virtual-environments.md
Due: add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

Use existing `only-github` class
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Document `--entrypoint` CLI option
  docs/en/docs/fastapi-cli.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Use direct slash
  docs/en/docs/fastapi-cli.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

docs: remove manual translation update per maintainer feedback
  docs/zh/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

fix: return 500 instead of 422 for security dependency None type mismatch
  fastapi/dependencies/utils.py
  tests/test_security_auto_error_none_type_safety.py
Due: local-ruff-check, local-ruff-format
