Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

feat: lifespan dependency scope (applications, deps, params)
  fastapi/applications.py
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  fastapi/param_functions.py
  fastapi/params.py
Due: local-ruff-check, local-ruff-format

fix: resolve merge with master — lifespan app vs router
  fastapi/applications.py
  tests/test_dependency_lifespan_scope.py
Due: local-ruff-check, local-ruff-format

fix: normalize lifespan (async/sync gen) before wrapper so router_events tests pass
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

fix: pre-commit and type checks (ruff E731, mypy/ty cli and applications)
  fastapi/applications.py
  fastapi/cli.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_dependency_lifespan_scope.py
Due: local-ruff-check, local-ruff-format

fix(cli): optional cli_main type for both with/without fastapi[standard] so pre-commit passes in CI
  fastapi/cli.py
Due: local-ruff-check, local-ruff-format

fix: coverage to 100% for lifespan scope (pragmas, tests for APIRouter gen lifespans, sync dep, cache hit, unreachable test lines)
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_dependency_lifespan_scope.py
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

Fix custom encoders for BaseModel python-mode dump
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Fix stringified Annotated dependency forward refs
  fastapi/dependencies/utils.py
  tests/test_stringified_annotation_dependency.py
Due: local-ruff-check, local-ruff-format

docs: clarify that None cannot be passed as a query parameter value
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

test: replace synthetic private-helper coverage with real startup lifecycle scenario
  tests/test_dependency_lifespan_scope.py
Due: local-ruff-check, local-ruff-format

test: replace synthetic collector test with lifecycle integration and remove unreachable collector branch
  fastapi/routing.py
  tests/test_dependency_lifespan_scope.py
Due: local-ruff-check, local-ruff-format

📝 Fix duplicated words in docstrings (#15116)
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
  tests/test_pydanticv2_dataclasses_uuid_stringified_annotations.py
Due: local-ruff-check, local-ruff-format

📝 Fix parameter handling to support flat fields extraction
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

📝 Add tests for query, header, and cookie models with sibling parameters
  tests/test_query_cookie_header_param_models_with_siblings.py
Due: local-ruff-check, local-ruff-format

📝 Add test to cover mixed param model openapi metadata branches
  tests/test_query_cookie_header_param_models_with_siblings.py
Due: local-ruff-check, local-ruff-format

📝 Add test to cover metadata helper routes for full coverage
  tests/test_query_cookie_header_param_models_with_siblings.py
Due: local-ruff-check, local-ruff-format

fix: resolve ForwardRef in Annotated types for OpenAPI schema generation
  fastapi/_compat/v2.py
  tests/test_annotated_forward_ref.py
Due: local-ruff-check, local-ruff-format

Apply version without custom JS
  README.md
  docs/en/docs/css/custom.css
  docs/en/docs/index.md
  docs/en/docs/js/custom.js
Due: add-permalinks-pages, generate-readme, update-languages

remove unused ty ignores
  fastapi/_compat/__init__.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Improve grammar and clarity in features documentation
  docs/en/docs/features.md
Due: add-permalinks-pages, update-languages

support both Color classes in ENCODERS_BY_TYPE
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

add ty check to lint.sh
  scripts/lint.sh
Due: none

add tests for both Color types
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

one parametrized method instead of two
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

more generic deprecation warning
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

simplify test, ensure it fails on master
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

add pragma no cover
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

add explicit test for lowest supported pydantic version
  .github/workflows/test.yml
Due: none

Revert "add explicit test for lowest supported pydantic version"
  .github/workflows/test.yml
Due: none

cleanup
  .github/workflows/test.yml
Due: none

🐛 Fix AssertionError when using TestClient directly with APIRouter (#14128)
  fastapi/routing.py
  tests/test_router_direct_testclient.py
Due: local-ruff-check, local-ruff-format

fix: unique operation IDs for routes with multiple methods (#13175)
  fastapi/openapi/utils.py
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

fix: resolve ForwardRef in get_typed_annotation for Annotated+Depends (#13056)
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

bump lower pin to pydantic 2.9.0
  .github/workflows/test.yml
  pyproject.toml
Due: none

update uv lock
  uv.lock
Due: none

upgrade further to Pydantic 2.10
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

one more fix for uv lock
  uv.lock
Due: none

allow multiple versions of the schema
  tests/test_schema_compat_pydantic_v2.py
  tests/test_union_body_discriminator.py
Due: local-ruff-check, local-ruff-format

bump back to 2.9
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
