Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

🔧 Update sponsors: remove Scalar
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Due: generate-readme, update-languages

🔧 Update sponsors: remove Scalar (#15730)
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Due: generate-readme, update-languages

🔧 Update sponsors: remove Liblab
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
  docs/en/overrides/main.html
Due: add-permalinks-pages, generate-readme, update-languages

docs: fix README.md formatting
  README.md
Due: none

🔧 Update sponsors: remove Liblab (#15731)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
  docs/en/overrides/main.html
Due: add-permalinks-pages, generate-readme, update-languages

🔧 Update sponsors: remove InterviewPal
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove InterviewPal (#15735)
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove ExoFlare
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, update-languages

🔧 Update sponsors: remove ExoFlare
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove ExoFlare (#15736)
  docs/en/data/sponsors.yml
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, generate-readme, update-languages

add hindi translation for docs/hi/docs/features.md
  docs/hi/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Translate features.md content to Hindi
  docs/hi/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

🔧 Update validation methods to include context parameter
  fastapi/_compat/v2.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

docs: fix capitalization 'extremely' -> 'Extremely' in README.md
  README.md
Due: none

🔧 Update sponsors: remove TalorData
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove TalorData (#15744)
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

♻️ Refactor internals to preserve `APIRouter` and `APIRoute` instances
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
  docs/en/docs/how-to/extending-openapi.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/bigger-applications.md
  docs_src/path_operation_advanced_configuration/tutorial002_py310.py
  fastapi/applications.py
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_custom_route_class.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Deduplicate tests
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

📝 Rewrite release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🚨 Add coverage directives
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

fix: remove incorrect "like" in first-steps.md grammar
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

♻️ Refactor internals to preserve `APIRouter` and `APIRoute` instances (#15745)
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
  docs/en/docs/how-to/extending-openapi.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/bigger-applications.md
  docs_src/path_operation_advanced_configuration/tutorial002_py310.py
  fastapi/applications.py
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_custom_route_class.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Update release notes (#15747)
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.137.0 (#15748)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

test: cover auto head route handlers
  tests/test_auto_head_for_get.py
Due: local-ruff-check, local-ruff-format

fix: keep explicit head routes preferred
  fastapi/routing.py
  tests/test_extra_routes.py
Due: local-ruff-check, local-ruff-format

Automatically support HEAD method for all GET routes
  fastapi/routing.py
  tests/test_auto_head_for_get.py
  tests/test_extra_routes.py
Due: local-ruff-check, local-ruff-format

fix: handle routes without methods in head helper
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🐛 Fix bug, allow empty path in path operation in prefixless router
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

✅ Add tests to increase coverage
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

✅ Add test for coverage
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🐛 Fix bug, allow empty path in path operation in prefixless router (#15763)
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🚨 Fix typing checks for APIRoute
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🚨 Fix typing checks for APIRoute (#15765)
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.137.1 (#15766)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Fix stream schema lost when using include_router()
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format
