Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

🗑️ Deprecate ORJSONResponse and UJSONResponse
  fastapi/responses.py
  tests/test_deprecated_responses.py
  tests/test_orjson_response_class.py
  tests/test_tutorial/test_custom_response/test_tutorial001.py
  tests/test_tutorial/test_custom_response/test_tutorial001b.py
Due: local-ruff-check, local-ruff-format

🔧 Remove orjson and ujson from fastapi[all]
  pyproject.toml
  uv.lock
Due: none

🔖 Release version 0.130.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Update reference docs for ORJSONResponse and UJSONResponse
  docs/en/docs/reference/responses.md
Due: add-permalinks-pages, update-languages

🗑️ Deprecate `ORJSONResponse` and `UJSONResponse` (#14964)
  docs/en/docs/reference/responses.md
  fastapi/responses.py
  pyproject.toml
  tests/test_deprecated_responses.py
  tests/test_orjson_response_class.py
  tests/test_tutorial/test_custom_response/test_tutorial001.py
  tests/test_tutorial/test_custom_response/test_tutorial001b.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.131.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

👷 Do not include benchmark tests in coverage to speed up coverage processing
  .github/workflows/test.yml
  pyproject.toml
Due: none

👷 Restove coverage to debug performance
  .github/workflows/test.yml
Due: none

👷 Do not include benchmark tests in coverage to speed up coverage processing (#14965)
  .github/workflows/test.yml
  pyproject.toml
Due: none

👷 Do not run codspeed with coverage as it's not tracked
  .github/workflows/test.yml
Due: none

👷 Do not run codspeed with coverage as it's not tracked (#14966)
  .github/workflows/test.yml
Due: none

Remove debug log printing
  scripts/people.py
Due: local-ruff-check, local-ruff-format

docs: update README.md via AI documentation agent
  README.md
Due: none

docs: update docs/de/docs/advanced/additional-responses.md via AI documentation agent
  docs/de/docs/advanced/additional-responses.md
Due: update-languages, ensure-non-translated, fix-translations

docs: update docs/de/docs/advanced/additional-status-codes.md via AI documentation agent
  docs/de/docs/advanced/additional-status-codes.md
Due: update-languages, ensure-non-translated, fix-translations

👷 Restore latest CI for codspeed
  .github/workflows/test.yml
Due: none

♻️ Restore master files
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/how-to/general.md
  docs/en/docs/reference/responses.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/response-model.md
  docs_src/custom_response/tutorial010_py310.py
  fastapi/__init__.py
  fastapi/responses.py
  pyproject.toml
  tests/test_deprecated_responses.py
  tests/test_orjson_response_class.py
  tests/test_tutorial/test_custom_response/test_tutorial001.py
  tests/test_tutorial/test_custom_response/test_tutorial010.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Revert "✨ Serialize JSON response with Pydantic (in Rust), when there's a Pydantic return type or response model (#14962)"
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/how-to/general.md
  docs/en/docs/tutorial/response-model.md
  docs_src/custom_response/tutorial010_py310.py
  fastapi/_compat/v2.py
  fastapi/routing.py
  tests/test_dump_json_fast_path.py
  tests/test_tutorial/test_custom_response/test_tutorial001.py
  tests/test_tutorial/test_custom_response/test_tutorial010.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔨 Fix `FastAPI People` workflow (#14951)
  scripts/people.py
Due: local-ruff-check, local-ruff-format

update to griffelib
  uv.lock
Due: none

also update pydantic-ai
  uv.lock
Due: none

move griffelib to get better GH diff
  uv.lock
Due: none

restore accidental edit
  uv.lock
Due: none

⬆ Update all dependencies to use `griffelib` instead of `griffe` (#14973)
  uv.lock
Due: none

📝 Add PRD.md and ROADMAP.md documentation
  .specify/memory/constitution.md
  docs/PRD.md
  docs/ROADMAP.md
Due: update-languages, ensure-non-translated

Allow skipping `benchmark` job in `test` workflow
  .github/workflows/test.yml
Due: none

Add SSEResponse class and sse_content helper for Server-Sent Events
  fastapi/__init__.py
  fastapi/responses.py
  tests/test_sse_response.py
Due: local-ruff-check, local-ruff-format

🔒️ Add `strict_content_type` checking for JSON requests
  fastapi/applications.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

📝 Add docs for strict content type checking
  docs/en/docs/advanced/strict-content-type.md
  docs_src/strict_content_type/__init__.py
  docs_src/strict_content_type/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔧 Update MkDocs with new docs for strict content-type checking
  docs/en/mkdocs.yml
Due: update-languages

✨ Add Server-Sent Events (SSE) support
  fastapi/__init__.py
  fastapi/responses.py
  tests/test_sse_response.py
Due: local-ruff-check, local-ruff-format

✅ Update tests
  tests/test_tutorial/test_body/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for tutorial
  tests/test_tutorial/test_strict_content_type/__init__.py
  tests/test_tutorial/test_strict_content_type/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for strict_content_type in included routers
  tests/test_strict_content_type_app_level.py
  tests/test_strict_content_type_nested.py
  tests/test_strict_content_type_router_level.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor router logic
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔒️ Add `strict_content_type` checking for JSON requests (#14978)
  docs/en/docs/advanced/strict-content-type.md
  docs/en/mkdocs.yml
  docs_src/strict_content_type/__init__.py
  docs_src/strict_content_type/tutorial001_py310.py
  fastapi/applications.py
  fastapi/routing.py
  tests/test_strict_content_type_app_level.py
  tests/test_strict_content_type_nested.py
  tests/test_strict_content_type_router_level.py
  tests/test_tutorial/test_body/test_tutorial001.py
  tests/test_tutorial/test_strict_content_type/__init__.py
  tests/test_tutorial/test_strict_content_type/test_tutorial001.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages
