Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Fix permissions issue in `translate` workflow
  .github/workflows/translate.yml
Due: none

👷 Fix missing credentials issue in `translate` workflow (#15468)
  .github/workflows/translate.yml
Due: none

Add new technical terms to Spanish documentation
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

Fix translation note for 'check' term
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

Fix gender agreement in Spanish translations for 'terminal'
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

Refine translations for 'deploy' and 'deployment'
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

fix: replace Type[] with type[] to match upstream imports
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

fix: replace deprecated typing.List/Set with builtins in tutorial
  docs_src/custom_api_router/tutorial001.py
Due: local-ruff-check, local-ruff-format

👥 Update FastAPI People - Contributors and Translators (#15467)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages

👥 Update FastAPI People - Experts (#15471)
  docs/en/data/people.yml
Due: update-languages

👥 Update FastAPI GitHub topic repositories (#15470)
  docs/en/data/topic_repos.yml
Due: update-languages

feat(deps): merge Annotated shape markers with Depends(model)
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

test: add examples and coverage
  docs_src/app_testing/tutorial001_py310.py
  docs_src/body_depends_model_merge_body/tutorial001_an_py310.py
  docs_src/body_depends_model_merge_file/tutorial001_an_py310.py
  docs_src/body_depends_model_merge_form/tutorial001_an_py310.py
  docs_src/body_depends_model_merge_query/tutorial001_an_py310.py
  docs_src/body_depends_model_merge_query_plus_body/tutorial001_an_py310.py
  tests/_annotated_body_depends_merge_common.py
  tests/docs_src/__init__.py
  tests/docs_src/_loader.py
  tests/docs_src/body_depends_model_merge_body/test_body_depends_model_merge_tutorial001.py
  tests/docs_src/body_depends_model_merge_file/test_file_depends_model_merge_tutorial001.py
  tests/docs_src/body_depends_model_merge_form/test_form_depends_model_merge_tutorial001.py
  tests/docs_src/body_depends_model_merge_query/test_query_depends_model_merge_tutorial001.py
  tests/docs_src/body_depends_model_merge_query_plus_body/test_query_plus_body_tutorial001.py
  tests/test_annotated_body_depends_merge_body.py
  tests/test_annotated_body_depends_merge_file.py
  tests/test_annotated_body_depends_merge_form.py
  tests/test_annotated_body_depends_merge_query_plus_shape.py
Due: local-ruff-check, local-ruff-format

docs: add docs and examples
  docs/en/docs/advanced/body-depends-model-merge/body.md
  docs/en/docs/advanced/body-depends-model-merge/file.md
  docs/en/docs/advanced/body-depends-model-merge/form.md
  docs/en/docs/advanced/body-depends-model-merge/index.md
  docs/en/docs/advanced/body-depends-model-merge/query.md
  docs/en/docs/tutorial/body.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

test: add more coverage
  tests/test_annotated_body_depends_merge_body.py
Due: local-ruff-check, local-ruff-format

test: use HTTPStatus.UNPROCESSABLE_ENTITY instead of starlette's status
  tests/test_annotated_body_depends_merge_body.py
  tests/test_annotated_body_depends_merge_file.py
  tests/test_annotated_body_depends_merge_form.py
Due: local-ruff-check, local-ruff-format

test: more coverage and fixes
  tests/test_annotated_body_depends_merge_body.py
  tests/test_annotated_body_depends_merge_file.py
  tests/test_annotated_body_depends_merge_form.py
  tests/test_annotated_body_depends_merge_query_plus_shape.py
Due: local-ruff-check, local-ruff-format

Improve clarity and wording in LLM test documentation
  docs/en/docs/_llm-test.md
Due: add-permalinks-pages, update-languages

Refine wording based on review suggestions
  docs/en/docs/_llm-test.md
Due: add-permalinks-pages, update-languages

test: minor test update
  tests/docs_src/body_depends_model_merge_query_plus_body/test_query_plus_body_tutorial001.py
Due: local-ruff-check, local-ruff-format

Added a small explanation to improve clarity for the basic FastAPI example.
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

✏️ Fix Azkaban spelling typo in `virtual-environments.md‎` (#15463)
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, update-languages

Add sequence diagram to middleware execution order docs
  docs/en/docs/tutorial/middleware.md
Due: add-permalinks-pages, update-languages

Replace "automotized" with "automated" in `translations` discussion template
  .github/DISCUSSION_TEMPLATE/translations.yml
Due: none

fix: resolve ForwardRef inside Annotated in get_typed_annotation
  fastapi/dependencies/utils.py
  tests/test_annotated_forwardref.py
  tests/test_dependencies_utils.py
Due: local-ruff-check, local-ruff-format

👷 Add pre-commit to check typos
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_response_set_response_code_empty.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial002.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial005.py
  tests/test_ws_router.py
Due: local-ruff-check, local-ruff-format

Remove new terms
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Fix typos in Spanish LLM-prompt (#15472)
  docs/es/llm-prompt.md
Due: update-languages, ensure-non-translated

📌 Pin pre-commit hook for typos
  .pre-commit-config.yaml
Due: none

👷 Add pre-commit to check typos (#15482)
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_response_set_response_code_empty.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial002.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial005.py
  tests/test_ws_router.py
Due: local-ruff-check, local-ruff-format

Fix OpenAPI servers field missing when root_path_in_servers=True (#12246)
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

Fix: improved documentation wording for clarity
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

tests: fold jsonable_encoder dict filter cases into test_encode_dict
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Delete scripts/bench_jsonable_encoder.py
  scripts/bench_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

⚡ Skip set(obj.keys()) allocation in jsonable_encoder when include/exclude are not set
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

add benchmark script for jsonable_encoder lazy allocation fix
  scripts/bench_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Docs: improve readability in WebSocket middleware documentation
  tests/test_ws_router.py
Due: local-ruff-check, local-ruff-format

Docs: improve article listing explanation readability
  docs/en/docs/external-links.md
Due: add-permalinks-pages, update-languages
