Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🔨 Update script for live reload
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

docs: polish English wording in help-fastapi page
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

👷 Omit large files for translations
  .github/workflows/build-docs.yml
Due: none

♻️ Refactor MkDocs to Zensical logic
  .github/workflows/build-docs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

👷 Update alls-green
  .github/workflows/build-docs.yml
Due: none

🔧 Migrate docs from MkDocs to Zensical (#15563)
  .github/workflows/build-docs.yml
  .gitignore
  docs/de/docs/index.md
  docs/de/mkdocs.yml
  docs/en/docs/contributing.md
  docs/en/docs/external-links.md
  docs/en/docs/fastapi-people.md
  docs/en/docs/index.md
  docs/en/mkdocs.env.yml
  docs/en/mkdocs.yml
  docs/en/overrides/partials/copyright.html
  docs/es/docs/index.md
  docs/es/mkdocs.yml
  docs/fr/docs/index.md
  docs/fr/mkdocs.yml
  docs/ja/docs/index.md
  docs/ja/mkdocs.yml
  docs/ko/docs/index.md
  docs/ko/mkdocs.yml
  docs/pt/docs/index.md
  docs/pt/mkdocs.yml
  docs/ru/docs/index.md
  docs/ru/mkdocs.yml
  docs/tr/docs/index.md
  docs/tr/mkdocs.yml
  docs/uk/docs/index.md
  docs/uk/mkdocs.yml
  docs/zh-hant/docs/index.md
  docs/zh-hant/mkdocs.yml
  docs/zh/docs/index.md
  docs/zh/mkdocs.yml
  pyproject.toml
  scripts/docs.py
  scripts/mkdocs_hooks.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

fix: catch ImportError for optional ujson/orjson imports
  fastapi/responses.py
Due: local-ruff-check, local-ruff-format

Update documentation on type unions in Python
  docs/en/docs/tutorial/extra-models.md
Due: add-permalinks-pages, update-languages

Update extra-models.md
  docs/zh/docs/tutorial/extra-models.md
Due: update-languages, ensure-non-translated, fix-translations

📝 Update security policy
  SECURITY.md
Due: none

📝 Update security
  SECURITY.md
Due: none

📝 Update security policy (#15577)
  SECURITY.md
Due: none

🌐 Improve translation consistency in `‎docs/pt/docs/advanced/generate-clients.md‎` (#15456)
  docs/pt/docs/advanced/generate-clients.md
Due: update-languages, ensure-non-translated, fix-translations

perf: skip deepcopy for immutable defaults and default_factory params
  fastapi/dependencies/utils.py
  tests/test_default_value_isolation.py
Due: local-ruff-check, local-ruff-format

📝 Add docs references to central contributing docs
  docs/en/docs/contributing.md
  docs/en/docs/translations.md
  docs/en/mkdocs.yml
  scripts/docs.py
  scripts/translate.py
  scripts/translation_fixer.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

📝 Update docs
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

📝 Add docs references to central contributing docs (#15580)
  docs/en/docs/contributing.md
  docs/en/docs/translations.md
  docs/en/mkdocs.yml
  scripts/docs.py
  scripts/translate.py
  scripts/translation_fixer.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

✨ Optimize response serialization using Pydantic v2 TypeAdapter
  fastapi/encoders.py
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

✨ Optimize request parameter validation via synthetic models
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

⚡ Cache pydantic.v1 import to minimize compatibility overhead
  fastapi/_compat/shared.py
Due: local-ruff-check, local-ruff-format

📝 Update and simplify docs about help and management
  docs/en/docs/help-fastapi.md
  docs/en/docs/management-tasks.md
  docs/en/docs/management.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

📝 Update and simplify docs about help and management (#15583)
  docs/en/docs/help-fastapi.md
  docs/en/docs/management-tasks.md
  docs/en/docs/management.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

🐛 Fix double JSON parsing from request body
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

✅ Update tests for Pydantic v2 JSON decode errors
  tests/test_tutorial/test_body/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

test: cover auto head route handlers
  tests/test_auto_head_for_get.py
Due: local-ruff-check, local-ruff-format

🎨 Format code and add NotImplementedError fallback
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

fix: keep explicit head routes preferred
  fastapi/routing.py
  tests/test_extra_routes.py
Due: local-ruff-check, local-ruff-format

🙈 Ignore NotImplementedError fallback in coverage
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🐛 Fix mypy type checking errors for Pydantic v2 optimizations
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🐛 Fix ty (pyright) type checking errors
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

♻️ Add pragma no cover for unreachable edge cases
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/encoders.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔥 Remove config files now in central GitHub repo
  .github/FUNDING.yml
  CONTRIBUTING.md
  SECURITY.md
Due: none

🔥 Remove config files now in central GitHub repo (#15585)
  .github/FUNDING.yml
  CONTRIBUTING.md
  SECURITY.md
Due: none

🔧 Remove dead per-file-ignores entries for removed Python 3.9 tutorials
  pyproject.toml
Due: none

⚡️ Speed up test suite via caching and fixture scopes to make it ~24% faster (#13583)
  tests/test_tutorial/test_security/test_tutorial005.py
  tests/test_tutorial/test_sql_databases/test_tutorial001.py
  tests/test_tutorial/test_sql_databases/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

📝 Document `--entrypoint` CLI option (#15464)
  docs/en/docs/fastapi-cli.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

✅ Update tests, don't double dispose the engine
  tests/test_tutorial/test_sql_databases/test_tutorial001.py
  tests/test_tutorial/test_sql_databases/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

✅ Update tests, don't double dispose the engine (#15587)
  tests/test_tutorial/test_sql_databases/test_tutorial001.py
  tests/test_tutorial/test_sql_databases/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

♻️ Validate Server Sent Event fields to avoid applications from sending broken data
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

♻️ Validate Server Sent Event fields to avoid applications from sending broken data (#15588)
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
