Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

🔥 Remove test variants for Pydantic v1 in test_request_params
  tests/test_request_params/test_body/test_list.py
  tests/test_request_params/test_file/test_list.py
  tests/test_request_params/test_form/test_list.py
  tests/test_request_params/test_header/test_list.py
  tests/test_request_params/test_query/test_list.py
Due: none

🔥 Remove test variants for Pydantic v1 in test_request_params (#14612)
  tests/test_request_params/test_body/test_list.py
  tests/test_request_params/test_file/test_list.py
  tests/test_request_params/test_form/test_list.py
  tests/test_request_params/test_header/test_list.py
  tests/test_request_params/test_query/test_list.py
Due: none

👷 Do not run translations on cron while finishing updating existing languages
  .github/workflows/translate.yml
Due: none

🔧 Update LLM prompt
  docs/tr/llm-prompt.md
Due: update-languages, ensure-non-translated

👷 Do not run translations on cron while finishing updating existing languages (#14613)
  .github/workflows/translate.yml
Due: none

🔧 Add LLM prompt file for Simplified Chinese, generated from the existing translations (#14549)
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

🔧 Add LLM prompt file for Traditional Chinese, generated from the existing translations (#14550)
  docs/zh-hant/llm-prompt.md
Due: update-languages, ensure-non-translated

🔨 Update LLM translation script to guide reviewers to change the prompt
  scripts/translate.py
Due: none

🔨 Update LLM translation script to guide reviewers to change the prompt (#14614)
  scripts/translate.py
Due: none

🔨 remove unused variable
  fastapi/routing.py
Due: none

🔨 remove unused "response" variable
  fastapi/routing.py
Due: none

🔨 rewrite status_code select logic
  fastapi/routing.py
Due: none

🔨 simplify code, use less nesting
  fastapi/routing.py
Due: none

add typing for dependency_overrides_provider
  fastapi/dependencies/utils.py
  fastapi/routing.py
  fastapi/types.py
Due: none

Improve Json field detection and simplify tests
  fastapi/dependencies/utils.py
  tests/test_form_json_type.py
Due: none

🐛 Fix Form() with Pydantic Json[T] type (#10997)
  fastapi/dependencies/utils.py
  tests/test_form_json_type.py
Due: none

🔧 Add LLM prompt file for Turkish, generated from the existing translations (#14547)
  docs/tr/llm-prompt.md
Due: update-languages, ensure-non-translated

🔧 Update LLM prompt for French from reviews
  docs/fr/llm-prompt.md
Due: update-languages, ensure-non-translated

🔧 Update prompt from review
  docs/fr/llm-prompt.md
Due: update-languages, ensure-non-translated

Add more supported languages
  scripts/cmpr.py
Due: none

🔧 Tweak prompt
  docs/fr/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update translation prompts
  docs/de/llm-prompt.md
  docs/en/docs/_llm-test.md
  docs/ja/llm-prompt.md
  docs/ko/llm-prompt.md
  docs/missing-translation.md
  docs/pt/llm-prompt.md
  docs/tr/llm-prompt.md
  docs/uk/llm-prompt.md
  docs/zh-hant/llm-prompt.md
  docs/zh/llm-prompt.md
  scripts/general-llm-prompt.md
  scripts/translate.py
Due: add-permalinks-pages, update-languages, ensure-non-translated

🌐 Update translation prompts (#14619)
  docs/de/llm-prompt.md
  docs/en/docs/_llm-test.md
  docs/ja/llm-prompt.md
  docs/ko/llm-prompt.md
  docs/missing-translation.md
  docs/pt/llm-prompt.md
  docs/tr/llm-prompt.md
  docs/uk/llm-prompt.md
  docs/zh-hant/llm-prompt.md
  docs/zh/llm-prompt.md
  scripts/general-llm-prompt.md
  scripts/translate.py
Due: add-permalinks-pages, update-languages, ensure-non-translated

Fix links, permalinks, code includes
  scripts/doc_parsing_utils.py
  scripts/translation_fixer.py
Due: none

refactored - replaced deprecated on_event with lifespan in SQL tutorials
  docs_src/sql_databases/tutorial001_an_py310.py
  docs_src/sql_databases/tutorial001_an_py39.py
  docs_src/sql_databases/tutorial001_py310.py
  docs_src/sql_databases/tutorial001_py39.py
  tests/test_tutorial/test_sql_databases/test_tutorial001.py
Due: none

update error message for query parameter type handling
  fastapi/dependencies/utils.py
  tests/test_invalid_sequence_param.py
Due: none

Improve error message for missing dependency type annotation
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_dependency_overrides.py
Due: none

Handle code blocks, fix some bugs, add `fix-all` command
  scripts/doc_parsing_utils.py
  scripts/translation_fixer.py
Due: none

Update link format for local documentation URL
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

Compare objects MRO with encoders at runtime
  fastapi/encoders.py
Due: none

👥 Update FastAPI People - Contributors and Translators (#14625)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages

👥 Update FastAPI GitHub topic repositories (#14630)
  docs/en/data/topic_repos.yml
Due: update-languages

👥 Update FastAPI People - Sponsors (#14626)
  docs/en/data/github_sponsors.yml
Due: update-languages

docs: clarify OpenAPI explanation
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Fix security issues detected by contrib
  scripts/playwright/cookie_param_models/image01.py
  scripts/playwright/header_param_models/image01.py
  scripts/playwright/query_param_models/image01.py
  scripts/playwright/sql_databases/image01.py
  scripts/playwright/sql_databases/image02.py
Due: none

Replace IncEx type copy with export from pydantic
  fastapi/types.py
Due: none

docs: Added contributing section
  README.md
Due: none

Update docs_src/app_testing/app_b_an_py310/main.py
  docs_src/app_testing/app_b_an_py310/main.py
Due: none

Update docs_src/app_testing/app_b_py310/main.py & docs_src/app_testing/app_b_py39/main.py & docs_src/app_testing/app_b_an_py39/main.py to follow new docs_src/app_testing/app_b_an_py310/main.py logic
  docs_src/app_testing/app_b_an_py39/main.py
  docs_src/app_testing/app_b_py310/main.py
  docs_src/app_testing/app_b_py39/main.py
Due: none

Docs: clarify response_model filtering behavior
  docs/en/docs/tutorial/response-model.md
Due: add-permalinks-pages, update-languages

Path conditions:
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
