Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Refactor `Dependant.computed_scope` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Enable `slots` option
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Make cache field typing more accurate
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Fix ruff linting issue
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Fix mypy linting issue
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Configure Dependbot to check updates daily
  .github/dependabot.yml
Due: none

Add `pre-commit` package ecosystem to Dependabot config
  .github/dependabot.yml
Due: none

fix typos: FastAPI capitalization and duplicate words
  docs/en/docs/release-notes.md
  docs/es/docs/alternatives.md
  docs/pt/docs/advanced/async-tests.md
  tests/test_tutorial/test_custom_response/test_tutorial006b.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

restore summary for test_openapi_schema
  tests/test_tutorial/test_custom_response/test_tutorial006b.py
Due: local-ruff-check, local-ruff-format

fix(dependencies): resolve forward ref in Annotated type_annotation
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

fix: honor AliasChoices for direct request params
  fastapi/dependencies/utils.py
  tests/test_request_params/test_query/test_required_str.py
Due: local-ruff-check, local-ruff-format

feat: add AI agent governance configs
  .amazonq/rules/governance.md
  .claude/governance.md
  .clinerules
  .continuerules
  .cursor/rules/governance.mdc
  .github/copilot-instructions.md
  .rules
  .windsurf/rules/governance.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

drop pydantic v1/v2 switching in forms defaults tests
  tests/test_forms_defaults.py
Due: local-ruff-check, local-ruff-format

rm pydantic 1 tutorial examples
  docs_src/request_form_models/tutorial004_pv1.py
  docs_src/request_form_models/tutorial004_pv1_an_py39.py
Due: local-ruff-check, local-ruff-format

rename remaining tutorials for 310
  docs/en/docs/tutorial/request-form-models.md
  docs_src/request_form_models/tutorial003_an_py310.py
  docs_src/request_form_models/tutorial003_py310.py
  docs_src/request_form_models/tutorial004_an_py310.py
  docs_src/request_form_models/tutorial004_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

add tests for tutorials
  tests/test_tutorial/test_request_form_models/test_tutorial003.py
  tests/test_tutorial/test_request_form_models/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

unchecked checkboxes are absent from html form input
  tests/test_tutorial/test_request_form_models/test_tutorial003.py
  tests/test_tutorial/test_request_form_models/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

fix(dependencies): also handle ForwardRef object in Annotated types
  fastapi/dependencies/utils.py.bak
Due: none

feat(异常处理): 改进验证错误的格式化输出
  fastapi/exceptions.py
Due: local-ruff-check, local-ruff-format

Add example for validating path parameters in error handling docs
  docs/en/docs/tutorial/handling-errors.md
Due: add-permalinks-pages, update-languages

Update docs to use Pydantic AfterValidator for path parameter validation
  docs/en/docs/tutorial/handling-errors.md
Due: add-permalinks-pages, update-languages

Automatically support HEAD method for all GET routes
  fastapi/routing.py
  tests/test_auto_head_for_get.py
  tests/test_extra_routes.py
Due: local-ruff-check, local-ruff-format

Merge injected BackgroundTasks with Response.background instead of discarding
  fastapi/routing.py
  tests/test_background_tasks_merge.py
Due: local-ruff-check, local-ruff-format

Auto-add HEAD method for GET routes (issue #1773)
  fastapi/routing.py
  tests/test_auto_head.py
Due: local-ruff-check, local-ruff-format

Skip HEAD in OpenAPI schema generation
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Fix operation ID: exclude HEAD from unique_id generation
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Fix standalone HEAD routes: only exclude HEAD from operation ID when GET is present
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

🔥 Remove April Fool's `@app.vibe()` 🤪
  docs/en/docs/advanced/vibe.md
  docs/en/mkdocs.yml
  docs_src/vibe/tutorial001_py310.py
  fastapi/applications.py
  tests/test_vibe.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔥 Remove April Fool's `@app.vibe()` 🤪 (#15363)
  docs/en/docs/advanced/vibe.md
  docs/en/mkdocs.yml
  docs_src/vibe/tutorial001_py310.py
  fastapi/applications.py
  tests/test_vibe.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.135.4
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⬆️ Support free-threaded Python 3.14t (#15149)
  .github/workflows/test.yml
  fastapi/responses.py
  pyproject.toml
  tests/test_default_response_class.py
  tests/test_deprecated_responses.py
  tests/test_orjson_response_class.py
  tests/test_tutorial/test_custom_response/test_tutorial001.py
  tests/test_tutorial/test_custom_response/test_tutorial001b.py
  tests/test_tutorial/test_custom_response/test_tutorial009c.py
  tests/utils.py
  uv.lock
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.136.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔒️ Add zizmor and fix audit findings (#15316)
  .github/dependabot.yml
  .github/workflows/add-to-project.yml
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

🔧 Update sponsors: remove Speakeasy
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
Due: add-permalinks-pages, generate-readme, update-languages

🔧 Update sponsors: remove Speakeasy (#15368)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
Due: add-permalinks-pages, generate-readme, update-languages

🔧 Update sponsors: remove Zuplo
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Due: generate-readme, update-languages

🔧 Update sponsors: remove Zuplo (#15369)
  README.md
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
Due: generate-readme, update-languages

feat: automatically support HEAD method for all GET routes
  fastapi/openapi/utils.py
  fastapi/routing.py
  fastapi/utils.py
  tests/test_head_auto.py
Due: local-ruff-check, local-ruff-format

🐛 fix deadlock with dependencies
  fastapi/concurrency.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_concurrency.py
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

✨ add set_thread_limit to concurrency module
  fastapi/concurrency.py
  tests/test_concurrency.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
