Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

Enable `uk` language in docs
  docs/en/mkdocs.yml
  scripts/docs.py
Due: generate-readme, update-languages, ensure-non-translated

✨ Support for mixed and multiple Pydantic models for parameters using Query, Cookie and Header
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  tests/test_multiple_parameter_models.py
Due: none

Enable `ja` language in docs
  docs/en/mkdocs.yml
  scripts/docs.py
Due: generate-readme, update-languages, ensure-non-translated

Add language codes to links in `index.md` and `project-generation.md` by translation fixer tool
  docs/ja/docs/index.md
  docs/ja/docs/project-generation.md
Due: update-languages, ensure-non-translated

Add language codes to links in `index.md` and `project-generation.md` by translation fixer tool
  docs/ko/docs/index.md
  docs/ko/docs/project-generation.md
Due: update-languages, ensure-non-translated

Fix multiline code block in `first-steps.md`
  docs/ko/docs/tutorial/first-steps.md
Due: update-languages, ensure-non-translated

Enable `ko` language in docs
  docs/en/mkdocs.yml
  scripts/docs.py
Due: generate-readme, update-languages, ensure-non-translated

Refactor `translation_fixer.process_one_page` - move some logic to `doc_parsing_utils.check_translation`
  scripts/doc_parsing_utils.py
  scripts/translation_fixer.py
Due: none

Integrate `check_translation` function to `translate_page` - retry up to 2 times if translation check failed
  scripts/translate.py
Due: none

Fix `FileNotFoundError` in `translate.py`
  scripts/llm-general-prompt.md
Due: none

Use `is_typealiastype` from `typing_inspection` instead of duplicating it
  fastapi/dependencies/utils.py
  pyproject.toml
Due: none

Update import in test, remove `from __future__ import annotations`
  tests/test_dependency_pep695.py
Due: none

Align HTTPBasic realm behavior with existing implementation
  fastapi/security/http.py
  tests/test_security_http_basic_optional.py
Due: none

docs: clarify HTTP Basic realm is optional
  docs/de/docs/advanced/security/http-basic-auth.md
Due: update-languages, ensure-non-translated

🐛 Fix Form() with Pydantic Json[T] type (#10997)
  fastapi/dependencies/utils.py
  tests/test_form_json_type.py
Due: none

Improve Json field detection and simplify tests
  fastapi/dependencies/utils.py
  tests/test_form_json_type.py
Due: none

Update fastapi/dependencies/utils.py
  fastapi/dependencies/utils.py
Due: none

docs: clarify HTTP Basic realm optional (English docs)
  docs/de/docs/advanced/security/http-basic-auth.md
Due: update-languages, ensure-non-translated

refactor: Simplify Json field detection
  fastapi/dependencies/utils.py
Due: none

Apply suggestions from code review
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

fix: import Annotated from typing_extensions for Python 3.8 compatibility
  docs_src/query_params_str_validations/tutorial006d_an_py310.py
Due: none

docs: fix inline code formatting and add tested example for Required, can be None section
  docs/en/docs/tutorial/query-params-str-validations.md
  docs_src/query_params_str_validations/tutorial006d_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006d_an_py310.py
Due: add-permalinks-pages, update-languages

docs: clarify BeforeValidator is available only in Pydantic v2
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

docs: clarify misleading 'Required, can be None' section in query param validation
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

Update highlights
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

docs: finalize Required, can be None example with test verification
  docs_src/query_params_str_validations/tutorial006d_an_py310.py
Due: none

test: finalize client fixture and absolute import for needs_pydanticv2
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006d_an_py310.py
Due: none

Update docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

style: clean formatting with Ruff + Black
  docs/en/docs/tutorial/query-params-str-validations.md
  docs_src/query_params_str_validations/tutorial006d_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006d_an_py310.py
Due: add-permalinks-pages, update-languages

Rename code example file and add variants
  docs/en/docs/tutorial/query-params-str-validations.md
  docs_src/query_params_str_validations/tutorial006c_an_py310.py
  docs_src/query_params_str_validations/tutorial006c_an_py39.py
  docs_src/query_params_str_validations/tutorial006c_py310.py
  docs_src/query_params_str_validations/tutorial006c_py39.py
  docs_src/query_params_str_validations/tutorial006d_an_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006c.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006d_an_py310.py
Due: add-permalinks-pages, update-languages

Update text in docs
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

Fix `Dict` -> `dict`
  fastapi/routing.py
Due: none

Fix `Dict` -> `dict`
  fastapi/dependencies/utils.py
Due: none

Update test - remove `PYDANTIC_V2` conditions
  tests/test_dependency_cache.py
Due: none

Remove `# fmt: skip` comments
  fastapi/dependencies/utils.py
Due: none

Fix `Type` -> `type`
  fastapi/datastructures.py
Due: none

Fix syntax in test
  tests/test_request_uploadfile_type.py
Due: none

yolo
  CLAUDE.md
Due: none

docs: improve wording in README
  README.md
Due: none

docs: improve README clarity for new users
  README.md
Due: none

Path conditions:
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
