Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🔧 Remove dead per-file-ignores entries for removed Python 3.9 tutorials
  pyproject.toml
Due: none

Remove dead line from coverage omit section
  pyproject.toml
Due: none

Fix ormat_sse_event docstring rendering of \n\n terminator
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

fix(security): upgrade starlette for CVE-2026-48710 mitigation
  pyproject.toml
Due: none

✅ Add `httpx2` test dependency to avoid deprecation warning (#15603)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/test_tutorial/test_header_param_models/test_tutorial001.py
  tests/test_tutorial/test_header_param_models/test_tutorial003.py
  uv.lock
Due: local-ruff-check, local-ruff-format

Use custom `changing_dir` instead of `CLIRunner.isolated_filesystem` to set work dir
  scripts/tests/test_translation_fixer/conftest.py
Due: local-ruff-check, local-ruff-format

⚡️ Use TypeAdapter.validate_json instead of json.loads
  docs/de/docs/tutorial/handling-errors.md
  docs/en/docs/tutorial/handling-errors.md
  docs/es/docs/tutorial/handling-errors.md
  docs/fr/docs/tutorial/handling-errors.md
  docs/ja/docs/tutorial/handling-errors.md
  docs/ko/docs/tutorial/handling-errors.md
  docs/pt/docs/tutorial/handling-errors.md
  docs/ru/docs/tutorial/handling-errors.md
  docs/tr/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/zh-hant/docs/tutorial/handling-errors.md
  docs/zh/docs/tutorial/handling-errors.md
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  pyproject.toml
  tests/test_tutorial/test_body/test_tutorial001.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial002.py
  tests/test_tutorial/test_body_nested_models/test_tutorial006.py
  tests/test_tutorial/test_body_nested_models/test_tutorial008.py
  tests/test_tutorial/test_custom_request_and_route/test_tutorial002.py
  tests/test_tutorial/test_handling_errors/test_tutorial005.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

⚡️ Use `TypeAdapter.validate_json` instead of `json.loads`
  docs/de/docs/tutorial/handling-errors.md
  docs/en/docs/tutorial/handling-errors.md
  docs/es/docs/tutorial/handling-errors.md
  docs/fr/docs/tutorial/handling-errors.md
  docs/ja/docs/tutorial/handling-errors.md
  docs/ko/docs/tutorial/handling-errors.md
  docs/pt/docs/tutorial/handling-errors.md
  docs/ru/docs/tutorial/handling-errors.md
  docs/tr/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/zh-hant/docs/tutorial/handling-errors.md
  docs/zh/docs/tutorial/handling-errors.md
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_tutorial/test_body/test_tutorial001.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial002.py
  tests/test_tutorial/test_body_nested_models/test_tutorial006.py
  tests/test_tutorial/test_body_nested_models/test_tutorial008.py
  tests/test_tutorial/test_custom_request_and_route/test_tutorial002.py
  tests/test_tutorial/test_handling_errors/test_tutorial005.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

fix(sse): preserve empty data lines in SSE formatting
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

⚡ Optimize get_flat_dependant: set lookup + copy-on-write lists
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

⚡ Use set for security scope dedup and skip redundant jsonable_encoder
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

⚡ Deduplicate get_flat_dependant calls in OpenAPI schema generation
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Optimize jsonable_encoder to skip building key set when no include/exclude
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

address review: shorten comment, parametrize tests, add empty-data case
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

✅ Use custom `changing_dir` instead of `CLIRunner.isolated_filesystem` to set working dir (#15616)
  scripts/tests/test_translation_fixer/conftest.py
Due: local-ruff-check, local-ruff-format

Remove duplicated timeout in `zizmor.yml`
  .github/workflows/zizmor.yml
Due: none

⚰️ Remove ruff and coverage ignores for non-existing files (#15610)
  pyproject.toml
Due: none

🔒️ Improve GitHub actions security (#15607)
  .github/workflows/add-to-project.yml
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/guard-dependencies.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
  .github/workflows/zizmor.yml
  .pre-commit-config.yaml
Due: none

Added FastAPI security guide documentation
  docs/en/docs/advanced/security/Fastapi security guide.md
Due: add-permalinks-pages, update-languages

Renamed security guide file
  docs/en/docs/advanced/security/fastapi-security-guide.md
Due: add-permalinks-pages, update-languages

test: address multipart version PR review feedback
  tests/test_dependencies_utils.py
  tests/test_multipart_installation.py
Due: local-ruff-check, local-ruff-format

Fix optional response encoder import errors
  fastapi/responses.py
  tests/test_deprecated_responses.py
Due: local-ruff-check, local-ruff-format

⚡️ Replace email.message with string parsing for content-type detection
  fastapi/routing.py
  tests/bench_content_type.py
  tests/test_is_json_content_type.py
Due: local-ruff-check, local-ruff-format

improve README clarity and readability
  README.md
Due: none

⬆ Bump python-multipart from 0.0.28 to 0.0.29
  uv.lock
Due: none

Bump authlib from 1.6.12 to 1.7.2
  uv.lock
Due: none

📝 Add local documentation preview instructions
  README.md
Due: none

Marvis [ FastAPI ] Fix hardcoded CDN URLs in Swagger UI and ReDoc HTML generation
  fastapi/openapi/.generation_meta.json
  fastapi/openapi/docs.py
  tests/test_application.py
Due: local-ruff-check, local-ruff-format

Fix typo in release notes entry
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

perf: optimize OpenAPI schema generation (get_flat_dependant)
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

📝 Fix README footnote marker spacing
  README.md
Due: none

📝 Fix first-steps entrypoint wording
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

📝 Add extra return fields first-steps example
  docs/en/docs/tutorial/first-steps.md
  docs_src/first_steps/tutorial004_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Avoid UnicodeDecodeError when encoding bytes
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

feat: add file size and content type validation to UploadFile (#761)
  contributor_meta.json
  fastapi/datastructures.py
  tests/test_datastructures.py
Due: local-ruff-check, local-ruff-format

✨ Add parse_sse_events: parse SSE wire-format responses into ParsedSSEEvent objects
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Preserve `null` values in user-provided OpenAPI `example`/`examples`
  fastapi/openapi/utils.py
  tests/test_openapi_examples.py
Due: local-ruff-check, local-ruff-format

Handle broken optional JSON imports
  fastapi/responses.py
  tests/test_deprecated_responses.py
Due: local-ruff-check, local-ruff-format

Fix: validate event and id fields in format_sse_event to prevent SSE protocol injection
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
