Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

♻️ Simplify reading files in memory, do it sequentially instead of (fake) parallel (#14884)
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

✏️ Update docs/en/docs/deployment/https.md
  docs/en/docs/deployment/https.md
Due: add-permalinks-pages, update-languages

✅ Test order for the submitted byte Files (#14828)
  tests/test_list_bytes_file_order_preserved_issue_14811.py
Due: local-ruff-check, local-ruff-format

📝 Use `dfn` tag for definitions instead of `abbr` in docs (#14744)
  README.md
  docs/en/docs/advanced/dataclasses.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
  docs/en/docs/alternatives.md
  docs/en/docs/css/custom.css
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/https.md
  docs/en/docs/features.md
  docs/en/docs/index.md
  docs/en/docs/python-types.md
  docs/en/docs/tutorial/cookie-param-models.md
  docs/en/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/en/docs/tutorial/dependencies/index.md
  docs/en/docs/tutorial/dependencies/sub-dependencies.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/path-operation-configuration.md
  docs/en/docs/tutorial/path-params.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/query-params.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/schema-extra-example.md
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, generate-readme, update-languages

✏️ Update scripts/general-llm-prompt.md
  scripts/general-llm-prompt.md
Due: none

✅ Tweak comment in test to reference PR
  tests/test_list_bytes_file_order_preserved_issue_14811.py
Due: local-ruff-check, local-ruff-format

🔧 Update LLM-prompt for `abbr` and `dfn` tags (#14747)
  docs/de/docs/_llm-test.md
  docs/en/docs/_llm-test.md
  docs/es/docs/_llm-test.md
  docs/ko/docs/_llm-test.md
  docs/pt/docs/_llm-test.md
  docs/ru/docs/_llm-test.md
  scripts/general-llm-prompt.md
Due: add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

✅ Tweak comment in test to reference PR (#14885)
  tests/test_list_bytes_file_order_preserved_issue_14811.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.128.7
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Fix grammar in `docs/en/docs/tutorial/first-steps.md` (#14708)
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Update encoders.py
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Attempt to use pydantic_extra_types and allow the deprecated v1 Color
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Revert import for color
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

📝 Fix StreamingResponse doc example to actually stream
  docs_src/custom_response/tutorial007_py39.py
Due: local-ruff-check, local-ruff-format

fix: use await asyncio.sleep() in StreamingResponse async generator example
  docs_src/custom_response/tutorial007_py39.py
Due: local-ruff-check, local-ruff-format

Update behaviour for named tuples
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Coordinate is not a required type, making it optional
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Final fix so tests works nicely
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

For extra-types safety
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Fix tests, two encoders for one
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Tests for coverage and sqlalchemy
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

More tests for coverage
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Update for fix the version check
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Fix mismatch on versions
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

E402 Module level import not at top of file
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Deprecated Color
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

As pydantic v1 support is dropped, we can "inline" the color encoder
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

tests from pr 13314
  tests/test_union_body_discriminator_annotated.py
Due: local-ruff-check, local-ruff-format

test annotated
  tests/test_annotated_validators.py
Due: local-ruff-check, local-ruff-format

♻️ Update build setup for fastapi-slim, make it only depend on fastapi
  fastapi-slim/README.md
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

👷 Update CI to not include slim versions as it now only depends on fastapi
  .github/workflows/test-redistribute.yml
Due: none

♻️ Update build setup for `fastapi-slim`, deprecate it, and make it only depend on `fastapi` (#14894)
  .github/workflows/test-redistribute.yml
  fastapi-slim/README.md
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

🔨 Tweak pdm hook script
  pdm_build.py
Due: local-ruff-check, local-ruff-format

🔨 Tweak PDM hook script (#14895)
  pdm_build.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.128.8
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add hyperlinks to Starlette and ASGI in middleware docs
  docs/en/docs/advanced/middleware.md
Due: add-permalinks-pages, update-languages

➖ Drop support for Python 3.9
  pyproject.toml
  uv.lock
Due: none

👷 Do not run Python 3.9 in CI
  .github/workflows/test.yml
Due: none

📝 Update docs references to Python 3.9 in Docker, to Python 3.14
  docs/en/docs/deployment/docker.md
Due: add-permalinks-pages, update-languages
