Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

resolve
  fastapi/_compat/shared.py
Due: none

add v2 omit by default
  fastapi/_compat/main.py
Due: none

👷 Update secrets check
  .github/workflows/pre-commit.yml
Due: none

👷 Update secrets check (#14592)
  .github/workflows/pre-commit.yml
Due: none

Remove `lint` job from `test.yml` workflow
  .github/workflows/test.yml
Due: none

Add new line to test pre-commit linting
  fastapi/utils.py
Due: none

Minor clarification suggestion for the “Parallel Burgers” analogy in concurrency docs
  docs/en/docs/async.md
Due: add-permalinks-pages, update-languages

Add script to compare fixed elements in translated page with En page
  scripts/cmpr.py
Due: none

fix: Require realm in HTTPBasic to comply with RFC 7617 (#13471)
  docs_src/security/tutorial006_an_py39.py
  docs_src/security/tutorial006_py39.py
  docs_src/security/tutorial007_an_py39.py
  docs_src/security/tutorial007_py39.py
  fastapi/security/http.py
  tests/test_security_http_basic_optional.py
  tests/test_tutorial/test_security/test_tutorial006.py
Due: none

Fix broken anchor link in Japanese Docker deployment docs
  docs/ja/docs/deployment/docker.md
Due: update-languages, ensure-non-translated

🌐 Update translations for de (update-outdated) (#14581)
  docs/de/docs/advanced/path-operation-advanced-configuration.md
  docs/de/docs/advanced/settings.md
  docs/de/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/de/docs/how-to/separate-openapi-schemas.md
  docs/de/docs/tutorial/body-updates.md
  docs/de/docs/tutorial/body.md
  docs/de/docs/tutorial/extra-models.md
  docs/de/docs/tutorial/query-params-str-validations.md
  docs/de/docs/tutorial/response-model.md
  docs/de/docs/tutorial/schema-extra-example.md
Due: update-languages, ensure-non-translated

Print pure text in non-interactive mode
  scripts/cmpr.py
Due: none

📝 Fix grammar in tutorial/body.md
  docs/en/docs/tutorial/body.md
Due: add-permalinks-pages, update-languages

docs: Add exception handling guidance for BackgroundTasks
  docs/en/docs/tutorial/background-tasks.md
Due: add-permalinks-pages, update-languages

📝 Add documentary to website
  README.md
  docs/en/docs/img/fastapi-documentary.jpg
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

📝 Add documentary to website (#14600)
  README.md
  docs/en/docs/img/fastapi-documentary.jpg
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

♻️ Error out when using pydantic.v1
  fastapi/dependencies/utils.py
  fastapi/exceptions.py
  fastapi/routing.py
Due: none

✅ Update tests for pydantic.v1 to ensure error
  tests/test_pydantic_v1_deprecation_warnings.py
Due: none

🚚 Rename file
  tests/test_pydantic_v1_error.py
Due: none

test: add comprehensive tests for _try_resolve_annotated_string
  tests/test_annotated_forward_ref.py
Due: none

fix: use params.Depends instead of Depends for isinstance check
  tests/test_annotated_forward_ref.py
Due: none

Sync with #14600
  docs/de/docs/index.md
Due: update-languages, ensure-non-translated

A few changes
  docs/de/docs/index.md
  docs/de/llm-prompt.md
Due: update-languages, ensure-non-translated

Fix issues found by script
  docs/fr/docs/advanced/additional-responses.md
  docs/fr/docs/deployment/versions.md
Due: update-languages, ensure-non-translated

👷 Remove `lint` job from `test` CI workflow (#14593)
  .github/workflows/test.yml
Due: none

🔥 Remove Pydantic v1 tests
  tests/test_compat_params_v1.py
  tests/test_datetime_custom_encoder.py
  tests/test_filter_pydantic_sub_model/__init__.py
  tests/test_filter_pydantic_sub_model/app_pv1.py
  tests/test_filter_pydantic_sub_model/test_filter_pydantic_sub_model_pv1.py
  tests/test_get_model_definitions_formfeed_escape.py
  tests/test_pydantic_v1_v2_01.py
  tests/test_pydantic_v1_v2_list.py
  tests/test_pydantic_v1_v2_mixed.py
  tests/test_pydantic_v1_v2_multifile/__init__.py
  tests/test_pydantic_v1_v2_multifile/main.py
  tests/test_pydantic_v1_v2_multifile/modelsv1.py
  tests/test_pydantic_v1_v2_multifile/modelsv2.py
  tests/test_pydantic_v1_v2_multifile/modelsv2b.py
  tests/test_pydantic_v1_v2_multifile/test_multifile.py
  tests/test_pydantic_v1_v2_noneable.py
  tests/test_read_with_orm_mode.py
  tests/test_response_model_as_return_annotation.py
  tests/test_tutorial/test_pydantic_v1_in_v2/__init__.py
  tests/test_tutorial/test_pydantic_v1_in_v2/test_tutorial001.py
  tests/test_tutorial/test_pydantic_v1_in_v2/test_tutorial002.py
  tests/test_tutorial/test_pydantic_v1_in_v2/test_tutorial003.py
  tests/test_tutorial/test_pydantic_v1_in_v2/test_tutorial004.py
  tests/test_tutorial/test_request_form_models/test_tutorial002_pv1.py
  tests/test_tutorial/test_schema_extra_example/test_tutorial001_pv1.py
Due: none

💡 Tweak TODO comments to make them easier for me to find them
  tests/test_tutorial/test_body/test_tutorial002.py
  tests/test_tutorial/test_body/test_tutorial003.py
  tests/test_tutorial/test_body/test_tutorial004.py
  tests/test_tutorial/test_body_updates/test_tutorial002.py
  tests/test_tutorial/test_extra_models/test_tutorial001_tutorial002.py
Due: none

✅ Tweak test, add xfail
  tests/test_tutorial/test_dependencies/test_tutorial008.py
Due: none

⬆️ Upgrade Strawberry for tests
  requirements-tests.txt
Due: none

🌐 Update translations for de (update-outdated) (#14602)
  docs/de/docs/index.md
  docs/de/llm-prompt.md
Due: update-languages, ensure-non-translated

Update `index.md` to reflect latest changes
  docs/uk/docs/index.md
Due: update-languages, ensure-non-translated

⬇️ Downgrade Strawberry Python for Python 3.9
  requirements-tests.txt
Due: none

Fix mistakes found by script
  docs/uk/docs/tutorial/body-updates.md
Due: update-languages, ensure-non-translated

🔇 Add warning ignore for Strawberry
  tests/test_tutorial/test_graphql/test_tutorial001.py
Due: none

✅ Tweak test to filter warning
  tests/test_tutorial/test_query_params_str_validations/test_tutorial004.py
Due: none

Update `index.md` to reflect latest changes
  docs/fr/docs/index.md
Due: update-languages, ensure-non-translated

Update `index.md` to reflect latest changes
  docs/ja/docs/index.md
Due: update-languages, ensure-non-translated

Update `index.md` to reflect latest changes
  docs/ko/docs/index.md
Due: update-languages, ensure-non-translated

Path conditions:
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
