Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🐛 Fix Git output decoding on Windows
  scripts/translation_git.py
  tests/test_translate.py
Due: local-ruff-check, local-ruff-format

👷 Update translation PR branches with PR Push (#16224)
  .github/pr-push.yml
  .github/workflows/translate.yml
  scripts/translate.py
  scripts/translation_git.py
  tests/test_translate.py
Due: local-ruff-check, local-ruff-format

tests: add test_fastapi_cli_installed to verify CLI invocation when available
  tests/test_fastapi_cli.py
Due: local-ruff-check, local-ruff-format

test(dependency_cache): add test for repeated parsing
  tests/test_dependency_cache.py
Due: local-ruff-check, local-ruff-format

perf(dependencies): skip doing any work when sub dependant is already cached
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Add event_handlers module with shared handler convention
  docs_src/event_handlers/__init__.py
  docs_src/event_handlers/base.py
  docs_src/event_handlers/order_placed.py
  docs_src/event_handlers/order_shipped.py
  docs_src/event_handlers/payment_received.py
  docs_src/event_handlers/user_created.py
  docs_src/event_handlers/user_deleted.py
Due: local-ruff-check, local-ruff-format

🐛 Fix TypeAliasType sequence handling for Query, Form, and Header parameters
  fastapi/_compat/shared.py
  tests/test_request_params/test_form/test_list.py
  tests/test_request_params/test_header/test_list.py
  tests/test_request_params/test_query/test_list.py
Due: local-ruff-check, local-ruff-format

Add tests for WebSocket and Security dependency behavior
  tests/tests/test_flattening_refactor_seams.py
Due: local-ruff-check, local-ruff-format

docs: rename read_items to update_item in extra data types example
  docs_src/extra_data_types/tutorial001_an_py310.py
  docs_src/extra_data_types/tutorial001_py310.py
  tests/test_tutorial/test_extra_data_types/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

fix: make _fallback_file_exists async to avoid blocking event loop with sync filesystem I/O
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

🌐 Add Indonesian translation for `docs/id/docs/tutorial/query-params.md`
  docs/id/docs/tutorial/query-params.md
Due: update-languages, ensure-non-translated, fix-translations

Potential fix for pull request finding
  docs/id/docs/tutorial/query-params.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Add Indonesian translation for `docs/id/docs/tutorial/response-status-code.md`
  docs/id/docs/tutorial/response-status-code.md
Due: update-languages, ensure-non-translated, fix-translations

refactor(encoders): include PurePath in ENCODERS_BY_TYPE mapping
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

test(encoders): add unit test asserting PurePath in ENCODERS_BY_TYPE
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Inherit Starlette router dispatch
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

refactor(encoders): include PurePath in ENCODERS_BY_TYPE mapping
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

📝 Add docs and tutorial for Kubernetes probes (liveness, readiness, startup)
  .gitignore
  docs/en/docs/deployment/kubernetes-probes.md
  docs/en/mkdocs.yml
  docs_src/kubernetes_probes/__init__.py
  docs_src/kubernetes_probes/tutorial001_py310.py
  tests/test_tutorial/test_kubernetes_probes/__init__.py
  tests/test_tutorial/test_kubernetes_probes/test_tutorial001.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fixes #16240: Add missing docstring to utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Add CI gate: block test deletions unless acknowledged
  .github/workflows/no-test-deletions.yml
  docs/ci.md
  scripts/ci/no-test-deletions.sh
Due: update-languages, ensure-non-translated

Add brownfield delta (rename-openapi-url-param)
  changes/rename-openapi-url-param/delta.md
Due: none

Add plan + task breakdown (multi-tenant-log-summariser)
  specs/multi-tenant-log-summariser/plan.md
  specs/multi-tenant-log-summariser/tasks.md
Due: none

📝 Fix variable name discrepancy in query params tutorial015
  docs_src/query_params_str_validations/tutorial015_an_py310.py
Due: local-ruff-check, local-ruff-format

Add bytes_encoding parameter to jsonable_encoder for base64/hex output (bounty #2)
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

🐛 Fix WebSocket paths in route contexts
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in docs/de/docs/tutorial/security/oauth2-jwt.md
  docs/de/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
Due: add-permalinks-pages, update-languages

fix: remediate 1 vulnerability(ies) in docs/fr/docs/tutorial/security/oauth2-jwt.md
  docs/fr/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/hi/docs/tutorial/security/oauth2-jwt.md
  docs/hi/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/ko/docs/tutorial/security/oauth2-jwt.md
  docs/ko/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/pt/docs/tutorial/security/oauth2-jwt.md
  docs/pt/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/ru/docs/tutorial/security/oauth2-jwt.md
  docs/ru/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/uk/docs/tutorial/security/oauth2-jwt.md
  docs/uk/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/tr/docs/tutorial/security/oauth2-jwt.md
  docs/tr/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/zh/docs/tutorial/security/oauth2-jwt.md
  docs/zh/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

fix: remediate 1 vulnerability(ies) in docs/zh-hant/docs/tutorial/security/oauth2-jwt.md
  docs/zh-hant/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
