Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

📝 Add warning for duplicate OpenAPI path converters and tests
  docs/en/docs/tutorial/path-params.md
  fastapi/openapi/utils.py
  tests/test_openapi_path_converter_collision.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Add testing reference to the Agent Library Skill
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/references/testing.md
Due: none

fix(dependencies): resolve aliased BaseModel annotations
  fastapi/dependencies/utils.py
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

docs: fix punctuation and phrasing in tutorial index
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

test(dependencies): cover AliasChoices validation aliases
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

⚡️ Avoid importing pydantic.v1 in Pydantic v2-only apps
  fastapi/_compat/shared.py
  tests/test_compat.py
Due: local-ruff-check, local-ruff-format

docs: fix typos converter and with title
  docs/en/docs/tutorial/path-params.md
  docs/hi/docs/tutorial/path-params.md
Due: add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

Unwrap Annotated layers in get_stream_item_type to recognize stream return annotations
  fastapi/dependencies/utils.py
  tests/test_annotated_stream_return.py
Due: local-ruff-check, local-ruff-format

docs: fix minor typo in index.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

✏️ Fix double space in get_swagger_ui_html docstring
  fastapi/openapi/docs.py
Due: local-ruff-check, local-ruff-format

🐛 Fix explicit response_model ignored on streaming generator endpoints
  fastapi/routing.py
  tests/test_stream_response_model.py
Due: local-ruff-check, local-ruff-format

fix: serialize WebSocket validation errors to JSON string in close reason
  fastapi/exception_handlers.py
  tests/test_websocket_request_validation.py
Due: local-ruff-check, local-ruff-format

🐛 Fix stale Content-Length header for 205 Reset Content responses
  fastapi/routing.py
  tests/test_response_205_content_length.py
Due: local-ruff-check, local-ruff-format

🐛 Fix endpoint context shared and mutated across requests
  fastapi/routing.py
  tests/test_endpoint_context_shared_endpoint.py
Due: local-ruff-check, local-ruff-format

🐛 Compare python-multipart versions numerically
  fastapi/dependencies/utils.py
  tests/test_multipart_installation.py
Due: local-ruff-check, local-ruff-format

🐛 Allow empty path in nested router included without prefix
  fastapi/routing.py
  tests/test_empty_router.py
Due: local-ruff-check, local-ruff-format

fix: bound endpoint context cache and verify identity
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: cover and document endpoint context cache
  README.md
  pyproject.toml
  tests/test_validation_error_context.py
Due: local-ruff-check, local-ruff-format

test: scope Starlette warning workaround to pytest
  docs/en/docs/index.md
  pyproject.toml
  tests/conftest.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages

test: reuse existing endpoints for cache regression
  tests/test_validation_error_context.py
Due: local-ruff-check, local-ruff-format

👷 Fix coverage badge: keep Smokeshow HTML under size limit and fail on upload errors
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
Due: none

fix: prevent stale endpoint context cache entries
  fastapi/routing.py
  tests/test_endpoint_context_cache.py
Due: local-ruff-check, local-ruff-format

test: cover unsupported weak references
  tests/test_endpoint_context_cache.py
Due: local-ruff-check, local-ruff-format

Use an explicit response_model as the item type on streaming endpoints
  fastapi/routing.py
  tests/test_stream_explicit_response_model.py
Due: local-ruff-check, local-ruff-format

docs: clarify Cookie behavior in docs UI
  docs/en/docs/tutorial/cookie-param-models.md
  docs/en/docs/tutorial/cookie-params.md
Due: add-permalinks-pages, update-languages

docs: explain Pydantic regex syntax
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

✨ Add native OpenTelemetry support
  docs/en/docs/advanced/opentelemetry.md
  docs/en/mkdocs.yml
  docs_src/opentelemetry/tutorial001_py310.py
  docs_src/opentelemetry/tutorial002_py310.py
  docs_src/opentelemetry/tutorial003_py310.py
  fastapi/applications.py
  fastapi/background.py
  fastapi/routing.py
  fastapi/telemetry/__init__.py
  fastapi/telemetry/_api.py
  fastapi/telemetry/_asgi.py
  fastapi/telemetry/_runtime.py
  pyproject.toml
  tests/test_telemetry/__init__.py
  tests/test_telemetry/_otlp.py
  tests/test_telemetry/_subprocess.py
  tests/test_telemetry/conftest.py
  tests/test_telemetry/test_background.py
  tests/test_telemetry/test_data.py
  tests/test_telemetry/test_environment_integrations.py
  tests/test_telemetry/test_exceptions.py
  tests/test_telemetry/test_http.py
  tests/test_telemetry/test_integrations.py
  tests/test_telemetry/test_native_integrations.py
  tests/test_telemetry/test_operations.py
  tests/test_telemetry/test_runtime.py
  tests/test_telemetry/test_semantic_conventions.py
  tests/test_telemetry/test_websockets.py
  tests/test_tutorial/test_opentelemetry/__init__.py
  tests/test_tutorial/test_opentelemetry/conftest.py
  tests/test_tutorial/test_opentelemetry/test_tutorial001.py
  tests/test_tutorial/test_opentelemetry/test_tutorial002.py
  tests/test_tutorial/test_opentelemetry/test_tutorial003.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Fix telemetry collector DNS lookups in tests
  tests/test_telemetry/_otlp.py
  tests/test_telemetry/test_runtime.py
Due: local-ruff-check, local-ruff-format

✅ Complete telemetry test coverage
  pyproject.toml
  tests/test_telemetry/test_data.py
  tests/test_telemetry/test_integrations.py
  tests/test_telemetry/test_native_integrations.py
  tests/test_telemetry/test_runtime.py
  tests/test_telemetry/test_websockets.py
  tests/test_tutorial/test_opentelemetry/conftest.py
Due: local-ruff-check, local-ruff-format

📝 Clarify regex behavior in query parameter validation docs
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

📝 Update Traefik documentation link
  docs/en/docs/advanced/behind-a-proxy.md
Due: add-permalinks-pages, update-languages

📝 Fix invalid login response in JWT tutorial
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_py310.py
  tests/test_tutorial/test_security/test_tutorial004.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Fix code highlights in OAuth2 scopes docs
  docs/en/docs/advanced/security/oauth2-scopes.md
Due: add-permalinks-pages, update-languages

Hide unrelated lines in code examples in `simple-oauth2.md`
  docs/en/docs/tutorial/security/simple-oauth2.md
Due: add-permalinks-pages, update-languages

Hide unrelated lines in code examples in `oauth2-jwt.md`
  docs/en/docs/tutorial/security/oauth2-jwt.md
Due: add-permalinks-pages, update-languages

🔧 Update sponsors: remove Permit.io
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove Permit.io (#16406)
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

Fix "`maximum_length` or `regex`" -> "`max_length` or `pattern`"
  README.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix "request has an undefined behavior" -> "request has undefined behavior"
  docs/en/docs/tutorial/body.md
Due: add-permalinks-pages, update-languages
