Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Docs: clarify SQLite threading and pagination limit
  docs_src/sql_databases/tutorial001_an_py39.py
Due: local-ruff-check, local-ruff-format

👷 Run tests with lower bound uv sync
  .github/workflows/test.yml
Due: none

Refactor dependency scope type
  fastapi/dependencies/models.py
  fastapi/dependencies/utils.py
  fastapi/param_functions.py
  fastapi/params.py
  fastapi/types.py
Due: local-ruff-check, local-ruff-format

Add `default_dependency_scope` parameter to `FastAPI`
  fastapi/applications.py
  fastapi/dependencies/utils.py
  tests/test_dependency_yield_scope.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade Flask for tests
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade minimum version of ujson for tests across versions
  pyproject.toml
  uv.lock
Due: none

👷 Run tests with lower bound uv sync, upgrade `fastapi[all]` minimum dependencies: `ujson >=5.8.0`, `orjson >=3.9.3` (#14846)
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

Fix test name
  tests/test_request_params/test_body/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

👷 Run tests with Starlette from git
  .github/workflows/test.yml
Due: none

👷 Tweak CI
  .github/workflows/test.yml
Due: none

🐛 Fix uv git install
  .github/workflows/test.yml
Due: none

✅ Add tests for coverage
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

♻️ Re-implement `on_event` in FastAPI for compatibility with the next Starlette, while keeping backwards compatibility (#14851)
  fastapi/routing.py
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

Update tests for passing empty str to Form
  tests/test_request_params/test_form/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

🌐 Update translations for ru (update-outdated) (#14834)
  docs/ru/docs/advanced/advanced-dependencies.md
  docs/ru/docs/advanced/wsgi.md
  docs/ru/docs/deployment/docker.md
  docs/ru/docs/index.md
  docs/ru/docs/tutorial/body-multiple-params.md
  docs/ru/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

👷 Run tests with Starlette from git (#14849)
  .github/workflows/test.yml
Due: none

Update xfail reason msg
  tests/test_request_params/test_header/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Fix comment for different parameter types
  tests/test_request_params/test_body/test_nullable_and_defaults.py
  tests/test_request_params/test_form/test_nullable_and_defaults.py
  tests/test_request_params/test_header/test_nullable_and_defaults.py
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add tests with passing empty string value
  tests/test_request_params/test_body/test_nullable_and_defaults.py
  tests/test_request_params/test_cookie/test_nullable_and_defaults.py
  tests/test_request_params/test_header/test_nullable_and_defaults.py
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade upper bound version of Starlette to `starlette>=0.40.0`
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade Starlette supported version range to `starlette>=0.40.0,<1.0.0`
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade Starlette supported version range to `starlette>=0.40.0,<1.0.0` (#14853)
  pyproject.toml
  uv.lock
Due: none

🔖 Release version 0.128.3
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⬆️ Upgrade development dependencies
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade development dependencies (#14854)
  pyproject.toml
  uv.lock
Due: none

🌐 Update translations for tr (outdated and missing) (#14838)
  docs/tr/docs/advanced/advanced-dependencies.md
  docs/tr/docs/alternatives.md
  docs/tr/docs/deployment/docker.md
  docs/tr/docs/history-design-future.md
  docs/tr/docs/translation-banner.md
  docs/tr/docs/tutorial/body-multiple-params.md
  docs/tr/docs/tutorial/path-operation-configuration.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for fr (outdated pages) (#14839)
  docs/fr/docs/tutorial/body-multiple-params.md
Due: update-languages, ensure-non-translated, fix-translations

♻️ Refactor internals, cleanup unneeded Pydantic v1 specific logic
  fastapi/_compat/__init__.py
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/routing.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor internals, cleanup unneeded Pydantic v1 specific logic (#14856)
  fastapi/_compat/__init__.py
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/routing.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Fix: Make fields_set tests compatible with Pydantic v1 and v2
  tests/test_forms_fields_set.py
Due: local-ruff-check, local-ruff-format

Fix: Make test compatible with Pydantic v1 and v2
  tests/test_forms_fields_set.py
Due: local-ruff-check, local-ruff-format

Fix: Use typing_extensions.Annotated for Python 3.8 compatibility
  tests/test_forms_fields_set.py
Due: local-ruff-check, local-ruff-format

Fix: Preserve model_fields_set for Form models (issue #13399)
  fastapi/dependencies/utils.py
  tests/test_forms_fields_set.py
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

Fix coverage by adding Query/Header tests to test_forms_fields_set.py
  tests/test_forms_fields_set.py
Due: local-ruff-check, local-ruff-format

Fix test syntax + ruff issues causing CI matrix failures
  tests/test_forms_fields_set.py
Due: local-ruff-check, local-ruff-format

♻️ Simplify Pydantic v2/v1 code
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade Starlette supported version range to >=0.40.0, <0.52.0
  pyproject.toml
Due: none

Fix test ImportError: use local Pydantic version detection instead of internal _compat
  tests/test_forms_fields_set.py
Due: local-ruff-check, local-ruff-format

🔥 Remove logic no longer necessary without having to support Pydantic v1
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format
