Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

🔖 Release version 0.132.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

👷 Allow skipping `benchmark` job in `test` workflow (#14974)
  .github/workflows/test.yml
Due: none

👥 Update FastAPI People - Experts (#14972)
  docs/en/data/people.yml
Due: update-languages

Rename `docs_src/websockets` to `docs_src/websockets_`
  docs/de/docs/advanced/websockets.md
  docs/en/docs/advanced/websockets.md
  docs/es/docs/advanced/websockets.md
  docs/fr/docs/advanced/websockets.md
  docs/ja/docs/advanced/websockets.md
  docs/ko/docs/advanced/websockets.md
  docs/pt/docs/advanced/websockets.md
  docs/ru/docs/advanced/websockets.md
  docs/tr/docs/advanced/websockets.md
  docs/uk/docs/advanced/websockets.md
  docs/zh-hant/docs/advanced/websockets.md
  docs/zh/docs/advanced/websockets.md
  docs_src/websockets_/__init__.py
  docs_src/websockets_/tutorial001_py310.py
  docs_src/websockets_/tutorial002_an_py310.py
  docs_src/websockets_/tutorial002_py310.py
  docs_src/websockets_/tutorial003_py310.py
  tests/test_tutorial/test_websockets/test_tutorial001.py
  tests/test_tutorial/test_websockets/test_tutorial002.py
  tests/test_tutorial/test_websockets/test_tutorial003.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

Fix deprecated Optional[] type annotations in openapi/models.py
  fastapi/openapi/models.py
Due: local-ruff-check, local-ruff-format

♻️ Use TypeAdapter.validate_json instead of json.loads
  docs/de/docs/tutorial/handling-errors.md
  docs/en/docs/tutorial/handling-errors.md
  docs/es/docs/tutorial/handling-errors.md
  docs/fr/docs/tutorial/handling-errors.md
  docs/ja/docs/tutorial/handling-errors.md
  docs/ko/docs/tutorial/handling-errors.md
  docs/pt/docs/tutorial/handling-errors.md
  docs/ru/docs/tutorial/handling-errors.md
  docs/tr/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/zh-hant/docs/tutorial/handling-errors.md
  docs/zh/docs/tutorial/handling-errors.md
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_strict_content_type_app_level.py
  tests/test_tutorial/test_body/test_tutorial001.py
  tests/test_tutorial/test_body_multiple_params/test_tutorial002.py
  tests/test_tutorial/test_body_nested_models/test_tutorial006.py
  tests/test_tutorial/test_body_nested_models/test_tutorial008.py
  tests/test_tutorial/test_custom_request_and_route/test_tutorial002.py
  tests/test_tutorial/test_handling_errors/test_tutorial005.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

🔧 Add FastAPI Agents Skill
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Use `picture` tag with media queries to specify the Typer logo in light/dark theme
  README.md
Due: none

solved issue10180 regarding order on for loop at ln 1461 of routing py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

added test for router mount
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

packaged test into function fix
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

fix test
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

pre-commit run
  docs/pt/docs/tutorial/sql-databases.md
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format, update-languages, ensure-non-translated, fix-translations

testing for check pass
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix: propagate Mount routes in include_router
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

📝 use picture tag with media queries to specify the Type logo for light/dark theme
  docs/de/docs/index.md
  docs/en/docs/index.md
  docs/es/docs/index.md
  docs/fr/docs/index.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

♻️ Refactor logic to handle OpenAPI and Swagger UI escaping data
  fastapi/applications.py
  fastapi/openapi/docs.py
  tests/test_openapi_cache_root_path.py
  tests/test_swagger_ui_escape.py
Due: local-ruff-check, local-ruff-format

✅ Tweak coverage
  tests/test_openapi_cache_root_path.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor logic to handle OpenAPI and Swagger UI escaping data (#14986)
  fastapi/applications.py
  fastapi/openapi/docs.py
  tests/test_openapi_cache_root_path.py
  tests/test_swagger_ui_escape.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.132.1
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

⬆️ Add support for Starlette 1.0.0+
  pyproject.toml
  uv.lock
Due: none

⬆️ Add support for Starlette 1.0.0+ (#14987)
  pyproject.toml
  uv.lock
Due: none

🔖 Release version 0.133.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add warning about blocking operations in async generators for StreamingResponse
  docs/en/docs/advanced/custom-response.md
Due: add-permalinks-pages, update-languages

Add `xdist` to `test` dependencies
  pyproject.toml
  uv.lock
Due: none

Fix race conditions with accessing working directory
  tests/test_tutorial/test_additional_responses/test_tutorial002.py
  tests/test_tutorial/test_additional_responses/test_tutorial004.py
  tests/test_tutorial/test_background_tasks/test_tutorial001.py
  tests/test_tutorial/test_background_tasks/test_tutorial002.py
  tests/test_tutorial/test_custom_docs_ui/test_tutorial001.py
  tests/test_tutorial/test_custom_docs_ui/test_tutorial002.py
  tests/test_tutorial/test_events/test_tutorial002.py
  tests/test_tutorial/test_static_files/test_tutorial001.py
  tests/test_tutorial/test_templates/test_tutorial001.py
  tests/utils.py
Due: local-ruff-check, local-ruff-format

Update `test.sh` and `test-cov-html.sh` to run tests with `pytest --cov`
  pyproject.toml
  scripts/test-cov-html.sh
  scripts/test.sh
Due: none

Add `pytest-cov` and `pytest-sugar` to `tests` dependencies
  pyproject.toml
  uv.lock
Due: none

Update `pytest-xdist` lower version bound to 2.5.0 (support for `--dist=loadgroup` option)
  pyproject.toml
  uv.lock
Due: none

📝 Fix StreamingResponse async generator example to actually stream
  docs/en/docs/advanced/custom-response.md
  docs_src/custom_response/tutorial007_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Update `pytest-sugar` lower version bound to 1.0.0
  pyproject.toml
  uv.lock
Due: none

Fix all tests are skipped on Windows
  scripts/tests/test_translation_fixer/conftest.py
Due: local-ruff-check, local-ruff-format

Update `coverage` version lower bound to 7.13 to awoid issues on Python 3.12
  pyproject.toml
  uv.lock
Due: none

Add `test-cov.sh`
  .github/workflows/test.yml
  scripts/test-cov-html.sh
  scripts/test-cov.sh
Due: none

Add `pytest-timeout` to `tests` dependencies
  pyproject.toml
  uv.lock
Due: none

Fix coverage
  tests/test_tutorial/test_settings/test_app01.py
Due: local-ruff-check, local-ruff-format

fix: replace assert with raise FastAPIError in routing.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

feat: add audit_security() method for security dependency auditing
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

docs/tests: clarify required nullable query behavior
  docs/en/docs/tutorial/query-params-str-validations.md
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006c.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages
