Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Fix redirect ReDoc
  README.md
  docs/en/docs/alternatives.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/features.md
  docs/en/docs/how-to/extending-openapi.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix anchor in link inside docstring
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

Fix 404 pydantic-extra-types
  README.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix redirect ultrajson
  README.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix redirect testmu.ai
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

Remove `www.` to prevent redirects
  README.md
  docs/en/docs/advanced/events.md
  docs/en/docs/advanced/middleware.md
  docs/en/docs/advanced/response-cookies.md
  docs/en/docs/advanced/response-headers.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/testing-events.md
  docs/en/docs/advanced/testing-websockets.md
  docs/en/docs/advanced/using-request-directly.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/alternatives.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/features.md
  docs/en/docs/history-design-future.md
  docs/en/docs/how-to/custom-request-and-route.md
  docs/en/docs/index.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/background-tasks.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/handling-errors.md
  docs/en/docs/tutorial/middleware.md
  docs/en/docs/tutorial/static-files.md
  docs/en/docs/tutorial/testing.md
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages

Fix redirect docs.pydantic.dev
  README.md
  docs/en/docs/advanced/dataclasses.md
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/alternatives.md
  docs/en/docs/features.md
  docs/en/docs/history-design-future.md
  docs/en/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/en/docs/index.md
  docs/en/docs/project-generation.md
  docs/en/docs/python-types.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/body-nested-models.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/extra-data-types.md
  docs/en/docs/tutorial/extra-models.md
  docs/en/docs/tutorial/path-params.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/docs/tutorial/schema-extra-example.md
Due: add-permalinks-pages, generate-readme, update-languages

Fif redirect discord.gg
  docs/en/docs/help-fastapi.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

Fix pydantic unions section moved
  docs/en/docs/tutorial/extra-models.md
Due: add-permalinks-pages, update-languages

test: add coverage for sqlalchemy_safe parameter in jsonable_encoder for models, dicts, and dataclasses
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Fix redirect fastapi people scripts
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, update-languages

Fix redirect encode->Kludex and master->main
  docs/en/docs/advanced/middleware.md
Due: add-permalinks-pages, update-languages

Fix redirect tiangolo->fastapi
  docs/en/docs/project-generation.md
Due: add-permalinks-pages, update-languages

fix redirect isort repo
  docs/en/docs/alternatives.md
Due: add-permalinks-pages, update-languages

Fix redirect traefik repo
  docs/en/docs/advanced/behind-a-proxy.md
Due: add-permalinks-pages, update-languages

Fix github blob redirects master->main
  docs/en/docs/advanced/additional-responses.md
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/how-to/extending-openapi.md
  docs/en/docs/tutorial/path-params.md
Due: add-permalinks-pages, update-languages

test: add test coverage for jsonable_encoder enum and dictionary edge cases
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

🐛 Fix race condition in _IncludedRouter lazy cache rebuild
  fastapi/routing.py
  tests/test_included_router_concurrent_rebuild.py
Due: local-ruff-check, local-ruff-format

✅ Cover double-checked rebuild paths deterministically
  tests/test_included_router_concurrent_rebuild.py
Due: local-ruff-check, local-ruff-format

🏷️ Use cast for the fake rebuild lock to satisfy ty
  tests/test_included_router_concurrent_rebuild.py
Due: local-ruff-check, local-ruff-format

fix: make _IncludedRouter cache rebuild thread-safe
  .gitignore
  fastapi/routing.py
  tests/test_thread_safety.py
Due: local-ruff-check, local-ruff-format

🔧 Set Dependabot schedule interval to "monthly" (#15874)
  .github/dependabot.yml
Due: none

👷 Add GH workflow to bump pre-commit hook versions (#15873)
  .github/dependabot.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

👷 Use `FASTAPI_LATEST_CHANGES` token in `bump-pre-commit-hooks` workflow
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

👷 Use `FASTAPI_LATEST_CHANGES` token in `bump-pre-commit-hooks` workflow (#15984)
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

⬆ Bump pre-commit hooks (#15985)
  .pre-commit-config.yaml
Due: none

Restore PEP 740 attestations on release
  .github/workflows/publish.yml
Due: none

� Add Hindi translation for docs/tutorial/first-steps.md
  docs/hi/docs/tutorial/first-steps.md
Due: update-languages, ensure-non-translated, fix-translations

Remove tests for `default`
  tests/test_stream_status_code.py
Due: local-ruff-check, local-ruff-format

Update tests
  tests/test_stream_status_code.py
Due: local-ruff-check, local-ruff-format

Update test_tutorial001.py
  tests/test_tutorial/test_query_params/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

fix: pass include/exclude/custom_encoder in jsonable_encoder BaseModel recursive call
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

fix: pass include/exclude/by_alias params to jsonable_encoder when no response_model
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: use None sentinel instead of mutable OAuthFlowsModel() default in OAuth2.__init__
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

📝 Fix topic repository list not being displayed and `skip_users` not being applied
  docs/en/data/skip_users.yml
  docs/en/data/topic_repos.yml
  docs/en/docs/external-links.md
  docs/en/docs/fastapi-people.md
  scripts/topic_repos.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix identaton in data files
  docs/en/data/skip_users.yml
  docs/en/data/topic_repos.yml
Due: update-languages

🌐 Update translations for ru (update-outdated) (#16002)
  docs/ru/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for es (update-outdated) (#15997)
  docs/es/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations
