Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🔧 Update sponsors, add Rapidproxy (#15689)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/rapidproxy.png
Due: generate-readme, update-languages

📝 Add return type annotations to path params tutorial example
  docs_src/path_params/tutorial003_py310.py
Due: local-ruff-check, local-ruff-format

docs: fix typo in websockets reference page
  docs/en/docs/reference/websockets.md
Due: add-permalinks-pages, update-languages

Fix broken links
  docs/en/docs/advanced/generate-clients.md
  docs/en/docs/deployment/cloud.md
  docs/en/docs/fastapi-people.md
  docs/en/docs/tutorial/security/simple-oauth2.md
Due: add-permalinks-pages, update-languages

Fix typos and grammar in agent skills
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/references/dependencies.md
  fastapi/.agents/skills/fastapi/references/other-tools.md
Due: none

docs: clarify async technical details for UploadFile methods
  docs/en/docs/tutorial/request-files.md
Due: add-permalinks-pages, update-languages

Replace deprecated @app.on_event("startup") with lifespan context manager
  docs_src/sql_databases/tutorial002_an_py310.py
Due: local-ruff-check, local-ruff-format

Replace deprecated @app.on_event("startup") with lifespan context manager
  docs_src/sql_databases/tutorial001_an_py310.py
Due: local-ruff-check, local-ruff-format

Update sql-databases.md line references and startup description for lifespan pattern
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, update-languages

Update line references in SQL databases tutorial
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, update-languages

Fix SQL database tutorial line references and lifespan text
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, update-languages

Update line highlights in SQL tutorial for delete hero
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, update-languages

Fix duplicate operationId for routes with multiple HTTP methods
  fastapi/openapi/utils.py
  fastapi/utils.py
  tests/test_multi_method_route_operation_id.py
Due: local-ruff-check, local-ruff-format

Fix CI: cover multi-method endpoint handler in tests
  tests/test_multi_method_route_operation_id.py
Due: local-ruff-check, local-ruff-format

fix/fix typos in docs and source code, fix status_code priority in _build_response_args
  docs/en/docs/deployment/https.md
  docs/en/docs/environment-variables.md
  docs/en/docs/project-generation.md
  docs/en/docs/tutorial/body.md
  fastapi/datastructures.py
  fastapi/openapi/docs.py
  fastapi/param_functions.py
  fastapi/routing.py
  fastapi/security/oauth2.py
  tests/test_custom_swagger_ui_redirect.py
  tests/test_no_swagger_ui_redirect.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix _build_response_args status_code priority: handler-set value wins over route decorator
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

⚡️ Skip re-solving cached dependency sub-trees in solve_dependencies
  fastapi/dependencies/utils.py
  tests/test_dependency_cache.py
Due: local-ruff-check, local-ruff-format

Second and third passes
  docs/en/docs/_llm-test.md
  docs/en/docs/advanced/advanced-dependencies.md
  docs/en/docs/advanced/events.md
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/advanced/response-change-status-code.md
  docs/en/docs/advanced/response-cookies.md
  docs/en/docs/advanced/response-headers.md
  docs/en/docs/advanced/security/oauth2-scopes.md
  docs/en/docs/deployment/concepts.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/https.md
  docs/en/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/en/docs/release-notes.md
  docs/en/docs/translations.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/metadata.md
  docs/en/docs/tutorial/response-status-code.md
  docs/en/docs/tutorial/security/get-current-user.md
Due: add-permalinks-pages, update-languages

"What ... look like" -> "How ... look"
  docs/en/docs/advanced/advanced-dependencies.md
  docs/en/docs/advanced/openapi-callbacks.md
  docs/en/docs/tutorial/path-operation-configuration.md
Due: add-permalinks-pages, update-languages

Clarify the range of FastAPI versions that supported `pydantic.v1`
  docs/en/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
Due: add-permalinks-pages, update-languages

Fix typos in PR titles in `release-notes.md`
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Serialize ServerSentEvent model data with by_alias=True
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Fix response model serialization options for SSE event data
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Catch ImportError (not just ModuleNotFoundError) for optional orjson/ujson imports
  fastapi/responses.py
  tests/test_deprecated_responses.py
Due: local-ruff-check, local-ruff-format

📝 Fix four-backtick code fence in OAuth2PasswordRequestForm docstrings
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

docs(zh): improve translation prompt to avoid AI-style writing
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

fix: correct contrast pattern in anti-AI table
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

Re-translate several pages from scratch to check the new prompt
  docs/zh/docs/advanced/wsgi.md
  docs/zh/docs/index.md
  docs/zh/docs/tutorial/background-tasks.md
  docs/zh/docs/tutorial/body-multiple-params.md
  docs/zh/docs/tutorial/body.md
  docs/zh/docs/tutorial/first-steps.md
Due: update-languages, ensure-non-translated, fix-translations

📝 Update FastAPI Cloud deployment instructions
  docs/en/docs/deployment/fastapicloud.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, generate-readme, update-languages

📝 Update FastAPI Cloud deployment instructions (#15724)
  README.md
  docs/en/docs/deployment/fastapicloud.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix hash and tag
  .pre-commit-config.yaml
Due: none

🌐 Update Chinese translations for FastAPI Cloud
  docs/zh/docs/advanced/generate-clients.md
  docs/zh/docs/advanced/json-base64-bytes.md
  docs/zh/docs/deployment/cloud.md
  docs/zh/docs/deployment/fastapicloud.md
  docs/zh/docs/deployment/manually.md
  docs/zh/docs/tutorial/body-multiple-params.md
  docs/zh/docs/tutorial/first-steps.md
  docs/zh/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

docs(zh): enhance LLM translation prompt with best practices
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

docs(zh): refine LLM prompt — fix tiers, add cross-doc rules, new anti-patterns
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

docs(zh): final prompt refinements — edge cases from round 3 analysis
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

docs(zh): annotation → 注解 (per WaketZheng review)
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

docs(zh): comprehensive LLM translation prompt with terminology glossary
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

refactor: remove rules duplicated by general-llm-prompt.md
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

Add httpx2 to standard extras
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
