Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

📝 Add docs for check_dir=False
  docs/en/docs/tutorial/frontend.md
  docs_src/frontend/tutorial006_py310.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Tweak tests for OSes
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

🔊 Make path errors show absolute path to help with debugging
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

📝 Add `app.frontend()` to reference
  docs/en/docs/reference/apirouter.md
  docs/en/docs/reference/fastapi.md
Due: add-permalinks-pages, update-languages

✨ Add support for `app.frontend("/", directory="dist")` and `router.frontend("/", directory="dist")` (#15800)
  docs/en/docs/reference/apirouter.md
  docs/en/docs/reference/fastapi.md
  docs/en/docs/tutorial/frontend.md
  docs/en/docs/tutorial/static-files.md
  docs/en/mkdocs.yml
  docs_src/frontend/__init__.py
  docs_src/frontend/tutorial001_py310.py
  docs_src/frontend/tutorial002_py310.py
  docs_src/frontend/tutorial003_py310.py
  docs_src/frontend/tutorial004_py310.py
  docs_src/frontend/tutorial005_py310.py
  docs_src/frontend/tutorial006_py310.py
  fastapi/applications.py
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✏️ Update white space characters in bigger apps
  docs/en/docs/tutorial/bigger-applications.md
Due: add-permalinks-pages, update-languages

✏️ Update white space characters in bigger apps (#15801)
  docs/en/docs/tutorial/bigger-applications.md
Due: add-permalinks-pages, update-languages

📝 Udpate release notes link
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Udpate release notes link (#15802)
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

👷 Fix test-alls-green
  .github/workflows/test.yml
Due: none

🐛 Fix failing test, update format for raised errors
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

👷 Fix test-alls-green (#15803)
  .github/workflows/test.yml
Due: none

📝 Add Frontend instructions to Agent Library Skill
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

🐛 Fix failing test, update format for raised errors (#15804)
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

📝 Add Frontend instructions to Agent Library Skill (#15805)
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Fix typo in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Fix typo in release notes (#15807)
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.138.0 (#15808)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

fix(docs): replace dead Uber Ludwig blog link with project repo in 14 translations
  README.md
  docs/de/docs/index.md
  docs/en/docs/index.md
  docs/es/docs/index.md
  docs/fr/docs/index.md
  docs/hi/docs/index.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

🐛 fix deadlocks in depends by using a separate CapacityLimiter for teardown
  fastapi/concurrency.py
  fastapi/routing.py
  tests/test_concurrency.py
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

✅ switch from asyncio.wait_for to pytest timeout in deadlock tests
  tests/test_concurrency.py
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

✅ Add timeout to anyio deadlock tests
  tests/test_concurrency.py
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

✅ ensure deadlock tests play nicely with -n auto
  tests/test_concurrency.py
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

✅ make test_depends_deadlock more co-operative
  tests/test_depends_deadlock.py
Due: local-ruff-check, local-ruff-format

Re-translate with updated prompt
  docs/hi/docs/alternatives.md
  docs/hi/docs/async.md
  docs/hi/docs/editor-support.md
  docs/hi/docs/fastapi-cli.md
  docs/hi/docs/features.md
  docs/hi/docs/history-design-future.md
  docs/hi/docs/python-types.md
  docs/hi/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Add specific terms generated by Claude
  docs/hi/llm-prompt.md
Due: update-languages, ensure-non-translated

📝 Fix out-of-range highlight in advanced settings docs
  docs/en/docs/advanced/settings.md
Due: add-permalinks-pages, update-languages

📝 Fix copy button copying HTML markup on Termynal command lines
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

📝 Fix out-of-range highlight lines in docs code embeds
  docs/en/docs/advanced/response-headers.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/tutorial/body-updates.md
Due: add-permalinks-pages, update-languages

📝 Update renamed GitHub repo URLs for `isort` and `ujson`
  docs/en/docs/alternatives.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

📝 Fix dead Ariadne FastAPI docs link in How To - GraphQL
  docs/en/docs/how-to/graphql.md
Due: add-permalinks-pages, update-languages

docs: fix 3 broken external links in en docs
  docs/en/docs/how-to/graphql.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/extra-data-types.md
Due: add-permalinks-pages, generate-readme, update-languages

update (docs) : BEAUTIFUL README ❤️
  README.md
Due: none

🐛 Drop Cache-Control from JSONL streaming, keep only X-Accel-Buffering, document behavior
  docs/en/docs/tutorial/stream-json-lines.md
  fastapi/routing.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Update zizmor workflow security checks
  .github/workflows/zizmor.yml
Due: none

Use default pull request trigger for zizmor
  .github/workflows/zizmor.yml
Due: none

🔒️ Update zizmor workflow security checks (#15820)
  .github/workflows/zizmor.yml
Due: none

docs: fix dead pydantic v1 link in tutorial/response-model.md
  docs/en/docs/tutorial/response-model.md
Due: add-permalinks-pages, update-languages

docs: fix dead pydantic v1 extra_types link in release-notes.md
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Point Ariadne link to the FastAPI integration docs page
  docs/en/docs/how-to/graphql.md
Due: add-permalinks-pages, update-languages

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
