Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

✨ Add `SecurityHeadersMiddleware` to add security headers to all responses
  fastapi/middleware/__init__.py
  fastapi/middleware/security_headers.py
  tests/test_security_headers_middleware.py
Due: local-ruff-check, local-ruff-format

Validate SSE event fields in format_sse_event
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Fix: Preserve model_fields_set for Form models
  fastapi/dependencies/utils.py
  tests/test_forms_fields_set.py
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

Specify `allow-unsafe-pr-checkout: true` for workflows with unsafe triggers
  .github/workflows/deploy-docs.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/smokeshow.yml
Due: none

Disable Dependabot `pre-commit` package ecosystem
  .github/dependabot.yml
Due: none

📝 Fix outdated Traefik URLs in behind-a-proxy docs
  docs/en/docs/advanced/behind-a-proxy.md
Due: add-permalinks-pages, update-languages

👷 Remove not needed `allow-unsafe-pr-checkout: true`
  .github/workflows/deploy-docs.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/smokeshow.yml
Due: none

👷 Remove not needed `allow-unsafe-pr-checkout: true` (#15876)
  .github/workflows/deploy-docs.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/smokeshow.yml
Due: none

🔧 Set Dependabot schedule interval to "monthly"
  .github/dependabot.yml
Due: none

Add GH workflow to bump pre-commit hook versions
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

fix: update starlette version in pyproject.toml
  pyproject.toml
  uv.lock
Due: none

👥 Update FastAPI People - Contributors and Translators (#15878)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages

Apply suggestion from @YuriiMotov
  docs/ru/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ru (add-missing) (#15879)
  docs/ru/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for de (add-missing) (#15884)
  docs/de/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for fr (add-missing) (#15881)
  docs/fr/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for uk (add-missing) (#15886)
  docs/uk/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for tr (add-missing) (#15887)
  docs/tr/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh (add-missing) (#15885)
  docs/zh/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ja (add-missing) (#15882)
  docs/ja/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for pt (add-missing) (#15883)
  docs/pt/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh-hant (add-missing) (#15889)
  docs/zh-hant/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ko (add-missing) (#15888)
  docs/ko/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for es (add-missing) (#15880)
  docs/es/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

Apply suggestions from code review
  docs/ru/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

fix: update broken Pydantic v2 and Ariadne documentation links
  docs/en/docs/how-to/graphql.md
  docs/en/docs/index.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/extra-data-types.md
Due: add-permalinks-pages, generate-readme, update-languages

fix: preserve empty form values for required params
  fastapi/dependencies/utils.py
  tests/test_form_default.py
Due: local-ruff-check, local-ruff-format

Apply suggestions from code review
  docs/ru/docs/advanced/dataclasses.md
  docs/ru/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

Make fake edits to unchanged files to update latest commit date
  docs/ru/docs/advanced/additional-status-codes.md
  docs/ru/docs/advanced/response-cookies.md
  docs/ru/docs/how-to/graphql.md
  docs/ru/docs/tutorial/index.md
  docs/ru/docs/tutorial/request-forms.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/ko/docs/advanced/response-change-status-code.md
  docs/ko/docs/advanced/response-headers.md
  docs/ko/docs/advanced/settings.md
  docs/ko/docs/async.md
  docs/ko/docs/editor-support.md
  docs/ko/docs/environment-variables.md
  docs/ko/docs/help-fastapi.md
  docs/ko/docs/how-to/custom-request-and-route.md
  docs/ko/docs/project-generation.md
  docs/ko/docs/tutorial/extra-data-types.md
  docs/ko/docs/tutorial/handling-errors.md
  docs/ko/docs/tutorial/index.md
  docs/ko/docs/tutorial/path-operation-configuration.md
  docs/ko/docs/tutorial/query-params.md
  docs/ko/docs/tutorial/request-forms.md
  docs/ko/docs/tutorial/response-status-code.md
  docs/ko/docs/tutorial/security/first-steps.md
  docs/ko/docs/tutorial/security/oauth2-jwt.md
  docs/ko/docs/tutorial/sql-databases.md
  docs/ko/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/uk/docs/advanced/additional-status-codes.md
  docs/uk/docs/advanced/dataclasses.md
  docs/uk/docs/advanced/response-change-status-code.md
  docs/uk/docs/advanced/wsgi.md
  docs/uk/docs/editor-support.md
  docs/uk/docs/project-generation.md
  docs/uk/docs/tutorial/debugging.md
  docs/uk/docs/tutorial/response-status-code.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/zh/docs/advanced/advanced-dependencies.md
  docs/zh/docs/advanced/dataclasses.md
  docs/zh/docs/advanced/events.md
  docs/zh/docs/advanced/response-headers.md
  docs/zh/docs/advanced/wsgi.md
  docs/zh/docs/deployment/docker.md
  docs/zh/docs/environment-variables.md
  docs/zh/docs/how-to/separate-openapi-schemas.md
  docs/zh/docs/project-generation.md
  docs/zh/docs/tutorial/extra-models.md
  docs/zh/docs/tutorial/first-steps.md
  docs/zh/docs/tutorial/path-operation-configuration.md
  docs/zh/docs/tutorial/query-params-str-validations.md
  docs/zh/docs/tutorial/query-params.md
  docs/zh/docs/tutorial/security/first-steps.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/tr/docs/advanced/additional-status-codes.md
  docs/tr/docs/advanced/dataclasses.md
  docs/tr/docs/advanced/response-headers.md
  docs/tr/docs/advanced/security/oauth2-scopes.md
  docs/tr/docs/advanced/settings.md
  docs/tr/docs/advanced/wsgi.md
  docs/tr/docs/deployment/concepts.md
  docs/tr/docs/deployment/manually.md
  docs/tr/docs/how-to/custom-request-and-route.md
  docs/tr/docs/how-to/graphql.md
  docs/tr/docs/project-generation.md
  docs/tr/docs/python-types.md
  docs/tr/docs/tutorial/body-nested-models.md
  docs/tr/docs/tutorial/body.md
  docs/tr/docs/tutorial/extra-models.md
  docs/tr/docs/tutorial/first-steps.md
  docs/tr/docs/tutorial/path-operation-configuration.md
  docs/tr/docs/tutorial/query-params-str-validations.md
  docs/tr/docs/tutorial/request-forms.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/pt/docs/advanced/advanced-dependencies.md
  docs/pt/docs/advanced/events.md
  docs/pt/docs/advanced/response-headers.md
  docs/pt/docs/advanced/settings.md
  docs/pt/docs/advanced/wsgi.md
  docs/pt/docs/how-to/configure-swagger-ui.md
  docs/pt/docs/how-to/graphql.md
  docs/pt/docs/how-to/separate-openapi-schemas.md
  docs/pt/docs/tutorial/body.md
  docs/pt/docs/tutorial/schema-extra-example.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/es/docs/advanced/additional-status-codes.md
  docs/es/docs/advanced/response-headers.md
  docs/es/docs/advanced/security/oauth2-scopes.md
  docs/es/docs/advanced/wsgi.md
  docs/es/docs/deployment/concepts.md
  docs/es/docs/deployment/docker.md
  docs/es/docs/environment-variables.md
  docs/es/docs/tutorial/body.md
  docs/es/docs/tutorial/debugging.md
  docs/es/docs/tutorial/extra-data-types.md
  docs/es/docs/tutorial/response-status-code.md
  docs/es/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations
