Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Resolve `smokeshow.yml`
  .github/workflows/smokeshow.yml
Due: none

Resolve `test-redistribute.yml`
  .github/workflows/test-redistribute.yml
Due: none

Resolve `topic-repos.yml`
  .github/workflows/topic-repos.yml
Due: none

Resolve `publish.yml`
  .github/workflows/publish.yml
Due: none

Resolve `translate.yml`
  .github/workflows/translate.yml
Due: none

Resolve `labeler.yml`
  .github/workflows/labeler.yml
Due: none

Resolve `pre-commit.yml`
  .github/workflows/pre-commit.yml
Due: none

Setup cooldown period time for Dependabot
  .github/dependabot.yml
Due: none

Add zizmor hook to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Introduce issue to test zizmor
  .github/workflows/deploy-docs.yml
Due: none

Revert "Introduce issue to test zizmor"
  .github/workflows/deploy-docs.yml
Due: none

⬆ Bump ujson minimum from >=5.8.0 to >=5.12.0 and orjson from >=3.9.3 to >=3.9.15
  pyproject.toml
  uv.lock
Due: none

Add return annotations to dependency utils tests
  tests/test_dependencies_utils.py
Due: local-ruff-check, local-ruff-format

🐛 Fix duplicate operationId when using add_api_route() with multiple HTTP methods
  fastapi/openapi/utils.py
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

🔒 Automated Security Patch for docs/en/docs/js/custom.js
  docs/en/docs/js/custom.js
Due: update-languages

🔒 Automated Security Patch for tests/test_tutorial/test_security/test_tutorial004.py
  tests/test_tutorial/test_security/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

fix: add missing __future__ import for type hints compatibility
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: add missing __future__ import to openapi/utils.py for type hints compatibility
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: preserve backwards compatibility in generate_unique_id for route creation
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: create separate function for OpenAPI operation ID generation to maintain backward compatibility
  fastapi/openapi/utils.py
  fastapi/utils.py
  test_fix_logic.py
Due: local-ruff-check, local-ruff-format

chore: remove test helper files
  test_correct_fix.py
Due: local-ruff-check, local-ruff-format

chore: remove temporary test files
  test_correct_fix.py
  test_fix_logic.py
Due: local-ruff-check, local-ruff-format

Remove __future__ annotations import from openapi/utils.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: preserve backwards compatibility in generate_unique_id for route creation
  fastapi/openapi/utils.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

test: update expectations for duplicate operation ID fix
  tests/test_generate_unique_id_function.py
  tests/test_include_router_defaults_overrides.py
Due: local-ruff-check, local-ruff-format

test: remove snapshot-based assertion from test_openapi
  fix_snapshot.py
  tests/test_include_router_defaults_overrides.py
Due: local-ruff-check, local-ruff-format

fix: remove stray snapshot code causing syntax error
  pyproject.toml
  tests/test_include_router_defaults_overrides.py
  truncate_test.py
Due: local-ruff-check, local-ruff-format

chore: remove temporary truncation script
  truncate_test.py
Due: local-ruff-check, local-ruff-format

Fix PydanticUserError for Json[SerializeAsAny[BaseModel]] in get_model_fields
  fastapi/_compat/v2.py
  tests/test_json_field_serialize_as_any.py
Due: local-ruff-check, local-ruff-format

Add example for handling low_confidence ML predictions using HTTPException
  docs/en/docs/tutorial/handling-errors.md
Due: add-permalinks-pages, update-languages

Refactor `Dependant.oauth_scopes` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant.cache_key` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant._uses_scopes` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant._is_security_scheme` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant._security_scheme` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Fix wrong default
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant._security_dependencies` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant.is_gen_callable` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant.is_async_gen_callable` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Refactor `Dependant.is_coroutine_callable` property for improved memory usage
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
