Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Make edits to unchanged files to update latest commit date
  docs/de/docs/advanced/additional-status-codes.md
  docs/de/docs/advanced/advanced-dependencies.md
  docs/de/docs/advanced/dataclasses.md
  docs/de/docs/advanced/response-change-status-code.md
  docs/de/docs/advanced/response-cookies.md
  docs/de/docs/advanced/wsgi.md
  docs/de/docs/help-fastapi.md
  docs/de/docs/how-to/custom-request-and-route.md
  docs/de/docs/how-to/graphql.md
  docs/de/docs/how-to/separate-openapi-schemas.md
  docs/de/docs/tutorial/extra-data-types.md
  docs/de/docs/tutorial/index.md
  docs/de/docs/tutorial/request-forms.md
  docs/de/docs/tutorial/response-status-code.md
  docs/de/docs/tutorial/security/first-steps.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/ja/docs/_llm-test.md
  docs/ja/docs/advanced/response-change-status-code.md
  docs/ja/docs/advanced/response-cookies.md
  docs/ja/docs/advanced/response-headers.md
  docs/ja/docs/advanced/security/oauth2-scopes.md
  docs/ja/docs/advanced/wsgi.md
  docs/ja/docs/help-fastapi.md
  docs/ja/docs/how-to/graphql.md
  docs/ja/docs/tutorial/body-nested-models.md
  docs/ja/docs/tutorial/body.md
  docs/ja/docs/tutorial/extra-data-types.md
  docs/ja/docs/tutorial/handling-errors.md
  docs/ja/docs/tutorial/index.md
  docs/ja/docs/tutorial/path-operation-configuration.md
  docs/ja/docs/tutorial/query-params.md
  docs/ja/docs/tutorial/request-files.md
  docs/ja/docs/tutorial/response-status-code.md
  docs/ja/docs/tutorial/schema-extra-example.md
  docs/ja/docs/tutorial/sql-databases.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/zh-hant/docs/advanced/additional-status-codes.md
  docs/zh-hant/docs/advanced/advanced-dependencies.md
  docs/zh-hant/docs/advanced/events.md
  docs/zh-hant/docs/advanced/response-change-status-code.md
  docs/zh-hant/docs/advanced/wsgi.md
  docs/zh-hant/docs/deployment/concepts.md
  docs/zh-hant/docs/deployment/https.md
  docs/zh-hant/docs/editor-support.md
  docs/zh-hant/docs/environment-variables.md
  docs/zh-hant/docs/help-fastapi.md
  docs/zh-hant/docs/project-generation.md
  docs/zh-hant/docs/tutorial/bigger-applications.md
  docs/zh-hant/docs/tutorial/body-nested-models.md
  docs/zh-hant/docs/tutorial/debugging.md
  docs/zh-hant/docs/tutorial/extra-data-types.md
  docs/zh-hant/docs/tutorial/path-operation-configuration.md
  docs/zh-hant/docs/tutorial/request-files.md
  docs/zh-hant/docs/tutorial/request-forms.md
  docs/zh-hant/docs/tutorial/response-status-code.md
Due: update-languages, ensure-non-translated, fix-translations

Make edits to unchanged files to update latest commit date
  docs/fr/docs/advanced/response-cookies.md
  docs/fr/docs/advanced/wsgi.md
  docs/fr/docs/deployment/concepts.md
  docs/fr/docs/help-fastapi.md
  docs/fr/docs/project-generation.md
  docs/fr/docs/tutorial/index.md
  docs/fr/docs/tutorial/path-operation-configuration.md
  docs/fr/docs/tutorial/request-files.md
  docs/fr/docs/tutorial/response-status-code.md
Due: update-languages, ensure-non-translated, fix-translations

👥 Update FastAPI GitHub topic repositories (#15906)
  docs/en/data/topic_repos.yml
Due: update-languages

Refactor OpenIdConnect class and improve error handling
  fastapi/security/open_id_connect_url.py
Due: local-ruff-check, local-ruff-format

✨ Support dependencies in `app.frontend()`, e.g. for Cookie authentication
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

👥 Update FastAPI People - Experts (#15909)
  docs/en/data/people.yml
Due: update-languages

🔥 Remove dead code, adjust coverage
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

✨ Support dependencies in `app.frontend()`, e.g. for automatic cookie authentication for the frontend (#15908)
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.139.0 (#15910)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs: add guide for Kubernetes liveness and readiness probes
  docs/en/docs/deployment/kubernetes.md
  docs/en/mkdocs.yml
  docs_src/kubernetes/tutorial001.py
  docs_src/kubernetes/tutorial002.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

fix: ensure typing
  docs_src/kubernetes/tutorial002.py
Due: local-ruff-check, local-ruff-format

Add callbacks support to app route wrappers
  fastapi/applications.py
  tests/test_sub_callbacks.py
Due: local-ruff-check, local-ruff-format

🐛 Fix jsonable_encoder not encoding Enum values that are not JSON-serializable
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

🐛 Fix response_model_include and response_model_exclude being ignored for sequence response models
  fastapi/routing.py
  tests/test_response_model_include_exclude.py
Due: local-ruff-check, local-ruff-format

🌐 Fix nested list rendering in Russian translation of `docs/advanced/security/oauth2-scopes.md`
  docs/ru/docs/advanced/security/oauth2-scopes.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update LLM prompt for Russian translations
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated

🐛 Fix frontend dependencies not propagating response headers, cookies, and background tasks
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

🐛 Fix race condition in _IncludedRouter cache rebuild corrupting candidates under concurrent first requests
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🐛 Fix error responses for exceptions raised before the first yield in SSE endpoints
  docs/en/docs/tutorial/server-sent-events.md
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs: add docstring to contextmanager_in_threadpool
  fastapi/concurrency.py
Due: local-ruff-check, local-ruff-format

fix: correct docstring placement
  fastapi/concurrency.py
Due: local-ruff-check, local-ruff-format

Fix obvious mistakes in ru LLM-prompt
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated

Fix mistakes in translations
  docs/ru/docs/deployment/concepts.md
  docs/ru/docs/deployment/docker.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Fix language-specific translation prompt for Russian language (#15924)
  docs/ru/docs/deployment/concepts.md
  docs/ru/docs/deployment/docker.md
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update `llm-prompt.md` for Hindi (#15810)
  docs/hi/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update translations for hi (add-missing) (#15797)
  docs/hi/docs/alternatives.md
  docs/hi/docs/async.md
  docs/hi/docs/benchmarks.md
  docs/hi/docs/editor-support.md
  docs/hi/docs/fastapi-cli.md
  docs/hi/docs/features.md
  docs/hi/docs/history-design-future.md
  docs/hi/docs/project-generation.md
  docs/hi/docs/python-types.md
  docs/hi/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

⬆️ Update latest-changes to 0.6.1
  .github/workflows/latest-changes.yml
Due: none

⬆️ Update latest-changes to 0.6.1 (#15926)
  .github/workflows/latest-changes.yml
Due: none

⬆️ Update issue-manager to 0.8.1
  .github/workflows/issue-manager.yml
Due: none

⬆️ Update issue-manager to 0.8.1 (#15928)
  .github/workflows/issue-manager.yml
Due: none

🔧 Update sponsors: remove RapidProxy
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages

🔧 Update sponsors: remove RapidProxy (#15929)
  README.md
  docs/en/data/sponsors.yml
Due: generate-readme, update-languages
