Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Docs: clarify handling of extra fields in request body
  docs/en/docs/tutorial/body.md
Due: add-permalinks-pages, update-languages

🌐 Update translations for ko (update outdated, found by fixer tool) (#14738)
  docs/ko/docs/async.md
  docs/ko/docs/fastapi-cli.md
  docs/ko/docs/features.md
  docs/ko/docs/help-fastapi.md
  docs/ko/docs/history-design-future.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update `llm-prompt.md` for Korean language (#14763)
  docs/ko/llm-prompt.md
Due: update-languages, ensure-non-translated

Remove`ignore:starlette.middleware.wsgi is deprecated` from `filterwarnings`
  pyproject.toml
Due: none

demo: logic change
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Set cooldown in dependabot
  .github/dependabot.yml
Due: none

migrate startup/shutdown events to lifespan API
  docs_src/app_testing/tutorial003_py39.py
  docs_src/body/tutorial001_py310.py
  docs_src/body/tutorial001_py39.py
  docs_src/body/tutorial002_py310.py
  docs_src/body/tutorial002_py39.py
  docs_src/events/tutorial001_py39.py
  docs_src/events/tutorial002_py39.py
  docs_src/security/tutorial001_an_py39.py
  docs_src/security/tutorial002_an_py310.py
  docs_src/security/tutorial002_py310.py
  docs_src/security/tutorial002_py39.py
  docs_src/sql_databases/tutorial001_an_py310.py
  docs_src/sql_databases/tutorial001_an_py39.py
  docs_src/sql_databases/tutorial001_py310.py
  docs_src/sql_databases/tutorial001_py39.py
  docs_src/sql_databases/tutorial002_an_py310.py
  docs_src/sql_databases/tutorial002_an_py39.py
  docs_src/sql_databases/tutorial002_py310.py
  docs_src/sql_databases/tutorial002_py39.py
Due: local-ruff-check, local-ruff-format

remove deprecated event warnings and TODOs
  tests/test_tutorial/test_events/test_tutorial001.py
  tests/test_tutorial/test_events/test_tutorial002.py
  tests/test_tutorial/test_sql_databases/test_tutorial001.py
  tests/test_tutorial/test_sql_databases/test_tutorial002.py
  tests/test_tutorial/test_testing/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

Update test
  tests/test_separate_input_output_schema_fals_with_nested_computed_field.py
Due: local-ruff-check, local-ruff-format

✨ Add dataclasses-based route parameters
  fastapi/datastructures.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Add links to related sections of docs from docstrings
  fastapi/applications.py
  fastapi/exceptions.py
  fastapi/openapi/docs.py
  fastapi/param_functions.py
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

Update existing links in docstrings
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

Add liks to related sections of docs from API reference pages
  docs/en/docs/reference/request.md
  docs/en/docs/reference/response.md
  docs/en/docs/reference/responses.md
  docs/en/docs/reference/security/index.md
  docs/en/docs/reference/websockets.md
Due: add-permalinks-pages, update-languages

Remove duplication in `docs/en/docs/reference/websockets.md`
  docs/en/docs/reference/websockets.md
Due: add-permalinks-pages, update-languages

Update documentation for Pydantic's BaseModel
  docs/en/docs/tutorial/body.md
Due: add-permalinks-pages, update-languages

docs: mark validation error example as JSON
  docs/en/docs/tutorial/path-params.md
Due: add-permalinks-pages, update-languages

Update test to reflect latest changes on master
  tests/test_pydantic_json_response_class.py
Due: local-ruff-check, local-ruff-format

docs: add viewport meta tag to Swagger UI HTML
  fastapi/openapi/docs.py
Due: local-ruff-check, local-ruff-format

Re-translate with `gpt-5` model
  docs/uk/docs/alternatives.md
  docs/uk/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Apply suggestions from code review
  docs/uk/docs/alternatives.md
  docs/uk/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

linting
  docs_src/query_params/tutorial007_py310.py
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  tests/test_invalid_mapping_param.py
Due: local-ruff-check, local-ruff-format

no cover pydantic lower than 2.6
  fastapi/_compat/v2.py
  tests/test_query.py
  tests/test_tutorial/test_query_params/test_tutorial007_py310.py
Due: local-ruff-check, local-ruff-format

docs: rename Enum validation section title
  docs/en/docs/tutorial/path-params.md
Due: add-permalinks-pages, update-languages

move regenerate up
  fastapi/_compat/v2.py
  tests/test_request_params/test_query/test_free_form.py
Due: local-ruff-check, local-ruff-format

fmrt
  tests/test_request_params/test_query/test_free_form.py
Due: local-ruff-check, local-ruff-format

Apply suggestions from code review
  docs/ja/docs/advanced/additional-status-codes.md
  docs/ja/docs/advanced/custom-response.md
Due: update-languages, ensure-non-translated, fix-translations

Apply `path operation` suggestion to other files
  docs/ja/docs/advanced/custom-response.md
  docs/ja/docs/deployment/concepts.md
  docs/ja/docs/tutorial/body.md
  docs/ja/docs/tutorial/cookie-param-models.md
  docs/ja/docs/tutorial/cookie-params.md
  docs/ja/docs/tutorial/dependencies/dependencies-in-path-operation-decorators.md
  docs/ja/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/ja/docs/tutorial/dependencies/index.md
  docs/ja/docs/tutorial/dependencies/sub-dependencies.md
  docs/ja/docs/tutorial/first-steps.md
  docs/ja/docs/tutorial/metadata.md
  docs/ja/docs/tutorial/path-params.md
  docs/ja/docs/tutorial/response-model.md
  docs/ja/docs/tutorial/schema-extra-example.md
  docs/ja/docs/tutorial/security/first-steps.md
  docs/ja/docs/tutorial/security/get-current-user.md
  docs/ja/docs/tutorial/security/oauth2-jwt.md
  docs/ja/docs/tutorial/testing.md
Due: update-languages, ensure-non-translated, fix-translations

Reflect `path operation` suggestion in `llm-prompt.md`
  docs/ja/llm-prompt.md
Due: update-languages, ensure-non-translated

fix: resolve SQLAlchemy deprecation todo and remove pydantic v1 docs
  docs_src/path_operation_advanced_configuration/tutorial007_pv1_py39.py
  docs_src/schema_extra_example/tutorial001_pv1_py310.py
  docs_src/schema_extra_example/tutorial001_pv1_py39.py
  docs_src/settings/app03_an_py39/config_pv1.py
  docs_src/settings/app03_py39/config_pv1.py
  docs_src/settings/tutorial001_pv1_py39.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

update for pre-3.14 UnionType
  fastapi/_compat/v2.py
  tests/test_request_params/test_query/test_free_form.py
Due: local-ruff-check, local-ruff-format

fix for https://github.com/pydantic/pydantic-core/issues/1900
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

add comment linking pydantic issue
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

fix for union
  tests/test_request_params/test_query/test_free_form.py
Due: local-ruff-check, local-ruff-format

3.9 union
  tests/test_request_params/test_query/test_free_form.py
Due: local-ruff-check, local-ruff-format

📝 Fix typos in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Fix minor typos in release notes (#14780)
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Update oauth2-jwt.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
Due: add-permalinks-pages, update-languages

Add route-level middleware decorator with tests and docs example
  docs_src/route_middleware/tutorial001.py
  fastapi/route_middleware.py
  tests/test_route_middleware.py
Due: local-ruff-check, local-ruff-format

docs: fix minor grammatical typo in README
  README.md
Due: none
