Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

🐛 Isolate FastAPI telemetry for excluded requests (#16470)
  fastapi/telemetry/_asgi.py
  tests/test_telemetry/test_data.py
Due: local-ruff-check, local-ruff-format

💥 Require opt-in for automatic OpenTelemetry exporter setup
  docs/en/docs/advanced/opentelemetry.md
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/applications.py
  fastapi/telemetry/_api.py
  fastapi/telemetry/_runtime.py
  tests/test_telemetry/_subprocess.py
  tests/test_telemetry/conftest.py
  tests/test_telemetry/test_environment_integrations.py
  tests/test_telemetry/test_runtime.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

💥 Require opt-in for automatic OpenTelemetry exporter setup (#16476)
  docs/en/docs/advanced/opentelemetry.md
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/applications.py
  fastapi/telemetry/_api.py
  fastapi/telemetry/_runtime.py
  tests/test_telemetry/_subprocess.py
  tests/test_telemetry/conftest.py
  tests/test_telemetry/test_environment_integrations.py
  tests/test_telemetry/test_runtime.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Add OpenTelemetry migration note for 0.143.0
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Fix trailing asterisk in FastAPI README
  README.md
Due: none

refactor: migrate SQL database tutorial to use lifespan
  docs_src/sql_databases/tutorial001_an_py310.py
Due: local-ruff-check, local-ruff-format
