Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Fix handling router prefix
  fastapi/routing.py
  tests/test_apirouter_mount.py
Due: local-ruff-check, local-ruff-format

Fix UnboundLocalError in OpenAPI schema generation with custom response classes
  fastapi/openapi/utils.py
  tests/test_openapi_custom_response_class_no_status_code.py
Due: local-ruff-check, local-ruff-format

fix optional return type
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Add database session management to tutorial007
  docs_src/dependencies/tutorial007_py310.py
Due: local-ruff-check, local-ruff-format

✅ Update test references to Python 3.9
  scripts/tests/test_translation_fixer/test_code_includes/data/en_doc.md
  scripts/tests/test_translation_fixer/test_code_includes/data/translated_doc_number_gt.md
  scripts/tests/test_translation_fixer/test_code_includes/data/translated_doc_number_lt.md
  scripts/tests/test_translation_fixer/test_complex_doc/data/en_doc.md
  scripts/tests/test_translation_fixer/test_complex_doc/data/translated_doc.md
  scripts/tests/test_translation_fixer/test_complex_doc/data/translated_doc_expected.md
Due: none

🔥 Remove test for removed file
  tests/test_tutorial/test_python_types/test_tutorial009c.py
Due: local-ruff-check, local-ruff-format

✅ Fix coverage gap in serialize_sequence_value continue statement (#14933)
  tests/test_compat.py
Due: local-ruff-check, local-ruff-format

🎨 Tweak types
  docs_src/extra_models/tutorial003_py310.py
  tests/test_additional_responses_union_duplicate_anyof.py
  tests/test_compat.py
Due: local-ruff-check, local-ruff-format

feat: support starlette 0.52.0+ generic Request
  fastapi/dependencies/utils.py
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

Fix _endpoint_context_cache using id() which risks stale entries and memory leaks
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

docs: fix typos
  docs/ru/docs/advanced/middleware.md
  docs/ru/docs/deployment/docker.md
  docs/ru/docs/history-design-future.md
  docs/ru/docs/how-to/custom-docs-ui-assets.md
  docs/ru/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

🔨 Add Kapa.ai widget
  docs/en/docs/js/init_kapa_widget.js
  docs/en/mkdocs.yml
Due: update-languages

Refactor Kapa.ai widget styling
  docs/en/docs/js/init_kapa_widget.js
Due: update-languages

Update Footer
  docs/en/docs/css/custom.css
Due: update-languages

🔨 Add Kapa.ai widget (AI chatbot) (#14938)
  docs/en/docs/css/custom.css
  docs/en/docs/js/init_kapa_widget.js
  docs/en/mkdocs.yml
Due: update-languages

📝 Update doc to reflect source example
  docs/en/docs/tutorial/extra-models.md
Due: add-permalinks-pages, update-languages

Update highlighted source lines
  docs/en/docs/tutorial/extra-models.md
Due: add-permalinks-pages, update-languages

Small sentence update
  docs/en/docs/tutorial/extra-models.md
Due: add-permalinks-pages, update-languages

Apply suggestion from @YuriiMotov
  docs/ru/docs/how-to/custom-docs-ui-assets.md
Due: update-languages, ensure-non-translated, fix-translations

✏️ Fix several typos in ru translations (#14934)
  docs/ru/docs/advanced/middleware.md
  docs/ru/docs/deployment/docker.md
  docs/ru/docs/history-design-future.md
  docs/ru/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

Always run tests on push to `master` branch and when run by scheduler
  .github/workflows/test.yml
Due: none

Simplify condition
  .github/workflows/test.yml
Due: none

filter nobasemodel from flatting in get_def
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

fix StreamingResponse example
  docs/en/docs/advanced/custom-response.md
  docs_src/custom_response/tutorial007_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

refactor: improve type annotations and use python 3.10+ syntax
  fastapi/dependencies/utils.py
  fastapi/security/api_key.py
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
Due: local-ruff-check, local-ruff-format

Fix doctrings for `max_digits` and `decimal_places`
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

docs: update pytest output example in testing docs
  docs/en/docs/tutorial/testing.md
Due: add-permalinks-pages, update-languages

✏️ Fix `client_password` typo in OAuth2 form docstrings
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

Clarify usage of middleware for X-Request-ID request tracing
  docs/en/docs/tutorial/middleware.md
Due: add-permalinks-pages, update-languages

👷 Always run tests on push to `master` branch and when run by scheduler (#14940)
  .github/workflows/test.yml
Due: none

Update deprecated question category global ID to next_global_id
  scripts/people.py
Due: local-ruff-check, local-ruff-format

Clarify usage of --reload flag in Docker environments
  docs/en/docs/deployment/docker.md
Due: add-permalinks-pages, update-languages

Add rate limiter and `points_per_minute` limit
  scripts/people.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor UploadFile JSON Schema to use contentMediaType (OpenAPI 3.1)
  fastapi/datastructures.py
Due: local-ruff-check, local-ruff-format

✅ Update tests for OpenAPI upload files with contentMediaType
  tests/test_request_params/test_file/test_list.py
  tests/test_request_params/test_file/test_optional.py
  tests/test_request_params/test_file/test_optional_list.py
  tests/test_request_params/test_file/test_required.py
  tests/test_tutorial/test_request_files/test_tutorial001.py
  tests/test_tutorial/test_request_files/test_tutorial001_02.py
  tests/test_tutorial/test_request_files/test_tutorial001_03.py
  tests/test_tutorial/test_request_files/test_tutorial002.py
  tests/test_tutorial/test_request_files/test_tutorial003.py
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

Set min interval time to 1
  scripts/people.py
Due: local-ruff-check, local-ruff-format
