Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Update `docs_src/app_testing/app_b_*`
  docs_src/app_testing/app_b_an_py310/main.py
  docs_src/app_testing/app_b_an_py39/main.py
  docs_src/app_testing/app_b_py310/main.py
  docs_src/app_testing/app_b_py39/main.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/body_updates/tutorial002_*`
  docs_src/body_updates/tutorial002_py310.py
  docs_src/body_updates/tutorial002_py39.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/advanced/path_operation_advanced_configuration/tutorial004_*`
  docs_src/path_operation_advanced_configuration/tutorial004_py310.py
  docs_src/path_operation_advanced_configuration/tutorial004_py39.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/path_operation_configuration/tutorial001_*`
  docs_src/path_operation_configuration/tutorial001_py310.py
  docs_src/path_operation_configuration/tutorial001_py39.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/path_operation_configuration/tutorial002_*`
  docs_src/path_operation_configuration/tutorial002_py310.py
  docs_src/path_operation_configuration/tutorial002_py39.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/path_operation_configuration/tutorial003_*`
  docs/en/docs/tutorial/path-operation-configuration.md
  docs_src/path_operation_configuration/tutorial003_py310.py
  docs_src/path_operation_configuration/tutorial003_py39.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Update `docs_src/path_operation_configuration/tutorial004_*`
  docs_src/path_operation_configuration/tutorial004_py310.py
  docs_src/path_operation_configuration/tutorial004_py39.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/path_operation_configuration/tutorial005_*`
  docs/en/docs/tutorial/path-operation-configuration.md
  docs_src/path_operation_configuration/tutorial005_py310.py
  docs_src/path_operation_configuration/tutorial005_py39.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Update `docs_src/security/tutorial004_*`
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py39.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial004_py39.py
Due: local-ruff-check, local-ruff-format

Update `docs_src/security/tutorial005_*`
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_an_py39.py
  docs_src/security/tutorial005_py310.py
  docs_src/security/tutorial005_py39.py
Due: local-ruff-check, local-ruff-format

style: PEP 8 fixes in openapi/utils.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: jwt-python-hardcoded-secret-86
  docs_src/security/tutorial004_an_py39.py
Due: local-ruff-check, local-ruff-format

🌐 Update LLM prompt for Russian translations (#14733)
  docs/ru/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update translations for de (update-outdated) (#14690)
  docs/de/docs/_llm-test.md
  docs/de/docs/tutorial/bigger-applications.md
Due: update-languages, ensure-non-translated, fix-translations

Update code example and docs page
  docs/en/docs/advanced/wsgi.md
  docs_src/wsgi/tutorial001_py39.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add `a2wsgi` to test dependencies
  pyproject.toml
  uv.lock
Due: none

Remove `WSGIMiddleware` from API reference
  docs/en/docs/reference/middleware.md
Due: add-permalinks-pages, update-languages

Fix coverage
  fastapi/middleware/wsgi.py
Due: local-ruff-check, local-ruff-format

Update `uv sync` command to install with `all` option
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

docs: clarify required but nullable request body fields
  docs/en/docs/tutorial/body.md
  docs_src/body/tutorial005_py310.py
  docs_src/body/tutorial005_py39.py
  tests/test_tutorial/test_body_required_nullable/__init__.py
  tests/test_tutorial/test_body_required_nullable/test_tutorial001.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Update code examples in `docs/index.md` to follow latest Python syntax
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Sync `readme.md` with `index.md`
  README.md
Due: none

Update code examples in `docs/deployment/docker.md` to follow latest Python syntax
  docs/en/docs/deployment/docker.md
Due: add-permalinks-pages, update-languages

Show code example with new syntax first in `docs/tutorial/body-multiple-params.md`
  docs/en/docs/tutorial/body-multiple-params.md
Due: add-permalinks-pages, update-languages

add uv.lock to files for labeling the PR with 'internal'
  .github/labeler.yml
Due: none

🔧 Ensure that an edit to `uv.lock` gets the `internal` label (#14759)
  .github/labeler.yml
Due: none

Remove outdated `SwaggerUIBundle.SwaggerUIStandalonePreset` from `presets`
  docs/en/docs/how-to/configure-swagger-ui.md
  fastapi/openapi/docs.py
  tests/test_tutorial/test_configure_swagger_ui/test_tutorial001.py
  tests/test_tutorial/test_configure_swagger_ui/test_tutorial002.py
  tests/test_tutorial/test_configure_swagger_ui/test_tutorial003.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add `swagger_extra_js_urls` parameter to `get_swagger_ui_html`
  fastapi/openapi/docs.py
Due: local-ruff-check, local-ruff-format

Add `swagger_extra_presets` parameter to `get_swagger_ui_html`
  fastapi/openapi/docs.py
Due: local-ruff-check, local-ruff-format

Bump starlette version to `<0.52.0`
  pyproject.toml
  uv.lock
Due: none

docs(ko): refine 'burger' to '햄버거' and update glossary
  docs/ko/llm-prompt.md
Due: update-languages, ensure-non-translated

Re-translate with `gtpt-5` model
  docs/ko/docs/async.md
  docs/ko/docs/fastapi-cli.md
  docs/ko/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Re-translate with new preferred translation for `burger`
  docs/ko/docs/async.md
Due: update-languages, ensure-non-translated, fix-translations

Update docs/ko/llm-prompt.md
  docs/ko/llm-prompt.md
Due: update-languages, ensure-non-translated

Add app and command to glossary
  docs/ko/llm-prompt.md
Due: update-languages, ensure-non-translated

Re-translate with new preferred translations for `app` and `command`
  docs/ko/docs/fastapi-cli.md
  docs/ko/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Fix Optional Literal Form field handling when value is None
  fastapi/dependencies/utils.py
  tests/test_request_params/test_form/test_optional_literal_form.py
Due: local-ruff-check, local-ruff-format

Fixed typos in documentation
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/en/docs/tutorial/sql-databases.md
  docs_src/python_types/tutorial011_py39.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix typo in example signup timestamp in tutorial011_py39.py
  docs_src/python_types/tutorial011_py39.py
Due: local-ruff-check, local-ruff-format

Docs: clarify handling of extra fields in request body
  docs/en/docs/tutorial/body.md
Due: add-permalinks-pages, update-languages

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
