Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Update all
  docs/uk/docs/alternatives.md
  docs/uk/docs/features.md
  docs/uk/docs/index.md
  docs/uk/docs/learn/index.md
  docs/uk/docs/python-types.md
  docs/uk/docs/tutorial/background-tasks.md
  docs/uk/docs/tutorial/body-multiple-params.md
  docs/uk/docs/tutorial/body-nested-models.md
  docs/uk/docs/tutorial/body.md
  docs/uk/docs/tutorial/cookie-param-models.md
  docs/uk/docs/tutorial/cookie-params.md
  docs/uk/docs/tutorial/cors.md
  docs/uk/docs/tutorial/debugging.md
  docs/uk/docs/tutorial/first-steps.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/header-param-models.md
  docs/uk/docs/tutorial/header-params.md
  docs/uk/docs/tutorial/index.md
  docs/uk/docs/tutorial/metadata.md
  docs/uk/docs/tutorial/middleware.md
  docs/uk/docs/tutorial/path-params-numeric-validations.md
  docs/uk/docs/tutorial/path-params.md
  docs/uk/docs/tutorial/query-param-models.md
  docs/uk/docs/tutorial/query-params-str-validations.md
  docs/uk/docs/tutorial/query-params.md
  docs/uk/docs/tutorial/request-files.md
  docs/uk/docs/tutorial/request-form-models.md
  docs/uk/docs/tutorial/request-forms-and-files.md
  docs/uk/docs/tutorial/request-forms.md
  docs/uk/docs/tutorial/response-model.md
  docs/uk/docs/tutorial/response-status-code.md
  docs/uk/docs/tutorial/schema-extra-example.md
  docs/uk/docs/tutorial/security/index.md
  docs/uk/docs/tutorial/static-files.md
  docs/uk/docs/tutorial/testing.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for uk (update-all) (#14914)
  docs/uk/docs/alternatives.md
  docs/uk/docs/features.md
  docs/uk/docs/index.md
  docs/uk/docs/learn/index.md
  docs/uk/docs/python-types.md
  docs/uk/docs/tutorial/background-tasks.md
  docs/uk/docs/tutorial/body-multiple-params.md
  docs/uk/docs/tutorial/body-nested-models.md
  docs/uk/docs/tutorial/body.md
  docs/uk/docs/tutorial/cookie-param-models.md
  docs/uk/docs/tutorial/cookie-params.md
  docs/uk/docs/tutorial/cors.md
  docs/uk/docs/tutorial/debugging.md
  docs/uk/docs/tutorial/first-steps.md
  docs/uk/docs/tutorial/handling-errors.md
  docs/uk/docs/tutorial/header-param-models.md
  docs/uk/docs/tutorial/header-params.md
  docs/uk/docs/tutorial/index.md
  docs/uk/docs/tutorial/metadata.md
  docs/uk/docs/tutorial/middleware.md
  docs/uk/docs/tutorial/path-params-numeric-validations.md
  docs/uk/docs/tutorial/path-params.md
  docs/uk/docs/tutorial/query-param-models.md
  docs/uk/docs/tutorial/query-params-str-validations.md
  docs/uk/docs/tutorial/query-params.md
  docs/uk/docs/tutorial/request-files.md
  docs/uk/docs/tutorial/request-form-models.md
  docs/uk/docs/tutorial/request-forms-and-files.md
  docs/uk/docs/tutorial/request-forms.md
  docs/uk/docs/tutorial/response-model.md
  docs/uk/docs/tutorial/response-status-code.md
  docs/uk/docs/tutorial/schema-extra-example.md
  docs/uk/docs/tutorial/security/index.md
  docs/uk/docs/tutorial/static-files.md
  docs/uk/docs/tutorial/testing.md
Due: update-languages, ensure-non-translated, fix-translations

Add missing
  docs/zh/docs/_llm-test.md
  docs/zh/docs/about/index.md
  docs/zh/docs/advanced/advanced-python-types.md
  docs/zh/docs/alternatives.md
  docs/zh/docs/deployment/fastapicloud.md
  docs/zh/docs/how-to/authentication-error-status-code.md
  docs/zh/docs/how-to/conditional-openapi.md
  docs/zh/docs/how-to/custom-docs-ui-assets.md
  docs/zh/docs/how-to/custom-request-and-route.md
  docs/zh/docs/how-to/extending-openapi.md
  docs/zh/docs/how-to/graphql.md
  docs/zh/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/zh/docs/how-to/separate-openapi-schemas.md
  docs/zh/docs/how-to/testing-database.md
  docs/zh/docs/resources/index.md
  docs/zh/docs/translation-banner.md
Due: update-languages, ensure-non-translated, fix-translations

docs: remove Python 3.9 example for tutorial005
  docs_src/body/tutorial005_py39.py
Due: local-ruff-check, local-ruff-format

docs: update required but nullable request body example, remove py39 files, add test_tutorial005
  docs/en/docs/tutorial/body.md
  docs_src/body/tutorial005_py310.py
  tests/test_tutorial/test_body/test_tutorial005.py
  tests/test_tutorial/test_body_required_nullable/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Apply suggestion from @YuriiMotov
  docs/en/docs/tutorial/body.md
Due: add-permalinks-pages, update-languages

Fix tutorial005_py310.py: make 'description' field required as intended
  docs_src/body/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format

Fix tutorial005_py310: make 'description' required and update tests accordingly
  tests/test_tutorial/test_body/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

Update all
  docs/fr/docs/advanced/additional-responses.md
  docs/fr/docs/advanced/additional-status-codes.md
  docs/fr/docs/advanced/path-operation-advanced-configuration.md
  docs/fr/docs/advanced/response-directly.md
  docs/fr/docs/alternatives.md
  docs/fr/docs/async.md
  docs/fr/docs/deployment/docker.md
  docs/fr/docs/deployment/https.md
  docs/fr/docs/features.md
  docs/fr/docs/help-fastapi.md
  docs/fr/docs/history-design-future.md
  docs/fr/docs/index.md
  docs/fr/docs/learn/index.md
  docs/fr/docs/python-types.md
  docs/fr/docs/tutorial/background-tasks.md
  docs/fr/docs/tutorial/body-multiple-params.md
  docs/fr/docs/tutorial/body.md
  docs/fr/docs/tutorial/debugging.md
  docs/fr/docs/tutorial/first-steps.md
  docs/fr/docs/tutorial/index.md
  docs/fr/docs/tutorial/path-params-numeric-validations.md
  docs/fr/docs/tutorial/path-params.md
  docs/fr/docs/tutorial/query-params-str-validations.md
  docs/fr/docs/tutorial/query-params.md
Due: update-languages, ensure-non-translated, fix-translations

Update all
  docs/zh-hant/docs/async.md
  docs/zh-hant/docs/benchmarks.md
  docs/zh-hant/docs/deployment/index.md
  docs/zh-hant/docs/fastapi-cli.md
  docs/zh-hant/docs/features.md
  docs/zh-hant/docs/index.md
  docs/zh-hant/docs/tutorial/first-steps.md
  docs/zh-hant/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Apply suggestions from code review
  docs/de/docs/_llm-test.md
  docs/de/docs/features.md
  docs/de/docs/tutorial/dependencies/dependencies-with-yield.md
  docs/de/docs/tutorial/security/first-steps.md
Due: update-languages, ensure-non-translated, fix-translations

fix: propagate Mount objects when using include_router
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

Prevent IncEx reexport from being stripped from stubs.
  fastapi/types.py
Due: local-ruff-check, local-ruff-format

fix: propagate StaticFiles Mount objects when using include_router
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

fix: support mounting StaticFiles to APIRouter, raise error for other apps
  fastapi/applications.py
  fastapi/routing.py
  tests/test_router_mount.py
Due: local-ruff-check, local-ruff-format

fix: support mounting StaticFiles to APIRouter, raise error for other apps
  fastapi/routing.py
  tests/test_apirouter_mount.py
Due: local-ruff-check, local-ruff-format

fix: support mounting StaticFiles on APIRouter and propagate via include_router
  fastapi/applications.py
  fastapi/routing.py
  tests/test_apirouter_mount.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
