Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

docs: fix duplicated word in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Increase timeout for tests
  pyproject.toml
Due: none

Add `time.sleep(0.1)` in `test_websocket_handle_disconnection` to make test stable
  tests/test_tutorial/test_websockets/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

✅ Fix all tests are skipped on Windows (#14994)
  scripts/tests/test_translation_fixer/conftest.py
Due: local-ruff-check, local-ruff-format

Fix typo in translation test docs
  docs/en/docs/_llm-test.md
Due: add-permalinks-pages, update-languages

Add dates to release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Update to Python 3.10 syntax
  tests/test_request_params/test_body/test_nullable_and_defaults.py
  tests/test_request_params/test_cookie/test_nullable_and_defaults.py
  tests/test_request_params/test_file/test_nullable_and_defaults.py
  tests/test_request_params/test_form/test_nullable_and_defaults.py
  tests/test_request_params/test_header/test_nullable_and_defaults.py
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

✏️ Update fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Tweak skill
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

Use inline snapshots in assertions
  tests/test_request_params/test_body/test_nullable_and_defaults.py
  tests/test_request_params/test_cookie/test_nullable_and_defaults.py
  tests/test_request_params/test_file/test_nullable_and_defaults.py
  tests/test_request_params/test_form/test_nullable_and_defaults.py
  tests/test_request_params/test_header/test_nullable_and_defaults.py
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Update snapshots to reflect latest changes in file param schema
  tests/test_request_params/test_file/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

🔧 Add FastAPI Agents Skill (#14982)
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.133.1
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Remove `xfail` (fixed by PR #14986)
  tests/test_tutorial/test_behind_a_proxy/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

Fix typo in URL
  docs/en/docs/advanced/behind-a-proxy.md
Due: add-permalinks-pages, update-languages

📝 Fix Typer logo light/dark theme for GitHub and MkDocs
  README.md
  docs/en/docs/index.md
  docs/en/docs/js/custom.js
Due: add-permalinks-pages, generate-readme, update-languages

Remove em dashes
  docs/en/docs/advanced/behind-a-proxy.md
Due: add-permalinks-pages, update-languages

Fix grammar
  docs/en/docs/advanced/behind-a-proxy.md
Due: add-permalinks-pages, update-languages

Add AsyncAPI support for Websockets
  fastapi/applications.py
  fastapi/openapi/asyncapi_utils.py
  fastapi/openapi/docs.py
  tests/test_asyncapi.py
Due: local-ruff-check, local-ruff-format

CI error
  fastapi/openapi/asyncapi_utils.py
Due: local-ruff-check, local-ruff-format

test: Add comprehensive tests for AsyncAPI coverage
  tests/test_asyncapi.py
Due: local-ruff-check, local-ruff-format

📝 Fix Typer logo light/dark theme for GitHub and MkDocs
  docs/en/docs/js/custom.js
Due: update-languages

asyncapi link bug
  fastapi/applications.py
  tests/test_asyncapi.py
Due: local-ruff-check, local-ruff-format

cov
  tests/test_asyncapi.py
Due: local-ruff-check, local-ruff-format

fix coverage
  pyproject.toml
  tests/test_asyncapi.py
  tests/test_dependencies_utils.py
  tests/test_pydantic_v1_error.py
  tests/utils.py
Due: local-ruff-check, local-ruff-format

Add documentation for the FastAPI VS Code extension
  docs/en/docs/editor-support.md
  docs/en/docs/tutorial/index.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
