Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

remove pragma no cover as the test suite now runs on Pydantic 2.9.0
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

try bumping Pydantic to 2.11.0
  .github/workflows/test.yml
  pyproject.toml
Due: none

revert commit that was meant for a different branch
  .github/workflows/test.yml
  pyproject.toml
Due: none

bump lower Pydantic pin to 2.11.0
  .github/workflows/test.yml
  pyproject.toml
Due: none

fix uv lock
  uv.lock
Due: none

bump lower pydantic bound further to 2.12.0
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

🔨 Exclude spam comments from statistics in `scripts/people.py` (#15088)
  scripts/people.py
Due: local-ruff-check, local-ruff-format

💄 Fix code blocks in reference docs overflowing table width (#15094)
  docs/en/docs/css/custom.css
  docs/en/mkdocs.yml
Due: update-languages

📝 Update docs for contributors and team members regarding translation PRs (#15200)
  docs/en/docs/contributing.md
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

bump lower bound of strawberry-graphql to 0.284.0
  pyproject.toml
Due: none

📝 Add missing last release notes dates
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Add missing last release notes dates (#15202)
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.135.2
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

for now, assume 3.14t will pull in the most recent versions of our external dependencies
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

Fix #12419: Update "Required, can be None" docs and fix example code
  docs/en/docs/tutorial/query-params-str-validations.md
  docs_src/query_params_str_validations/tutorial006c_an_py310.py
  docs_src/query_params_str_validations/tutorial006c_py310.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006c.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

refactor: raise clear ValueError when Depends receives a non-callable
  fastapi/params.py
Due: local-ruff-check, local-ruff-format

docs: implement standardized Alantec validation error handler
  docs_src/handling_errors/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format

docs: improve consistency in bullet list formatting
  README.md
Due: none

expand test matrix to test 3.14t on windows/ubuntu/macos
  .github/workflows/test.yml
Due: none

move skip to top of file to avoid issues with sqlalchemy
  tests/test_orjson_response_class.py
Due: local-ruff-check, local-ruff-format

reinstall SQLAlchemy without cyextension for 3.14t and ubuntu
  .github/workflows/test.yml
Due: none

Refactor routing internals into modular components with stable facade.
  docs/en/docs/advanced/routing-architecture.md
  fastapi/routing.py
  fastapi/routing_handlers.py
  fastapi/routing_router.py
  fastapi/routing_routes.py
  fastapi/routing_utils.py
  tests/test_routing_facade_contract.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add route facade test coverage for default APIRoute paths.
  tests/test_routing_facade_contract.py
Due: local-ruff-check, local-ruff-format

Fix routing type-check failures in pre-commit.
  fastapi/routing_routes.py
  fastapi/routing_utils.py
Due: local-ruff-check, local-ruff-format

Add routing request_response branch coverage tests.
  tests/test_routing_facade_contract.py
Due: local-ruff-check, local-ruff-format

Cover legacy handler path in routing facade tests.
  tests/test_routing_facade_contract.py
Due: local-ruff-check, local-ruff-format

Avoid uncovered nested endpoint in facade coverage test.
  tests/test_routing_facade_contract.py
Due: local-ruff-check, local-ruff-format

convert Optional to | syntax
  fastapi/applications.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix imports
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

✏️ Fix typo for `client_secret` in OAuth2 form docstrings (#14946)
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

👷 Add ty check to `lint.sh` (#15136)
  scripts/lint.sh
Due: none

refactor: Move type-only imports into TYPE_CHECKING blocks
  fastapi/openapi/utils.py
  tests/test_dependency_contextmanager.py
  tests/test_route_scope.py
Due: local-ruff-check, local-ruff-format

📝 Clarify that HTTP query params cannot be Python None
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

fix(routing): thread stream_item_type through include_router()
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix duplicate operationId for multi-method routes
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Add test for unique operationId generation in multi-method routes
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

fix: raise ValueError in format_sse_event instead of stripping invalid chars
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

docs: warn about BackgroundTasks + Response background interaction
  docs/en/docs/advanced/response-directly.md
  docs_src/response_directly/tutorial003.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

add new changes.
  fastapi/__main__.py
  fastapi/exceptions.py
  fastapi/param_functions.py
  fastapi/requests.py
Due: local-ruff-check, local-ruff-format
