Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

docs: update reference web index and resources
  README.md
Due: none

fix(routing): invalidate routes version on direct APIRouter.routes mutations
  fastapi/routing.py
  tests/test_router_routes_mutation.py
Due: local-ruff-check, local-ruff-format

✨ Add `ASGIMiddleware`, a base class to create middleware without the overhead of `BaseHTTPMiddleware`
  docs/en/docs/advanced/middleware.md
  docs/en/docs/reference/middleware.md
  docs/en/docs/tutorial/middleware.md
  docs_src/advanced_middleware/tutorial004_py310.py
  fastapi/datastructures.py
  fastapi/middleware/asgi.py
  tests/test_asgi_middleware.py
  tests/test_tutorial/test_advanced_middleware/test_tutorial004.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix Hindi translations and enhance tutorial clarity
  docs/hi/docs/tutorial/first-steps.md
Due: update-languages, ensure-non-translated, fix-translations

Fix stale effective-routes cache on direct APIRouter.routes mutation
  fastapi/routing.py
  tests/test_router_direct_routes_mutation.py
Due: local-ruff-check, local-ruff-format

fix: fix security issue in tutorial004_an_py310.py
  docs_src/security/tutorial004_an_py310.py
Due: local-ruff-check, local-ruff-format

fix: avoid AttributeError when extracting bytes sequence from non-UploadFile form values
  fastapi/dependencies/utils.py
  tests/test_optional_file_list.py
Due: local-ruff-check, local-ruff-format

fix: unwrap Annotated before stream origin detection
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Support hasattr(sub_value, 'read') alongside UploadFile check
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

docs(pt): translate contributing.md
  docs/pt/docs/contributing.md
Due: update-languages, ensure-non-translated, fix-translations

Avoid rebuilding unchanged dependencies when overrides are configured
  fastapi/dependencies/utils.py
  tests/test_dependency_overrides_rebuild.py
Due: local-ruff-check, local-ruff-format

Mark unused dependency guard as intentionally uncovered
  tests/test_dependency_overrides_rebuild.py
Due: local-ruff-check, local-ruff-format

add X-Trust human presence middleware example
  docs/en/docs/advanced/middleware.md
Due: add-permalinks-pages, update-languages

🐛 Support Annotated in stream return annotations for JSONL and SSE
  fastapi/dependencies/utils.py
  tests/test_stream_annotated.py
Due: local-ruff-check, local-ruff-format

♻️ Remove unreachable branch in get_stream_item_type for 100% coverage
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Fix jsonable_encoder raising an unclear UnicodeDecodeError for non-UTF-8 bytes
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

fix(dependencies): preserve Query metadata for complex fields in BaseModel dependencies
  fastapi/dependencies/utils.py
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

fix(dependencies): add defensive fallback for get_type_hints on BaseModel dependencies
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

test(dependencies): cover unresolved BaseModel type hints fallback
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

Fix comment about SSE event terminator
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

Add test for empty SSE event
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

✨ Add OpenAPI tag metadata types
  fastapi/types.py
Due: local-ruff-check, local-ruff-format

✨ Improve OpenAPI tags typing and autocomplete
  docs_src/metadata/tutorial004_py310.py
  fastapi/applications.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Escape docs UI HTML fields
  fastapi/openapi/docs.py
  tests/test_application.py
  tests/test_custom_swagger_ui_redirect.py
  tests/test_swagger_ui_escape.py
Due: local-ruff-check, local-ruff-format

fix: preserve injected background tasks with custom responses
  fastapi/routing.py
  tests/test_background_tasks.py
Due: local-ruff-check, local-ruff-format

ci: ignore anyio BlockingPortal deprecation warning in pytest
  pyproject.toml
Due: none

Fix custom_encoder ignored for fields in BaseModel in jsonable_encoder
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

✅ Fix order-dependent tests in test_dependency_contextmanager.py
  tests/test_dependency_contextmanager.py
Due: local-ruff-check, local-ruff-format

🦖 Openapi tags backward compatible
  fastapi/applications.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
