Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Fix img urls
  docs/ru/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

📝 Fix img URLs
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix image URLs
  docs/zh/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/fr/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/zh-hant/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/ko/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/tr/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/de/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/pt/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/uk/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/ja/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

🔧 Remove Ruff ignored rule for tabs (#15533)
  pyproject.toml
Due: none

narrow type ignore comment for mypy
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Handle ImportError for optional JSON response imports
  fastapi/responses.py
  tests/test_responses_import.py
Due: local-ruff-check, local-ruff-format

Fix optional orjson/ujson import breaking fastapi.responses
  fastapi/responses.py
  tests/test_responses_optional_imports.py
Due: local-ruff-check, local-ruff-format

tests: ensure fastapi.responses isolation during monkeypatch
  tests/test_responses_optional_imports.py
Due: local-ruff-check, local-ruff-format

tests: fix coverage and isolation for optional import fallback
  fastapi/responses.py
  tests/test_responses_optional_imports.py
Due: local-ruff-check, local-ruff-format

docs: initialize Hindi translation and configure language list
  docs/hi/index.md
  docs/language_names.yml
Due: update-languages, ensure-non-translated

update pre-commit config
  .pre-commit-config.yaml
Due: none

update poc
  poc-update.txt
Due: none

Fix typo in README
  SECURITY.md
Due: none

fix: propagate stream_item_type when using include_router
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

test: cover stream_item_type propagation through include_router
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

refactor(docs): remove nginx unit from docs due to its unmaintained
  docs/en/docs/deployment/manually.md
Due: add-permalinks-pages, update-languages

Fix inconsistent type ignore comments
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/encoders.py
  fastapi/openapi/models.py
  fastapi/params.py
  fastapi/routing.py
  fastapi/security/api_key.py
Due: local-ruff-check, local-ruff-format

Fix formatting in SECURITY.md
  SECURITY.md
Due: none

fix: support custom APIRoute subclasses with explicit constructors
  fastapi/routing.py
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

test: cover _accepts_kwarg signature inspection fallback
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

fix: rewrite dict() as literal and add coverage for _accepts_kwarg fallback
  fastapi/routing.py
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

📝 Fix image URLs in `index.md` (#15534)
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

Fix `askaban` -> `azkaban` in `virtual-environments.md`
  docs/ru/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ru (update-outdated) (#15521)
  docs/ru/docs/advanced/generate-clients.md
  docs/ru/docs/index.md
  docs/ru/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh (update-outdated) (#15520)
  docs/zh/docs/advanced/generate-clients.md
  docs/zh/docs/index.md
  docs/zh/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Fix image URLs
  docs/es/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for es (update-outdated) (#15523)
  docs/es/docs/advanced/generate-clients.md
  docs/es/docs/index.md
  docs/es/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

close PR when external dependencies are modified
  .github/workflows/guard-dependencies.yml
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

Add missing backticks in `virtual-environments.md`
  docs/zh-hant/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🔒️ Only allow team members to modify dependencies (#15548)
  .github/workflows/guard-dependencies.yml
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

🌐 Update translations for fr (update-outdated) (#15522)
  docs/fr/docs/advanced/generate-clients.md
  docs/fr/docs/index.md
  docs/fr/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
