Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args:
        - --fix
      - id: ruff-format
  - repo: local
    hooks:
      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$
      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false
      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false
      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

📝 Update docs for contributing with translations (#14701)
  docs/en/docs/contributing.md
  scripts/docs.py
Due: add-permalinks-pages, generate-readme, update-languages, ensure-non-translated

update portuguese llm-prompt.md
  docs/pt/llm-prompt.md
Due: update-languages, ensure-non-translated

Fix forward references inside Annotated dependencies (fixes #13056)
  fastapi/dependencies/utils.py
  tests/test_annotated_forwardref.py
Due: none

📝 Update docs about managing translations
  docs/en/docs/fastapi-people.md
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

📝 Update docs about managing translations (#14704)
  docs/en/docs/fastapi-people.md
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

📝 Update docs for management tasks
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

📝 Update docs for management tasks (#14705)
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

📝 Add docs about LLM contributions and automated tools
  docs/en/docs/contributing.md
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

👷 Update issue-manager to autoclose AI slop
  .github/workflows/issue-manager.yml
Due: none

📝 Update LLM contributions text
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

📝 Tweak docs
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

📝 Add contribution instructions about LLM generated code and comments and automated tools for PRs (#14706)
  .github/workflows/issue-manager.yml
  docs/en/docs/contributing.md
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

rename file
  docs_src/metadata/tutorial001_1_py39.py
  tests/test_tutorial/test_metadata/test_tutorial001_1.py
Due: none

fix corresponding test
  tests/test_tutorial/test_metadata/test_tutorial001_1.py
Due: none

docs(nl): add Dutch documentation translations and locale config
  docs/nl/docs/_llm-test.md
  docs/nl/docs/index.md
  docs/nl/llm-prompt.md
  docs/nl/mkdocs.yml
Due: update-languages, ensure-non-translated

docs(mkdocs): add dutch locale to language switcher
  docs/en/mkdocs.yml
Due: update-languages

feat(docs): add Dutch to supported translations
  scripts/docs.py
Due: generate-readme, update-languages, ensure-non-translated

docs(nl): refine Dutch wording and update translation guide
  docs/nl/docs/index.md
  docs/nl/llm-prompt.md
Due: update-languages, ensure-non-translated

docs: fix grammar in first steps tutorial
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Remove added white line
  docs/en/docs/tutorial/first-steps.md
Due: add-permalinks-pages, update-languages

Fix Annotated forward reference dependencies and HTTPBasic header regression
  fastapi/dependencies/utils.py
  fastapi/security/http.py
Due: none

small fix
  fastapi/dependencies/utils.py
Due: none

Fix HTTPBasic realm compatibility and restore FastAPI header behavior
  fastapi/security/http.py
Due: none

remove duplicate make_authenticate_headers
  fastapi/security/http.py
Due: none

Fix HTTPBasic to include realm in WWW-Authenticate header when provided
  fastapi/security/http.py
Due: none

docs: Update outdated GitHub Actions version
  .github/workflows/latest-changes.yml
Due: none

Update Color import from pydantic_extra_types
  fastapi/encoders.py
Due: none

✨ Add theme toggle functionality to Swagger UI with dark/light mode support
  fastapi/openapi/docs.py
Due: none

Docs: clarify when to use async def vs def
  docs/en/docs/async.md
Due: add-permalinks-pages, update-languages

Fix copy button in custom.js
  docs/en/docs/js/custom.js
Due: update-languages

Docs: refine async vs def clarification for I/O-bound work
  docs/en/docs/async.md
Due: add-permalinks-pages, update-languages

🐛 Fix input command display in setupTermynal function
  docs/en/docs/js/custom.js
Due: update-languages

🎨 Format
  docs/en/docs/js/custom.js
Due: update-languages

🐛 Fix copy button in custom.js (#14722)
  docs/en/docs/js/custom.js
Due: update-languages

🌐 Update translations for ko (add-missing) (#14699)
  docs/ko/docs/_llm-test.md
  docs/ko/docs/advanced/additional-responses.md
  docs/ko/docs/advanced/behind-a-proxy.md
  docs/ko/docs/advanced/dataclasses.md
  docs/ko/docs/advanced/generate-clients.md
  docs/ko/docs/advanced/middleware.md
  docs/ko/docs/advanced/openapi-callbacks.md
  docs/ko/docs/advanced/openapi-webhooks.md
  docs/ko/docs/advanced/path-operation-advanced-configuration.md
  docs/ko/docs/advanced/security/http-basic-auth.md
  docs/ko/docs/advanced/security/index.md
  docs/ko/docs/advanced/security/oauth2-scopes.md
  docs/ko/docs/advanced/settings.md
  docs/ko/docs/alternatives.md
  docs/ko/docs/deployment/concepts.md
  docs/ko/docs/deployment/fastapicloud.md
  docs/ko/docs/deployment/https.md
  docs/ko/docs/deployment/manually.md
  docs/ko/docs/how-to/authentication-error-status-code.md
  docs/ko/docs/how-to/custom-docs-ui-assets.md
  docs/ko/docs/how-to/custom-request-and-route.md
  docs/ko/docs/how-to/extending-openapi.md
  docs/ko/docs/how-to/general.md
  docs/ko/docs/how-to/graphql.md
  docs/ko/docs/how-to/index.md
  docs/ko/docs/how-to/migrate-from-pydantic-v1-to-pydantic-v2.md
  docs/ko/docs/how-to/separate-openapi-schemas.md
  docs/ko/docs/how-to/testing-database.md
  docs/ko/docs/tutorial/bigger-applications.md
  docs/ko/docs/tutorial/body-updates.md
  docs/ko/docs/tutorial/dependencies/sub-dependencies.md
  docs/ko/docs/tutorial/handling-errors.md
  docs/ko/docs/tutorial/security/first-steps.md
  docs/ko/docs/tutorial/security/index.md
Due: update-languages, ensure-non-translated

🌐 Update LLM prompt instructions file for French (#14618)
  docs/fr/llm-prompt.md
Due: update-languages, ensure-non-translated

🌐 Update portuguese llm-prompt.md (#14702)
  docs/pt/llm-prompt.md
Due: update-languages, ensure-non-translated

just test how pr woks
  README.md
Due: none
