Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Test router candidate cache version recheck
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

docs: fix type annotation mismatch in sub-dependencies tutorial example
  docs_src/dependencies/tutorial005_an_py310.py
  docs_src/dependencies/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format

🐛 Fix OpenAPI response body schema check for response classes with default status code
  fastapi/openapi/utils.py
  tests/test_response_code_no_body.py
Due: local-ruff-check, local-ruff-format

Remove freezegun test dependency
  tests/test_include_router_freeze_time.py
Due: local-ruff-check, local-ruff-format

Re-raise ClientDisconnect during request body reading instead of converting to HTTP 400
  fastapi/routing.py
  tests/test_client_disconnect.py
Due: local-ruff-check, local-ruff-format

Corrigir erro gramatical na documentação de ambientes virtuais
  docs/pt/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Improve translation consistency in docs/pt/docs/advanced/additional-responses.md
  docs/pt/docs/advanced/additional-responses.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Improve translation consistency in docs/pt/docs/advanced/behind-a-proxy.md
  docs/pt/docs/advanced/behind-a-proxy.md
Due: update-languages, ensure-non-translated, fix-translations

Add endpoint execution test for route /c in test_response_code_no_body.py
  tests/test_response_code_no_body.py
Due: local-ruff-check, local-ruff-format

test: cover included router handler
  tests/test_include_router_freeze_time.py
Due: local-ruff-check, local-ruff-format

📝 Fix SSE intro example to match the first tutorial's Item model
  docs/en/docs/tutorial/server-sent-events.md
Due: add-permalinks-pages, update-languages

Cover include_router and rename SSE non-generator tests to match what they assert
  tests/test_sse_non_generator.py
Due: local-ruff-check, local-ruff-format

🌐 Add Chinese translation for contributing.md and newsletter.md
  docs/zh/docs/contributing.md
  docs/zh/docs/newsletter.md
Due: update-languages, ensure-non-translated, fix-translations

🐛 Support PEP 695 TypeAliasType in Query, Form, Sequence parameters, and OpenAPI extraction
  fastapi/_compat/shared.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
  tests/test_compat.py
  tests/test_pep695_params.py
Due: local-ruff-check, local-ruff-format

Add TypeAliasType sequence compatibility fix and regression test
  fastapi/_compat/shared.py
  tests/test_dependency_pep695.py
Due: local-ruff-check, local-ruff-format

Add `ty: ignore[unused-ignore-comment]` in `cli.py`
  fastapi/cli.py
Due: local-ruff-check, local-ruff-format

Downgrade ruff and pin it to <0.16.0
  pyproject.toml
  uv.lock
Due: none

🐛 Fix optional Json[list[T]] parameters treated as repeated values
  fastapi/dependencies/utils.py
  tests/test_json_type.py
Due: local-ruff-check, local-ruff-format

test: add coverage for TypeAliasType helpers and model extraction
  tests/test_compat.py
Due: local-ruff-check, local-ruff-format

docs: add community resource references [skip ci]
  docs/community-resources.md
Due: update-languages, ensure-non-translated

test: introduce lint violation for CodeGuardian testing
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

docs: add comprehensive contribution guide for fastapi/fastapi
  docs/CONTRIBUTING_GUIDE.md
Due: update-languages, ensure-non-translated

Fix WebSocket validation error close reason to be a JSON string
  fastapi/exception_handlers.py
  tests/test_ws_router.py
Due: local-ruff-check, local-ruff-format

docs: update reference web index and resources
  README.md
Due: none

docs(hi): translate contributing, translations, and external-links to Hindi
  docs/hi/docs/contributing.md
  docs/hi/docs/external-links.md
  docs/hi/docs/translations.md
Due: update-languages, ensure-non-translated, fix-translations

Fix APIRouter routes cache invalidation
  fastapi/routing.py
  tests/test_routes_direct_mutation_cache.py
Due: local-ruff-check, local-ruff-format

Fix CI formatting and test coverage issues
  tests/test_routes_direct_mutation_cache.py
Due: local-ruff-check, local-ruff-format

Fix _RouteList insert type override
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

test: cover OAuth2AuthorizationCodeBearer optional (auto_error=False) path
  tests/test_security_oauth2_authorization_code_bearer_optional.py
Due: local-ruff-check, local-ruff-format

refactor: drop stale nocover pragma now that the branch is tested
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
