Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Downgrade ruff to 0.15.22
  uv.lock
Due: none

🐛 Fix field aliases ignored for `ServerSentEvent` data in SSE streams
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Fix exclude_unset/exclude_defaults/exclude_none not propagated to ServerSentEvent data
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🐛 Propagate response_model_include/exclude to ServerSentEvent data
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

🔥 Remove the old Latest Changes workflow
  .github/workflows/latest-changes.yml
Due: none

🔥 Remove the old Latest Changes workflow (#16148)
  .github/workflows/latest-changes.yml
Due: none

Update README to streamline FastAPI description
  README.md
Due: none

Update README to remove FastAPI description
  README.md
Due: none

Optimize cache for `test` workflow
  .github/workflows/test.yml
Due: none

Optimize cache for 3 workflows by reading `dev-all` cache
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/prepare-release.yml
Due: none

Optimize cache for `build-docs` and `deploy-docs` workflows
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

Optimize cache for GH-actions-related workflows
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

Optimize cache for `pre-commit` workflow
  .github/workflows/pre-commit.yml
  .github/workflows/warm-cache.yml
Due: none

Add `UV_NO_SYNC: true` in `publish` workflow
  .github/workflows/publish.yml
Due: none

Bump uv version in workflows
  .github/workflows/build-docs.yml
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
  .github/workflows/warm-cache.yml
Due: none

Fix possible cache collision for highest and lowest uv resolutions
  .github/workflows/test.yml
Due: none

Add `.python-version` to `build-docs` workflow's filters
  .github/workflows/build-docs.yml
Due: none

Infer body params for custom classes with object-shaped Pydantic schemas
  fastapi/_compat/__init__.py
  fastapi/_compat/shared.py
  fastapi/dependencies/utils.py
  tests/test_infer_body_custom_pydantic_types.py
Due: local-ruff-check, local-ruff-format

Update include syntax in docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/templates.md
Due: add-permalinks-pages, update-languages

Add path filters and if `org=fastapi` for `warm-cache` workflow
  .github/workflows/warm-cache.yml
Due: none

Allow `pre-commit` save cache
  .github/workflows/pre-commit.yml
Due: none

Specify `--group dev` explicitly in `warm-cache.yml`
  .github/workflows/warm-cache.yml
Due: none

👷 Disable saving Zensical `.cache` in `build-docs.yml`
  .github/workflows/build-docs.yml
Due: none

👷 Disable saving Zensical's `.cache` in `build-docs.yml` (#16156)
  .github/workflows/build-docs.yml
Due: none

Skip included routers whose prefix cannot match the request path
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔒 Replace pre-commit PAT with PR Push
  .github/pr-push.yml
  .github/workflows/pre-commit.yml
Due: none

🔒 Replace pre-commit PAT with PR Push (#16161)
  .github/pr-push.yml
  .github/workflows/pre-commit.yml
Due: none

🧪 Test PR Push
  pr-push-test.md
Due: none

👷 Use PR Push commit identity
  .github/workflows/pre-commit.yml
Due: none

👷 Use PR Push commit identity (#16164)
  .github/workflows/pre-commit.yml
Due: none

👷 Use GitHub CLI for Git authentication
  .github/workflows/pre-commit.yml
Due: none

👷 Use GitHub CLI for Git authentication (#16166)
  .github/workflows/pre-commit.yml
Due: none

🔐 Use PR Submit for pull requests
  .github/pr-submit.yml
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/prepare-release.yml
Due: none

🔐 Use PR Submit for pull requests (#16167)
  .github/pr-submit.yml
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/prepare-release.yml
Due: none

🔐 Use PR Submit for translations
  .github/pr-submit.yml
  .github/workflows/translate.yml
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

♻️ Standardize translation token variable
  .github/workflows/translate.yml
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

⬆️ Raise pytest-xdist minimum
  pyproject.toml
  uv.lock
Due: none

⬆️ Raise pytest-xdist minimum (#16170)
  pyproject.toml
  uv.lock
Due: none

🔐 Use PR Submit for translations (#16168)
  .github/pr-submit.yml
  .github/workflows/translate.yml
  scripts/translate.py
Due: local-ruff-check, local-ruff-format
