Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

test: exclude unused head helper endpoint
  tests/test_auto_head_for_get.py
Due: local-ruff-check, local-ruff-format

Upgrade uv version in workflows
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

🔧 Add context parameter to ModelField and jsonable_encoder for enhanced serialization
  fastapi/_compat/v2.py
  fastapi/encoders.py
  fastapi/routing.py
  tests/test_response_model_context.py
Due: local-ruff-check, local-ruff-format

🐛 Fix decimal_encoder crash on Decimal("sNaN") (signaling NaN)
  fastapi/encoders.py
  tests/test_jsonable_encoder.py
Due: local-ruff-check, local-ruff-format

Fix recently added typos in `release-notes`
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

✨ Add `iter_route_contexts()` for advanced use cases that used to use `router.routes` (e.g. Jupyverse)
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🔥 Remove redundant tests
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

✅ Update tests, coverage and load-bearing template
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for coverage
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

✅ Tweak coverage markers
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🔨 Update sponsors script to simplify previews
  docs/en/data/sponsors.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔨 Update sponsors script to simplify previews (#15786)
  docs/en/data/sponsors.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔧 Update sponsors: add BairesDev
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/bairesdev.svg
Due: generate-readme, update-languages

🔧 Update sponsors: add BairesDev (#15787)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/img/sponsors/bairesdev.svg
Due: generate-readme, update-languages

Fix explicit null data in server-sent events
  fastapi/routing.py
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

✨ Add `iter_route_contexts()` for advanced use cases that used to use `router.routes` (e.g. Jupyverse) (#15785)
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.137.2 (#15790)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Use `gpt-5.5` model, specify `-chat` to avoid warnings
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🔨 Use `gpt-5.5` model in `translate.py`, specify `-chat` to avoid warnings (#15792)
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

📝 Tweak wording about deploying to FastAPI Cloud
  docs/en/overrides/main.html
Due: update-languages

📝 Tweak wording about deploying to FastAPI Cloud (#15793)
  docs/en/overrides/main.html
Due: update-languages

🐛 Set anti-buffering headers on JSONL streaming responses
  fastapi/routing.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

Keep original logic to calculate fields
  fastapi/dependencies/models.py
Due: local-ruff-check, local-ruff-format

teste 1 da plataforma
  tests/main.py
Due: local-ruff-check, local-ruff-format

📝 Update docs about helping
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, update-languages

Remove "release-notes" from `extend-exclude`
  pyproject.toml
Due: none

Add regex ignore rule to skip usernames in mentions
  pyproject.toml
Due: none

Add regex to skip 2 specific cases (german word and quote)
  pyproject.toml
Due: none

Apply suggestion from @YuriiMotov
  pyproject.toml
Due: none

Sync translated pages to reflect latest chage in En versions
  docs/hi/docs/_llm-test.md
  docs/hi/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Enable Hindi docs translations (#15554)
  docs/en/mkdocs.yml
  docs/hi/docs/_llm-test.md
  docs/hi/docs/index.md
  docs/hi/docs/translation-banner.md
  docs/hi/llm-prompt.md
  docs/hi/mkdocs.yml
  pyproject.toml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated, fix-translations

✨ Add support for `app.frontend("/", directory="dist")` and `router.frontend("/", directory="dist")`
  fastapi/applications.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for `app.frontend()` and `router.frontend()`
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

📝 Add docs for Frontend
  docs/en/docs/tutorial/frontend.md
  docs/en/docs/tutorial/static-files.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

✅ Add extra test
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format

📝 Add source examples for docs
  docs_src/frontend/__init__.py
  docs_src/frontend/tutorial001_py310.py
  docs_src/frontend/tutorial002_py310.py
  docs_src/frontend/tutorial003_py310.py
  docs_src/frontend/tutorial004_py310.py
  docs_src/frontend/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format

🔧 Enable checking `release-notes.md` for typos (#15796)
  pyproject.toml
Due: none

✅ Add more tests for coverage
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format
