Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Add regression test for Annotated ForwardRef OpenAPI (issue #13056)
  tests/test_issue_13056_openapi_annotated_forwardref.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade JSON Schema generation for bytes to use contentMediaType
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

✅ Refactor OpenAPI tests to use latest JSON Schema
  tests/test_tutorial/test_request_files/test_tutorial001.py
  tests/test_tutorial/test_request_files/test_tutorial001_02.py
  tests/test_tutorial/test_request_files/test_tutorial001_03.py
  tests/test_tutorial/test_request_files/test_tutorial002.py
  tests/test_tutorial/test_request_files/test_tutorial003.py
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

♻️ Update types
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

♻️ Add bytes JSON Schema for base64
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

ci: declare explicit token permissions in project workflows
  .github/workflows/add-to-project.yml
  .github/workflows/latest-changes.yml
  .github/workflows/test-redistribute.yml
Due: none

📝 Add source example for bytes in JSON
  docs_src/json_base64_bytes/__init__.py
  docs_src/json_base64_bytes/tutorial001_py310.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

📝 Add docs for JSON with Bytes as Base64
  docs/en/docs/advanced/json-base64-bytes.md
  docs/en/docs/img/tutorial/json-base64-bytes/image01.png
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

✅ Add tests for JSON with Bytes as Base64 tutorial
  tests/test_tutorial/test_json_base64_bytes/__init__.py
  tests/test_tutorial/test_json_base64_bytes/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

♻️ Refactor JSON Schema for bytes
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

💡 Add TODO comment with reference to Pydantic counterpart
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

🔨 Add script to generate screenshot for JSON Bytes as Base64
  scripts/playwright/json_base64_bytes/image01.py
Due: local-ruff-check, local-ruff-format

🐛 Fix JSON Schema for files, use `contentMediaType` instead of `format: binary` (#14953)
  docs/en/docs/advanced/json-base64-bytes.md
  docs/en/docs/img/tutorial/json-base64-bytes/image01.png
  docs/en/mkdocs.yml
  docs_src/json_base64_bytes/__init__.py
  docs_src/json_base64_bytes/tutorial001_py310.py
  fastapi/_compat/v2.py
  fastapi/datastructures.py
  pyproject.toml
  scripts/playwright/json_base64_bytes/image01.py
  tests/test_request_params/test_file/test_list.py
  tests/test_request_params/test_file/test_optional.py
  tests/test_request_params/test_file/test_optional_list.py
  tests/test_request_params/test_file/test_required.py
  tests/test_tutorial/test_json_base64_bytes/__init__.py
  tests/test_tutorial/test_json_base64_bytes/test_tutorial001.py
  tests/test_tutorial/test_request_files/test_tutorial001.py
  tests/test_tutorial/test_request_files/test_tutorial001_02.py
  tests/test_tutorial/test_request_files/test_tutorial001_03.py
  tests/test_tutorial/test_request_files/test_tutorial002.py
  tests/test_tutorial/test_request_files/test_tutorial003.py
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.129.1
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔧 Update pyproject.toml, remove unneeded lines
  pyproject.toml
Due: none

🔥 Remove unused file
  docs_src/python_types/tutorial005_py39.py
Due: local-ruff-check, local-ruff-format

🔧 Comment filterwarnings to debug what's still needed
  pyproject.toml
Due: none

🔧 Remove unneeded filter warnings
  pyproject.toml
Due: none

🔥 Remove more unneeded lines
  .github/labeler.yml
  pyproject.toml
Due: none

🔧 Update pyproject.toml, remove unneeded lines (#14956)
  .github/labeler.yml
  docs_src/python_types/tutorial005_py39.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

➖ Drop support for `fastapi-slim`, no more versions will be released, use only `"fastapi[standard]"` or `fastapi`
  .github/labeler.yml
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

➖ Drop support for `fastapi-slim`, no more versions will be released, use only `"fastapi[standard]"` or `fastapi` (#14957)
  .github/labeler.yml
  pdm_build.py
  pyproject.toml
Due: local-ruff-check, local-ruff-format

👷 Fix CI, do not attempt to publish `fastapi-slim`
  .github/workflows/publish.yml
Due: none

👷 Fix CI, do not attempt to publish `fastapi-slim` (#14958)
  .github/workflows/publish.yml
Due: none

⬆️ Upgrade pytest
  pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade pytest (#14959)
  pyproject.toml
  uv.lock
Due: none

🔖 Release version 0.129.2
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs: migrate testing tutorial from on_event to lifespan
  docs/en/docs/advanced/async-tests.md
  docs_src/app_testing/tutorial003_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs: migrate to lifespan and update associated tests
  docs_src/app_testing/tutorial003.py
  tests/test_tutorial/test_testing/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

test: explicit imports for 100% coverage and mypy compliance
  check_params.py
  docs_src/app_testing/tutorial003.py
  tests/test_tutorial/test_testing/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

✨ Serialize JSON with Pydantic when there's a response model
  fastapi/_compat/v2.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

✅ Add test for Pydantic serialization
  tests/test_dump_json_fast_path.py
Due: local-ruff-check, local-ruff-format

Add contact email to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

📝 Update docs including new JSON serialization in Pydantic
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/tutorial/response-model.md
Due: add-permalinks-pages, update-languages

📝 Update source example to not use ORJSON
  docs_src/custom_response/tutorial010_py310.py
Due: local-ruff-check, local-ruff-format

✅ Tweak test
  tests/test_tutorial/test_custom_response/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

✅ Add extra test for custom responses
  tests/test_tutorial/test_custom_response/test_tutorial010.py
Due: local-ruff-check, local-ruff-format

📝 Add How To docs to optimize response performance
  docs/en/docs/how-to/general.md
Due: add-permalinks-pages, update-languages

✨ Serialize JSON response with Pydantic (in Rust), when there's a Pydantic return type or response model (#14962)
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/how-to/general.md
  docs/en/docs/tutorial/response-model.md
  docs_src/custom_response/tutorial010_py310.py
  fastapi/_compat/v2.py
  fastapi/routing.py
  tests/test_dump_json_fast_path.py
  tests/test_tutorial/test_custom_response/test_tutorial010.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages
