Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Pass None instead of the default value to parameters that accept it when null is given
  fastapi/dependencies/utils.py
  tests/test_none_passed_when_null_received.py
Due: local-ruff-check, local-ruff-format

fix Python version check
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

make compatible with Python <3.10 and Pydantic v1
  fastapi/dependencies/utils.py
  tests/test_none_passed_when_null_received.py
Due: local-ruff-check, local-ruff-format

make tests compatible with Python 3.8 and 3.9
  tests/test_none_passed_when_null_received.py
Due: local-ruff-check, local-ruff-format

add test for full coverage
  tests/test_none_passed_when_null_received.py
Due: local-ruff-check, local-ruff-format

update required field test for Pydantic v1
  tests/test_none_passed_when_null_received.py
Due: local-ruff-check, local-ruff-format

add test for required field and passing null
  tests/test_none_passed_when_null_received.py
Due: local-ruff-check, local-ruff-format

update to make work with latest master changes
  fastapi/_compat/__init__.py
  fastapi/_compat/v2.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

📝 Update docs source example for streaming data
  docs_src/stream_data/tutorial002_py310.py
Due: local-ruff-check, local-ruff-format

📝 Update docs for responses, raise priority to new streaming data interface
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/advanced/stream-data.md
Due: add-permalinks-pages, update-languages

✅ Update test for streaming tutorial
  tests/test_tutorial/test_stream_data/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

📝 Update docs for responses and new stream with `yield` (#15023)
  docs/en/docs/advanced/custom-response.md
  docs/en/docs/advanced/response-directly.md
  docs/en/docs/advanced/stream-data.md
  docs_src/stream_data/tutorial002_py310.py
  tests/test_tutorial/test_stream_data/test_tutorial002.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update Library Agent Skill
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Update Library Agent Skill with streaming responses (#15024)
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Update release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🔖 Release version 0.134.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs: fix duplicated word in OAuth2 docstring
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

docs: revert code-file change to satisfy docs labeling gate
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

docs: fix duplicated word in release notes entry
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Add additional invalid container response_model test cases
  tests/test_response_model_invalid.py
Due: local-ruff-check, local-ruff-format

fix(forms): keep omitted model defaults out of fields_set
  fastapi/dependencies/utils.py
  tests/test_forms_single_model.py
Due: local-ruff-check, local-ruff-format

feat: add translation for pt
  docs/pt/docs/contributing.md
Due: update-languages, ensure-non-translated, fix-translations

✨ Add support for Server Sent Events
  fastapi/openapi/utils.py
  fastapi/responses.py
  fastapi/routing.py
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

🔧 Update Ruff ignores
  pyproject.toml
Due: none

♻️ Refactor ServerSentEvent to use id: str
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

📝 Add source docs for server sent events
  docs_src/server_sent_events/__init__.py
  docs_src/server_sent_events/tutorial001_py310.py
  docs_src/server_sent_events/tutorial002_py310.py
  docs_src/server_sent_events/tutorial003_py310.py
  docs_src/server_sent_events/tutorial004_py310.py
  docs_src/server_sent_events/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format

📝 Add docs for Server Sent Events
  docs/en/docs/tutorial/server-sent-events.md
  docs/en/docs/tutorial/stream-json-lines.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

✅ Add tests for SSE docs src
  tests/test_tutorial/test_server_sent_events/__init__.py
  tests/test_tutorial/test_server_sent_events/test_tutorial001.py
  tests/test_tutorial/test_server_sent_events/test_tutorial002.py
  tests/test_tutorial/test_server_sent_events/test_tutorial003.py
  tests/test_tutorial/test_server_sent_events/test_tutorial004.py
  tests/test_tutorial/test_server_sent_events/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for SSE
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

📝 Update Skill for Server Sent Events
  fastapi/.agents/skills/fastapi/SKILL.md
Due: none

📝 Clarify that the keep alive coment is `ping`
  docs/en/docs/tutorial/server-sent-events.md
Due: add-permalinks-pages, update-languages

📝 Add notes of when were features added for SSE JSONL and streaming data
  docs/en/docs/advanced/stream-data.md
  docs/en/docs/tutorial/server-sent-events.md
  docs/en/docs/tutorial/stream-json-lines.md
Due: add-permalinks-pages, update-languages

✨ Add support for Server Sent Events (#15030)
  docs/en/docs/advanced/stream-data.md
  docs/en/docs/tutorial/server-sent-events.md
  docs/en/docs/tutorial/stream-json-lines.md
  docs/en/mkdocs.yml
  docs_src/server_sent_events/__init__.py
  docs_src/server_sent_events/tutorial001_py310.py
  docs_src/server_sent_events/tutorial002_py310.py
  docs_src/server_sent_events/tutorial003_py310.py
  docs_src/server_sent_events/tutorial004_py310.py
  docs_src/server_sent_events/tutorial005_py310.py
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/openapi/utils.py
  fastapi/responses.py
  fastapi/routing.py
  fastapi/sse.py
  pyproject.toml
  tests/test_sse.py
  tests/test_tutorial/test_server_sent_events/__init__.py
  tests/test_tutorial/test_server_sent_events/test_tutorial001.py
  tests/test_tutorial/test_server_sent_events/test_tutorial002.py
  tests/test_tutorial/test_server_sent_events/test_tutorial003.py
  tests/test_tutorial/test_server_sent_events/test_tutorial004.py
  tests/test_tutorial/test_server_sent_events/test_tutorial005.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.135.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update Skill, optimize context, trim and refactor into references
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/references/dependencies.md
  fastapi/.agents/skills/fastapi/references/other-tools.md
  fastapi/.agents/skills/fastapi/references/streaming.md
Due: none

📝 Update Skill, optimize context, trim and refactor into references (#15031)
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/references/dependencies.md
  fastapi/.agents/skills/fastapi/references/other-tools.md
  fastapi/.agents/skills/fastapi/references/streaming.md
Due: none

👥 Update FastAPI GitHub topic repositories (#15036)
  docs/en/data/topic_repos.yml
Due: update-languages

👥 Update FastAPI People - Contributors and Translators (#15029)
  docs/en/data/contributors.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
Due: update-languages
