Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🔐 Use PR Submit for automated updates
  .github/pr-submit.yml
  .github/workflows/sponsors.yml
  .github/workflows/topic-repos.yml
  scripts/sponsors.py
  scripts/topic_repos.py
Due: local-ruff-check, local-ruff-format

🔐 Use PR Submit for automated updates (#16172)
  .github/pr-submit.yml
  .github/workflows/sponsors.yml
  .github/workflows/topic-repos.yml
  scripts/sponsors.py
  scripts/topic_repos.py
Due: local-ruff-check, local-ruff-format

🐛 Fix Sponsors Git authentication
  .github/workflows/sponsors.yml
  scripts/sponsors.py
Due: local-ruff-check, local-ruff-format

🐛 Fix Sponsors Git authentication (#16174)
  .github/workflows/sponsors.yml
  scripts/sponsors.py
Due: local-ruff-check, local-ruff-format

🐛 Fix scope["route"].path/.path_format to include include_router() prefixes
  fastapi/routing.py
  tests/test_route_scope.py
Due: local-ruff-check, local-ruff-format

Fix branch name `main` -> `master`
  .github/workflows/zizmor.yml
Due: none

Add return type annotation to redirect_pydantic
  docs_src/custom_response/tutorial006c_py310.py
Due: local-ruff-check, local-ruff-format

👷 Remove legacy label check
  .github/workflows/labeler.yml
Due: none

👷 Remove legacy label check (#16180)
  .github/workflows/labeler.yml
Due: none

fix: 修正 Zizmor 工作流默认分支
  .github/workflows/zizmor.yml
Due: none

👷 Fix branch name in `zizmor.yml` workflow (`main` -> `master`) (#16178)
  .github/workflows/zizmor.yml
Due: none

SEO auto-fixes for audit ae15c13a
  pyproject.toml
Due: none

👷 Migrate automatic labels to Latest Changes
  .github/labeler.yml
  .github/latest-changes.yml
  .github/workflows/labeler.yml
Due: none

👷 Migrate automatic labels to Latest Changes (#16185)
  .github/labeler.yml
  .github/latest-changes.yml
  .github/workflows/labeler.yml
Due: none

fix: escape double quotes in HTTPBasic realm to prevent malformed WWW‑Authenticate header
  fastapi/security/http.py
Due: local-ruff-check, local-ruff-format

Update README.md
  README.md
Due: none

Fix SSE dispatch selecting the streaming branch for non-generator endpoints
  fastapi/routing.py
  tests/test_sse_non_generator.py
Due: local-ruff-check, local-ruff-format

♻️ Remove conf section and add event banner
  README.md
  docs/en/docs/css/custom.css
  docs/en/docs/index.md
  docs/en/overrides/main.html
  docs/en/overrides/partials/conf-rail.html
Due: add-permalinks-pages, generate-readme, update-languages

♻️ Remove language support
  docs/en/overrides/partials/conf-rail.html
Due: update-languages

♻️ Remove conf section and add event banner (#16193)
  README.md
  docs/en/docs/css/custom.css
  docs/en/docs/index.md
  docs/en/overrides/main.html
  docs/en/overrides/partials/conf-rail.html
Due: add-permalinks-pages, generate-readme, update-languages

🔥 Remove unused image
  docs/en/docs/img/fastapi-conf.jpeg
Due: update-languages

🔥 Remove unused image (#16195)
  docs/en/docs/img/fastapi-conf.jpeg
Due: update-languages

📱 Improve mobile responsiveness of conference rail
  docs/en/docs/css/custom.css
  docs/en/overrides/main.html
  docs/en/overrides/partials/conf-rail.html
Due: update-languages

📱 Improve mobile responsiveness of conference rail (#16196)
  docs/en/docs/css/custom.css
  docs/en/overrides/main.html
  docs/en/overrides/partials/conf-rail.html
Due: update-languages

Support dotted client-side paths in app.frontend index.html fallback (#16010)
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Restore APIRoute.tags type annotation for type checkers (#15764)
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

test: add test for dotted client-side paths in app.frontend fallback (#16010)
  tests/test_application.py
Due: local-ruff-check, local-ruff-format

test: add test for APIRoute.tags attribute access (#15764)
  tests/test_custom_route_class.py
Due: local-ruff-check, local-ruff-format

⏪️ Restore `commit_in_place` input in `translate.yml`
  .github/workflows/translate.yml
Due: none

Fix `config option 'timeout' expects a float, got str`
  pyproject.toml
Due: none

Bump `pytest-timeout` to 2.5.0
  uv.lock
Due: none

Bump `pytest-timeout` to 2.5.0 in `pyproject.toml`
  pyproject.toml
  uv.lock
Due: none

Restore `commit_in_place` in `translate.py`
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

⏪️ Restore `commit_in_place` input in `translate.yml` (#16216)
  .github/workflows/translate.yml
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

👷 Update translation PR branches with PR Push
  .github/pr-push.yml
  .github/workflows/translate.yml
  scripts/translate.py
  scripts/translation_git.py
  tests/test_translate.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
