Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

✏️ Fix typo in `docs/en/docs/_llm-test.md` (#15007)
  docs/en/docs/_llm-test.md
Due: add-permalinks-pages, update-languages

🐛 Fix, avoid yield from a TaskGroup, only as an async context manager, closed in the request async exit stack
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

ci fixes
  fastapi/routing.py
  tests/test_route_deferred_init.py
Due: local-ruff-check, local-ruff-format

Document Response subclasses from return annotation in OpenAPI
  fastapi/openapi/utils.py
  fastapi/routing.py
  tests/test_response_class_as_return_annotation.py
  tests/test_response_model_as_return_annotation.py
  tests/test_tutorial/test_response_model/test_tutorial003_02.py
  tests/test_tutorial/test_response_model/test_tutorial003_03.py
  tests/test_tutorial/test_response_model/test_tutorial003_04.py
Due: local-ruff-check, local-ruff-format

fix: response_classes type consistency
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

Add lazy initialize support for OAuth2 bearer schemes
  fastapi/security/oauth2.py
  tests/test_security_oauth2_lazy_initialization.py
Due: local-ruff-check, local-ruff-format

Fix OAuth2 flow setter typing for pre-commit
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format

Fix race condition in test
  tests/test_tutorial/test_custom_docs_ui/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

Removed French
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

Testbot yaml file for removing French
  .github/workflows/skyramp-testbot.yml
Due: none

📝 Add dates to release notes (#15001)
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

📝 Fix doctrings for `max_digits` and `decimal_places` (#14944)
  fastapi/param_functions.py
Due: local-ruff-check, local-ruff-format

class_response fix to match the code example below
  docs/ru/docs/advanced/custom-response.md
Due: update-languages, ensure-non-translated, fix-translations

Full translation of the stream-data page (this and previous commit - fully working versions, that have been tested locally)
  docs/ru/docs/advanced/stream-data.md
Due: update-languages, ensure-non-translated, fix-translations

docs: fix grammar in additional-status-codes.md
  docs/en/docs/advanced/additional-status-codes.md
Due: add-permalinks-pages, update-languages

📌 Pin Click for MkDocs live reload
  pyproject.toml
  uv.lock
Due: none

📌 Pin Click for MkDocs live reload (#15057)
  pyproject.toml
  uv.lock
Due: none

📝 Tweak docs
  docs/en/docs/editor-support.md
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

📝 Add documentation for the FastAPI VS Code extension (#15008)
  docs/en/docs/editor-support.md
  docs/en/docs/tutorial/index.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

💄 Update styles for internal and external links in new tab
  docs/en/docs/css/custom.css
Due: update-languages

💄 Update styles for internal and external links in new tab (#15058)
  docs/en/docs/css/custom.css
Due: update-languages

🔨 Update script to autofix permalinks to account for headers with Markdown links
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔨 Add JS and CSS handling for automatic target=_blank for links in docs
  docs/en/docs/css/custom.css
  docs/en/docs/js/custom.js
Due: update-languages

🔨 Update script to autofix permalinks to account for headers with Markdown links (#15062)
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔨 Add JS and CSS handling for automatic `target=_blank` for links in docs (#15063)
  docs/en/docs/css/custom.css
  docs/en/docs/js/custom.js
Due: update-languages

Update schema for UploadFile (add `format: binary`)
  fastapi/_compat/v2.py
  fastapi/datastructures.py
  tests/test_request_params/test_file/test_list.py
  tests/test_request_params/test_file/test_optional.py
  tests/test_request_params/test_file/test_optional_list.py
  tests/test_request_params/test_file/test_required.py
  tests/test_tutorial/test_request_files/test_tutorial001.py
  tests/test_tutorial/test_request_files/test_tutorial001_02.py
  tests/test_tutorial/test_request_files/test_tutorial001_03.py
  tests/test_tutorial/test_request_files/test_tutorial002.py
  tests/test_tutorial/test_request_files/test_tutorial003.py
  tests/test_tutorial/test_request_forms_and_files/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

✨ Add per-router exception handlers for APIRouter
  docs/en/docs/advanced/router-exception-handlers.md
  docs/en/docs/reference/apirouter.md
  docs/en/docs/tutorial/handling-errors.md
  docs/en/mkdocs.yml
  docs_src/handling_errors/tutorial007_py310.py
  docs_src/handling_errors/tutorial008_py310.py
  fastapi/routing.py
  tests/test_router_exception_handlers.py
  tests/test_tutorial/test_handling_errors/test_tutorial007.py
  tests/test_tutorial/test_handling_errors/test_tutorial008.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Started Bangla/Bengali Documtation Support
  docs/bn/docs/index.md
  docs/bn/llm-prompt.md
  docs/bn/mkdocs.yml
Due: update-languages, ensure-non-translated, fix-translations

Added Natural sounding Bangla
  docs/bn/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Fix schema for `byte` fields inside JSON (do not add `"format": "binary"`)
  fastapi/_compat/v2.py
  fastapi/params.py
Due: local-ruff-check, local-ruff-format

Fix typing issue
  fastapi/params.py
Due: local-ruff-check, local-ruff-format

fix: deterministic operationId when route has multiple methods fixes #13175
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Fix duplicate operation IDs for routes with multiple methods
  fastapi/openapi/utils.py
  tests/test_multiple_methods_unique_id.py
Due: local-ruff-check, local-ruff-format

📝 Add docs for `pyproject.toml` with `entrypoint`
  README.md
  docs/en/docs/advanced/sub-applications.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, generate-readme, update-languages

📝 Add docs for `pyproject.toml` with `entrypoint` (#15075)
  README.md
  docs/en/docs/advanced/sub-applications.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, generate-readme, update-languages
