Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

fix: remediate 1 vulnerability(ies) in docs_src/wsgi/tutorial001_py310.py
  docs_src/wsgi/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in docs_src/query_params_str_validations/tutorial015_an_py310.py
  docs_src/query_params_str_validations/tutorial015_an_py310.py
Due: local-ruff-check, local-ruff-format

fix: remediate 2 vulnerability(ies) in docs_src/response_cookies/tutorial001_py310.py
  docs_src/response_cookies/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in tests/benchmarks/test_general_performance.py
  tests/benchmarks/test_general_performance.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in tests/benchmarks/test_openapi.py
  tests/benchmarks/test_openapi.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in tests/memory_benchmarks/test_dependency_graph.py
  tests/memory_benchmarks/test_dependency_graph.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in tests/memory_benchmarks/test_openapi.py
  tests/memory_benchmarks/test_openapi.py
Due: local-ruff-check, local-ruff-format

fix: remediate 1 vulnerability(ies) in tests/memory_benchmarks/test_route_dependency_graph.py
  tests/memory_benchmarks/test_route_dependency_graph.py
Due: local-ruff-check, local-ruff-format

T1: sandbox GET summary + supervised session log
  sandbox/log_summariser/README.md
  sandbox/log_summariser/__init__.py
  sandbox/log_summariser/app/__init__.py
  sandbox/log_summariser/app/main.py
  sandbox/log_summariser/tests/__init__.py
  sandbox/log_summariser/tests/test_get_summary.py
  sessions/T1/session-log.md
Due: local-ruff-check, local-ruff-format

K5.D.8: add independent tests + adjudication (T1)
  sandbox/__init__.py
  sandbox/log_summariser/tests/test_get_summary_independent.py
  sessions/T1/isolated-test-paste-packet.txt
  sessions/T1/session-log.md
Due: local-ruff-check, local-ruff-format

⬆️ Bump astral-sh/setup-uv from 9.0.0 to 10.0.1
  .github/workflows/build-docs.yml
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

♻️ Use uv version "latest-known" in setup-uv steps
  .github/workflows/build-docs.yml
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

Review fixes: remove BOMs (T1 sandbox/tests/logs)
  reviews/T1/review.md
  sandbox/log_summariser/README.md
  sandbox/log_summariser/app/main.py
  sandbox/log_summariser/tests/test_get_summary.py
  sandbox/log_summariser/tests/test_get_summary_independent.py
  sessions/T1/isolated-test-paste-packet.txt
  sessions/T1/session-log.md
Due: local-ruff-check, local-ruff-format

Add spec + audit (multi-tenant-log-summariser)
  specs/multi-tenant-log-summariser/audit.md
  specs/multi-tenant-log-summariser/spec.md
Due: none

🔧 Enable uv cache in Smokeshow workflow explicitly
  .github/workflows/smokeshow.yml
Due: none

Adversarial pass: record findings + restrict job_status
  reviews/T1/review.md
  sandbox/log_summariser/app/main.py
Due: local-ruff-check, local-ruff-format

Keep adversarial artefacts (diff/spec/tests snapshot)
  reviews/T1/adversarial/clipboard-check.txt
  reviews/T1/adversarial/diff.txt
  reviews/T1/adversarial/independent-tests.txt
  reviews/T1/adversarial/packet.txt
  reviews/T1/adversarial/seven-lens-review.txt
  reviews/T1/adversarial/spec.txt
Due: none

Revert "🔧 Enable uv cache in Smokeshow workflow explicitly"
  .github/workflows/smokeshow.yml
Due: none

⬆️ Bump `setup-uv` action to `10.0.1` (#16249)
  .github/workflows/build-docs.yml
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

🐛 Fix response_model_* serialization flags ignored when response_field or stream_item_field is None
  fastapi/routing.py
  tests/test_serialize_response_without_field.py
Due: local-ruff-check, local-ruff-format

Revert "Add `.python-version` to `build-docs` workflow's filters"
  .github/workflows/build-docs.yml
Due: none

👷 Give `translate` workflow its own uv cache suffix
  .github/workflows/translate.yml
Due: none

Bump `astral-sh/setup-uv` to 10.0.1 in `warm-cache`
  .github/workflows/warm-cache.yml
Due: none

⬆️ Bump typer min version to 0.26.1
  pyproject.toml
  uv.lock
Due: none

⬆️ Bump Typer min version to 0.26.1 (#16252)
  pyproject.toml
  uv.lock
Due: none

fix: escape docs UI template values
  fastapi/openapi/docs.py
  tests/test_swagger_ui_escape.py
Due: local-ruff-check, local-ruff-format

fix: compare multipart version numerically in ensure_multipart_is_installed
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

fix: set X-Accel-Buffering on JSONL streaming responses
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

docs: clarify websocket await wording
  docs/en/docs/advanced/websockets.md
Due: add-permalinks-pages, update-languages

⬆️ Bump Typer min version to `0.26.1`
  pyproject.toml
  uv.lock
Due: none

fix: strip path converter suffix in get_path_param_names
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: add format binary to bytes schema for OAS 3.0 compatibility
  fastapi/_compat/v2.py
Due: local-ruff-check, local-ruff-format

fix: preserve model_fields_set for Form models
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

🐛 Fix `format_sse_event` dropping the event terminator when no field is set
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Log ResponseValidationError from streaming endpoint serializers
  fastapi/routing.py
  tests/test_stream_response_validation_error.py
Due: local-ruff-check, local-ruff-format

📝 Fix broken OpenAPI spec anchor link in path-operation-advanced-configuration.md
  docs/en/docs/advanced/path-operation-advanced-configuration.md
Due: add-permalinks-pages, update-languages

🧪 Bump `re-actors/alls-green` to v1.3.0
  .github/workflows/test.yml
Due: none

﻿fix(docs): strip HTML tags from termynal copy content
  docs/en/docs/js/custom.js
Due: update-languages

Fix router field build with frozen time
  fastapi/routing.py
  tests/test_include_router_freeze_time.py
Due: local-ruff-check, local-ruff-format

fix: add freezegun test dependency
  pyproject.toml
  uv.lock
Due: none
