Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

Move JSONL router test to test_stream_bare_type, add default_response_class tests
  tests/test_sse.py
  tests/test_stream_bare_type.py
Due: local-ruff-check, local-ruff-format

🐛 Fix stream schema lost when using include_router()
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Add tests for response_model_* params with non-generator Iterable return type
  tests/test_skip_defaults.py
Due: local-ruff-check, local-ruff-format

Move blocks down
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix response_model being set to None for non-generator endpoints
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔧 Add ty configs to check docs sources
  .pre-commit-config.yaml
  pyproject.toml
  scripts/lint.sh
Due: none

🔧 Add ty configs to check docs sources (#15769)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/lint.sh
Due: none

🔧 Update config with new udpated types
  .pre-commit-config.yaml
  scripts/lint.sh
Due: none

🔥 Remove unused scripts
  scripts/coverage.sh
  scripts/format.sh
  scripts/lint.sh
  scripts/test-cov-html.sh
Due: none

🔥 Remove unused scripts (#15771)
  scripts/coverage.sh
  scripts/format.sh
  scripts/lint.sh
  scripts/test-cov-html.sh
Due: none

Apply suggestions from code review
  docs/ru/docs/advanced/events.md
  docs/ru/docs/tutorial/bigger-applications.md
  docs/ru/docs/tutorial/response-model.md
Due: update-languages, ensure-non-translated, fix-translations

Revert removing back-ticks and replacing quotes
  docs/de/docs/advanced/custom-response.md
Due: update-languages, ensure-non-translated, fix-translations

Apply suggestion from @YuriiMotov
  docs/zh-hant/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations

🐛 Fix response model serialization options for SSE fallback data
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

⏪️ Revert removing scripts, only remove `coverage.sh`
  scripts/format.sh
  scripts/lint.sh
  scripts/test-cov-html.sh
Due: none

⏪️ Revert removing scripts, only remove `coverage.sh` (#15772)
  scripts/format.sh
  scripts/lint.sh
  scripts/test-cov-html.sh
Due: none

Fix typos in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

fix: include implicit HEAD in allow header
  fastapi/routing.py
  tests/test_auto_head_for_get.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

test: cover implicit HEAD allow response
  tests/test_auto_head_for_get.py
Due: local-ruff-check, local-ruff-format

🌐 Fix broken Markdown in Korean custom response docs
  docs/ko/docs/advanced/custom-response.md
Due: update-languages, ensure-non-translated, fix-translations

Fix typo in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🌐 Fix broken Markdown in Korean custom response docs (#15774)
  docs/ko/docs/advanced/custom-response.md
Due: update-languages, ensure-non-translated, fix-translations

test: cover methodless included route context
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

test: simplify included route method check for coverage
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

test: avoid wrapped method coverage branch
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

test: cover head helper without methods
  tests/test_auto_head_for_get.py
Due: local-ruff-check, local-ruff-format

Fix commit hash and version tag
  .pre-commit-config.yaml
Due: none
