Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

Move `translation-banner.md` inside `docs` directory
  docs/en/docs/translation-banner.md
  docs/ru/docs/translation-banner.md
  scripts/mkdocs_hooks.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

📝 Fix dependency installation command in `docs/en/docs/contributing.md` (#14757)
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

📝 Update embedded code examples to Python 3.10 syntax (#14758)
  README.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/body-multiple-params.md
Due: add-permalinks-pages, generate-readme, update-languages

📝 Add links to related sections of docs to docstrings (#14776)
  docs/en/docs/reference/request.md
  docs/en/docs/reference/response.md
  docs/en/docs/reference/responses.md
  docs/en/docs/reference/security/index.md
  docs/en/docs/reference/websockets.md
  fastapi/applications.py
  fastapi/exceptions.py
  fastapi/openapi/docs.py
  fastapi/param_functions.py
  fastapi/security/oauth2.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Fix duplicate word in advanced-dependencies.md
  docs/en/docs/advanced/advanced-dependencies.md
Due: add-permalinks-pages, update-languages

🐛 Fix OpenAPI duplication of `anyOf` refs for app-level responses with specified `content` and `model` as `Union` (#14463)
  fastapi/openapi/utils.py
  tests/test_additional_responses_union_duplicate_anyof.py
Due: local-ruff-check, local-ruff-format

🚸 Improve error message for invalid query parameter type annotations (#14479)
  fastapi/dependencies/utils.py
  tests/test_invalid_sequence_param.py
Due: local-ruff-check, local-ruff-format

📝 Add banner to translated pages (#14809)
  docs/en/docs/translation-banner.md
  docs/ru/docs/translation-banner.md
  scripts/mkdocs_hooks.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

📝 Fix example of license identifier in documentation (#14492)
  docs_src/metadata/tutorial001_1_py39.py
  tests/test_tutorial/test_metadata/test_tutorial001_1.py
Due: local-ruff-check, local-ruff-format

📝 Fix typing issue in `docs_src/app_testing/app_b` code example (#14573)
  docs_src/app_testing/app_b_an_py310/main.py
  docs_src/app_testing/app_b_an_py39/main.py
  docs_src/app_testing/app_b_py310/main.py
  docs_src/app_testing/app_b_py39/main.py
Due: local-ruff-check, local-ruff-format

🏷️ Re-export `IncEx` type from Pydantic instead of duplicating it (#14641)
  fastapi/types.py
Due: local-ruff-check, local-ruff-format

✨ Add `viewport` meta tag to improve Swagger UI on mobile devices (#14777)
  fastapi/openapi/docs.py
Due: local-ruff-check, local-ruff-format

🐛 Strip whitespaces from `Authorization` header credentials (#14786)
  fastapi/security/utils.py
  tests/test_security_http_base.py
  tests/test_security_oauth2_authorization_code_bearer.py
Due: local-ruff-check, local-ruff-format

🐛 Fix TYPE_CHECKING annotations for Python 3.14 (PEP 649) (#14789)
  fastapi/dependencies/utils.py
  tests/test_stringified_annotation_dependency_py314.py
  tests/test_tutorial/test_dependencies/test_tutorial008.py
  tests/utils.py
Due: local-ruff-check, local-ruff-format

🎨 Tweak types for mypy
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

🎨 Tweak types for mypy (#14816)
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

📝 Update docs for contributing translations, simplify title
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

Update `uv.lock`
  uv.lock
Due: none

📝 Update docs for contributing translations, simplify title (#14817)
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

🐛 Fix translation script commit in place
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🐛 Fix translation script commit in place (#14818)
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

added dependency graph
  .claude/settings.local.json
  fastapi/applications.py
  fastapi/background.py
  fastapi/debug.py
  fastapi/dependencies/utils.py
  fastapi/routing.py
  tests/test_background_tasks_bugs.py
  tests/test_background_tasks_fixes.py
  tests/test_cleanup_order.py
  tests/test_dependency_debug.py
Due: local-ruff-check, local-ruff-format

🌐 Improve LLM prompt of `uk` documentation (#14795)
  docs/uk/llm-prompt.md
Due: update-languages, ensure-non-translated

⬇️ Downgrade LLM translations model to GPT-5 to reduce mistakes
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

⬇️ Downgrade LLM translations model to GPT-5 to reduce mistakes (#14823)
  scripts/translate.py
Due: local-ruff-check, local-ruff-format

🔨 Update docs and translations scripts, enable Turkish
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔖 Release version 0.128.1
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔨 Update docs and translations scripts, enable Turkish (#14824)
  docs/en/mkdocs.yml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🐛 Fix duplicate operationId when using multiple methods on same route
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for unique operationId with multiple methods
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

14811: Fix the order for the submitted form data
  fastapi/dependencies/utils.py
  tests/test_list_bytes_file_order_preserved_issue_14811.py
Due: local-ruff-check, local-ruff-format

Add notes about nullability and default for Path parameters
  tests/test_request_params/test_path/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add tests for nullable Form parameter with\without default
  tests/test_request_params/test_form/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add tests for nullable File parameter with\without default
  tests/test_request_params/test_file/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add tests for nullable Body parameter with\without default
  tests/test_request_params/test_body/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Check call args for empty string with Form
  tests/test_request_params/test_form/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add BeforeValidator to Body tests
  tests/test_request_params/test_body/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Add tests for nullable query parameter with\without default
  tests/test_request_params/test_query/test_nullable_and_defaults.py
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
