Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🌐 Update translations for zh (add-missing) (#15175)
  docs/zh/docs/advanced/json-base64-bytes.md
  docs/zh/docs/advanced/stream-data.md
  docs/zh/docs/advanced/strict-content-type.md
  docs/zh/docs/editor-support.md
  docs/zh/docs/tutorial/server-sent-events.md
  docs/zh/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh-hant (add-missing) (#15176)
  docs/zh-hant/docs/advanced/json-base64-bytes.md
  docs/zh-hant/docs/advanced/stream-data.md
  docs/zh-hant/docs/advanced/strict-content-type.md
  docs/zh-hant/docs/editor-support.md
  docs/zh-hant/docs/tutorial/server-sent-events.md
  docs/zh-hant/docs/tutorial/stream-json-lines.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/zh-hant/docs/advanced/security/index.md
  docs/zh-hant/docs/deployment/server-workers.md
  docs/zh-hant/docs/tutorial/security/simple-oauth2.md
Due: update-languages, ensure-non-translated, fix-translations

Fix using translation fixer tool
  docs/zh/docs/advanced/security/oauth2-scopes.md
  docs/zh/docs/deployment/server-workers.md
  docs/zh/docs/tutorial/metadata.md
Due: update-languages, ensure-non-translated, fix-translations

Fix typo and improve explanation in dependency docs
  docs/en/docs/features.md
Due: add-permalinks-pages, update-languages

Improve grammar and clarity in help-fastapi documentation
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

Improve grammar and clarity across documentation files
  docs/en/docs/alternatives.md
Due: add-permalinks-pages, update-languages

Add edge case tests for Query parameters (empty, special chars, unicode)
  tests/test_ambiguous_params.py
Due: local-ruff-check, local-ruff-format

- Fix deprecated parameter handling in APIRouter methods
  fastapi/routing.py
  tests/test_include_router_defaults_overrides.py
Due: local-ruff-check, local-ruff-format

feat: add russian translation of contributing page
  docs/ru/docs/contributing.md
Due: update-languages, ensure-non-translated, fix-translations

Add test-query-invalid-test for validation
  tests/test_ambiguous_params.py
Due: local-ruff-check, local-ruff-format

✨ Make ServerSentEvent generic with typed data field
  docs_src/server_sent_events/tutorial006_py310.py
  fastapi/routing.py
  fastapi/sse.py
  tests/test_sse.py
  tests/test_tutorial/test_server_sent_events/test_tutorial006.py
Due: local-ruff-check, local-ruff-format

fix: reject newline characters in SSE event and id fields
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

📝 Add documentation section for typed ServerSentEvent[Data]
  docs/en/docs/tutorial/server-sent-events.md
Due: add-permalinks-pages, update-languages

fix: add null-byte protection to SSE 'event' field for symmetry with 'id'
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

docs: clarify behavior of required nullable query parameters
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

docs: add gitcgr code graph badge
  README.md
Due: none

🐛 Fix mypy [type-arg] error by giving Data TypeVar a default of Any
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

Fix duplicate operation IDs for routes with multiple methods
  fastapi/openapi/utils.py
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

Fix: clarify 'Required, can be None' query parameter docs
  docs/en/docs/tutorial/query-params-str-validations.md
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006c.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

✅ Remove unreachable guard in get_sse_data_type; add subclass coverage test
  fastapi/sse.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

✅ Cover line 438: actually stream _bare_stream in openapi schema test
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

feat!: pin starlette to >=0.48.0
  pyproject.toml
  uv.lock
Due: none

chore: use HTTP_422_UNPROCESSABLE_CONTENT instead of literal 422
  docs_src/handling_errors/tutorial005_py310.py
  fastapi/exception_handlers.py
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

fix: use correct code include syntax in python-types.md
  docs/en/docs/python-types.md
Due: add-permalinks-pages, update-languages

Apply suggestions from Yurii
  tests/test_schema_compat_pydantic_v2.py
Due: local-ruff-check, local-ruff-format

Move JSONL router test to test_stream_bare_type, add default_response_class tests
  tests/test_sse.py
  tests/test_stream_bare_type.py
Due: local-ruff-check, local-ruff-format

force fastar 0.9.0 or above
  pyproject.toml
  uv.lock
Due: none

disable lowest-direct test for now
  .github/workflows/test.yml
Due: none

add a test configuration that installs ujson/orjson and checks the deprecated tests
  .github/workflows/test.yml
Due: none

use str throughout
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

ensure coverage files are unique based on deprecated-tests setting
  .github/workflows/test.yml
Due: none

Update docs for contributors and team members regarding translation PRs
  docs/en/docs/contributing.md
  docs/en/docs/management-tasks.md
Due: add-permalinks-pages, update-languages

⬆️ Increase lower bound to `pydantic >=2.9.0.` and fix the test suite (#15139)
  .github/workflows/test.yml
  pyproject.toml
  tests/test_schema_compat_pydantic_v2.py
  tests/test_union_body_discriminator.py
  uv.lock
Due: local-ruff-check, local-ruff-format

test lowest boundaries for 3.14t
  .github/workflows/test.yml
Due: none

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
