Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

🐛 Swallow BrokenResource/ClosedResource in SSE keepalive on client disconnect
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

Spanish translation for docs/es/docs/management.md
  docs/es/docs/management.md
Due: update-languages, ensure-non-translated, fix-translations

Spanish translation for docs/es/docs/tutorial/frontend.md
  docs/es/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🔧 Update sponsors: Add TestMu again
  docs/en/data/sponsors.yml
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, generate-readme, update-languages

🔧 Update sponsors: Add TestMu again (#15830)
  docs/en/data/sponsors.yml
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, generate-readme, update-languages

⬆️ Update issue-manager to 0.7.0
  .github/workflows/issue-manager.yml
Due: none

Add standardized pagination utilities
  fastapi/.attribution.json
  fastapi/pagination.py
  tests/test_pagination.py
Due: local-ruff-check, local-ruff-format

⬆️ Update issue-manager to 0.7.0 (#15831)
  .github/workflows/issue-manager.yml
Due: none

Update issue-manager to 0.7.1
  .github/workflows/issue-manager.yml
Due: none

👷 Update issue-manager to 0.7.1 (#15833)
  .github/workflows/issue-manager.yml
Due: none

fix: V-002 security vulnerability
  docs_src/security/tutorial004_an_py310.py
Due: local-ruff-check, local-ruff-format

fix: tutorial code contains a hardcoded jwt secret k... in tutorial00...
  tests/test_invariant_tutorial004_an_py310.py
Due: local-ruff-check, local-ruff-format

fix: jwt implementation lacks validation for expirat... in tutorial00...
  tests/test_invariant_tutorial004_an_py310.py
Due: local-ruff-check, local-ruff-format

Simplify pull request workflow triggers
  .github/workflows/build-docs.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
Due: none

👷 Simplify pull request workflow triggers (#15836)
  .github/workflows/build-docs.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
Due: none

✏️ Fix grammar typo in HTTP Basic Auth docs: "a type of attacks" -> "a type of attack"
  docs/en/docs/advanced/security/http-basic-auth.md
Due: add-permalinks-pages, update-languages

✨ Add support for `app.query()` and `router.query()` (HTTP `QUERY` method)
  docs/en/docs/reference/apirouter.md
  docs/en/docs/reference/fastapi.md
  docs/en/docs/tutorial/first-steps.md
  fastapi/applications.py
  fastapi/openapi/constants.py
  fastapi/routing.py
  tests/test_query_method.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs: fix dead pydantic v1 link in tutorial/response-model.md
  docs/en/docs/tutorial/response-model.md
Due: add-permalinks-pages, update-languages

docs(en): fix dead Ariadne docs and Ludwig v0.2 blog links
  docs/en/docs/how-to/graphql.md
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

♻️ Refactor Library Skills, make info easier to find for agents
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/references/path-operations.md
  fastapi/.agents/skills/fastapi/references/pydantic.md
  fastapi/.agents/skills/fastapi/references/responses.md
Due: none

♻️ Refactor Library Skills, make info easier to find for agents (#15841)
  fastapi/.agents/skills/fastapi/SKILL.md
  fastapi/.agents/skills/fastapi/references/path-operations.md
  fastapi/.agents/skills/fastapi/references/pydantic.md
  fastapi/.agents/skills/fastapi/references/responses.md
Due: none

🔖 Release version 0.138.1 (#15842)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

docs(index): fix dead pydantic-extra-types link
  docs/en/docs/index.md
Due: add-permalinks-pages, generate-readme, update-languages

♻️ Refactor how sponsors data is handled
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
  docs/en/overrides/partials/banner-sponsors.html
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

docs: update SQL database tutorials to use lifespan API
  docs/en/docs/tutorial/sql-databases.md
  docs_src/sql_databases/tutorial001_an_py310.py
  docs_src/sql_databases/tutorial001_py310.py
  docs_src/sql_databases/tutorial002_an_py310.py
  docs_src/sql_databases/tutorial002_py310.py
  tests/test_tutorial/test_sql_databases/test_tutorial001.py
  tests/test_tutorial/test_sql_databases/test_tutorial002.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

fix: correct off-by-one line ranges in sql_databases tutorial
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, update-languages

🔧 Add pre-commit for rendering sponsors banner
  .pre-commit-config.yaml
Due: none

♻️ Refactor how sponsors data is handled for banners (#15852)
  .pre-commit-config.yaml
  docs/en/data/sponsors.yml
  docs/en/overrides/main.html
  docs/en/overrides/partials/banner-sponsors.html
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

docs: fix dropped word in get_swagger_ui_html docstring
  fastapi/openapi/docs.py
Due: local-ruff-check, local-ruff-format

Fix incorrect hl[] line highlights in oauth2-scopes.md
  docs/en/docs/advanced/security/oauth2-scopes.md
Due: add-permalinks-pages, update-languages

🐛 Fix named PEP 695 type alias used as body parameter losing its OpenAPI component ($ref)
  fastapi/dependencies/utils.py
  tests/test_dependency_pep695.py
Due: local-ruff-check, local-ruff-format

🌐 Add Korean translation for `docs/ko/docs/tutorial/frontend.md`
  docs/ko/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🐛 Fix Server-Sent Event data ignoring Pydantic serialization_alias
  fastapi/routing.py
  tests/test_sse.py
Due: local-ruff-check, local-ruff-format

test: cover OAuth2AuthorizationCodeBearer auto_error=False branch
  fastapi/security/oauth2.py
  tests/test_security_oauth2_authorization_code_bearer_optional.py
Due: local-ruff-check, local-ruff-format

🔧 Update sponsors: remove Stainless
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
Due: add-permalinks-pages, generate-readme, update-languages

🔧 Update sponsors: remove Stainless (#15862)
  README.md
  docs/en/data/sponsors.yml
  docs/en/docs/advanced/generate-clients.md
Due: add-permalinks-pages, generate-readme, update-languages

♻️ Make `app.frontend()` return 404 for methods other than `GET` or `HEAD` with no static file matches
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

♻️ Make `app.frontend()` return 404 for methods other than `GET` or `HEAD` with no static file matches (#15863)
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.138.2 (#15864)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages
