Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🔖 Release version 0.136.2
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

♻️ Do not accept underscore headers when using `convert_underscores=True` (the default)
  fastapi/dependencies/utils.py
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

♻️ Do not accept underscore headers when using `convert_underscores=True` (the default) (#15589)
  fastapi/dependencies/utils.py
  tests/test_query_cookie_header_model_extra_params.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.136.3
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Use Annotated in Body - Multiple Parameters Tutorial Example
  docs/en/docs/tutorial/body-multiple-params.md
Due: add-permalinks-pages, update-languages

Mention Python 3.13 venv gitignore behavior
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, update-languages

📝 Apply suggestion from @YuriiMotov
  docs/en/docs/tutorial/security/oauth2-jwt.md
Due: add-permalinks-pages, update-languages

📝 Update `docs/en/docs/tutorial/security/oauth2-jwt.md` (#14781)
  docs/en/docs/tutorial/security/oauth2-jwt.md
Due: add-permalinks-pages, update-languages

📝 Remove "NGINX Unit" from the list of ASGI-servers in docs (#15475)
  docs/en/docs/deployment/manually.md
Due: add-permalinks-pages, update-languages

✏️ Use `Annotated` in inline example in `docs/en/docs/tutorial/body-multiple-params.md` (#15591)
  docs/en/docs/tutorial/body-multiple-params.md
Due: add-permalinks-pages, update-languages

👷 Configure Dependabot to group updates and update weekly (#15560)
  .github/dependabot.yml
Due: none

F39: Fix typo 'definately' → 'definitely' in docs/tutorial/index.md
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

Add trailing period to module docstring (F55)
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format

Fix trailing period in SSE comment (F56)
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

Add simple comment to README.md
  README.md
Due: none

Add another comment to README
  README.md
Due: none

Add third comment to README
  README.md
Due: none

Security audit report
  SECURITY_AUDIT.md
Due: none

🔒 Security fix: tests/test_response_model_data_filter_no_inheritance.py
  tests/test_response_model_data_filter_no_inheritance.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: tests/test_response_model_data_filter.py
  tests/test_response_model_data_filter.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: tests/test_filter_pydantic_sub_model_pv2.py
  tests/test_filter_pydantic_sub_model_pv2.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: tests/test_webhooks_security.py
  tests/test_webhooks_security.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: tests/test_tutorial/test_security/test_tutorial004.py
  tests/test_tutorial/test_security/test_tutorial004.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: tests/test_tutorial/test_security/test_tutorial005.py
  tests/test_tutorial/test_security/test_tutorial005.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: docs_src/app_testing/app_b_py310/main.py
  docs_src/app_testing/app_b_py310/main.py
Due: local-ruff-check, local-ruff-format

🔒 Security fix: docs_src/app_testing/app_b_an_py310/main.py
  docs_src/app_testing/app_b_an_py310/main.py
Due: local-ruff-check, local-ruff-format

Just add to the existing tip
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, update-languages

Tweak Python 3.13 venv gitignore note
  docs/en/docs/virtual-environments.md
Due: add-permalinks-pages, update-languages

Add `httpx2` test dependency
  pyproject.toml
  uv.lock
Due: none

Fix tests (`accept-encoding` may include `zstd`)
  tests/test_tutorial/test_header_param_models/test_tutorial001.py
  tests/test_tutorial/test_header_param_models/test_tutorial003.py
Due: local-ruff-check, local-ruff-format

Fix typo in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

Configure workflow to run tests without `httpx2` to test with `httpx`
  .github/workflows/test.yml
Due: none

Address zizmor audit finding
  .github/workflows/publish.yml
Due: none

Run zizmor pre-commit hook on `uv.lock` update
  .pre-commit-config.yaml
Due: none

Add zizmor GH actions workflow
  .github/workflows/zizmor.yml
Due: none

Add comment about upgrading `version` for `astral-sh/setup-uv` action
  .github/workflows/build-docs.yml
  .github/workflows/contributors.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/label-approved.yml
  .github/workflows/notify-translations.yml
  .github/workflows/people.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/translate.yml
Due: none

Add timeouts for jobs
  .github/workflows/add-to-project.yml
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/guard-dependencies.yml
  .github/workflows/issue-manager.yml
  .github/workflows/label-approved.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/notify-translations.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/smokeshow.yml
  .github/workflows/sponsors.yml
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  .github/workflows/topic-repos.yml
  .github/workflows/zizmor.yml
Due: none

Fix line splitting in format_sse_event to comply with SSE spec
  fastapi/sse.py
Due: local-ruff-check, local-ruff-format

📝 Fix grammar: 'to login' -> 'to log in' in oauth2-jwt.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
Due: add-permalinks-pages, update-languages

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
