Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

🌐 Update translations for pt (update-outdated) (#16000)
  docs/pt/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ja (update-outdated) (#15998)
  docs/ja/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for uk (update-outdated) (#16003)
  docs/uk/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh (update-outdated) (#16001)
  docs/zh/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ko (update-outdated) (#16004)
  docs/ko/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for de (update-outdated) (#15999)
  docs/de/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for fr (update-outdated) (#16006)
  docs/fr/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for zh-hant (update-outdated) (#15996)
  docs/zh-hant/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for tr (update-outdated) (#16005)
  docs/tr/docs/tutorial/frontend.md
Due: update-languages, ensure-non-translated, fix-translations

Fix broken links in translations: newsletter, release-notes, fastapi-people
  docs/de/docs/deployment/versions.md
  docs/de/docs/help-fastapi.md
  docs/es/docs/deployment/versions.md
  docs/es/docs/help-fastapi.md
  docs/fr/docs/deployment/versions.md
  docs/fr/docs/help-fastapi.md
  docs/hi/docs/deployment/versions.md
  docs/hi/docs/help-fastapi.md
  docs/ja/docs/deployment/versions.md
  docs/ja/docs/help-fastapi.md
  docs/ko/docs/deployment/versions.md
  docs/ko/docs/help-fastapi.md
  docs/pt/docs/deployment/versions.md
  docs/pt/docs/help-fastapi.md
  docs/ru/docs/deployment/versions.md
  docs/ru/docs/help-fastapi.md
  docs/tr/docs/deployment/versions.md
  docs/tr/docs/help-fastapi.md
  docs/uk/docs/deployment/versions.md
  docs/uk/docs/help-fastapi.md
  docs/zh-hant/docs/deployment/versions.md
  docs/zh-hant/docs/help-fastapi.md
  docs/zh/docs/deployment/versions.md
  docs/zh/docs/help-fastapi.md
Due: update-languages, ensure-non-translated, fix-translations

📝 Fix topic repository list not being displayed and `skip_users` not being applied (#15995)
  docs/en/data/skip_users.yml
  docs/en/data/topic_repos.yml
  docs/en/docs/external-links.md
  docs/en/docs/fastapi-people.md
  scripts/topic_repos.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Fix typos in release notes
  docs/en/docs/release-notes.md
Due: add-permalinks-pages, update-languages

🐛 Fix frontend fallback support for doted paths like `/users/john.doe`
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Fix frontend fallback support for doted paths like `/users/john.doe` (#16011)
  docs/en/docs/tutorial/frontend.md
  fastapi/routing.py
  tests/test_frontend.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🔖 Release version 0.139.1 (#16012)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🐛 Refactor router route building to make it thread-safe, mainly relevant for tests running in parallel threads (uncommon)
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🐛 Refactor router route building to make it thread-safe, mainly relevant for tests running in parallel threads (uncommon) (#16013)
  fastapi/routing.py
  tests/test_router_include_context.py
Due: local-ruff-check, local-ruff-format

🔖 Release version 0.139.2 (#16014)
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Restructure FastAPI People
  docs/en/data/members.yml
  docs/en/docs/fastapi-people.md
  docs/en/docs/help-fastapi.md
  docs/en/docs/management.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

📝 Tweak wording
  docs/en/docs/fastapi-people.md
Due: add-permalinks-pages, update-languages

📝 Restructure FastAPI People and related pages (#16015)
  docs/en/data/members.yml
  docs/en/docs/fastapi-people.md
  docs/en/docs/help-fastapi.md
  docs/en/docs/management.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

🔥 Remove now-obsolete scripts to generate data for FastAPI People
  .github/workflows/contributors.yml
  .github/workflows/people.yml
  scripts/contributors.py
  scripts/people.py
Due: local-ruff-check, local-ruff-format

🔥 Remove now-obsolete scripts to generate data for FastAPI People (#16016)
  .github/workflows/contributors.yml
  .github/workflows/people.yml
  scripts/contributors.py
  scripts/people.py
Due: local-ruff-check, local-ruff-format

Optimize APIRoute handler caching and fix endpoint context cache
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Clarify query parameter validation behavior
  docs/en/docs/tutorial/query-params.md
Due: add-permalinks-pages, update-languages

🐛 Fix `Form()` with an `Optional` Pydantic model silently discarding data
  fastapi/dependencies/utils.py
  tests/test_union_forms.py
Due: local-ruff-check, local-ruff-format

Fix UnboundLocalError in OpenAPI generation for custom response classes
  fastapi/openapi/utils.py
Due: local-ruff-check, local-ruff-format

📝 Add Chinese terminology for HTTP headers
  docs/zh/llm-prompt.md
Due: update-languages, ensure-non-translated

👥 Update FastAPI People - Sponsors (#16027)
  docs/en/data/github_sponsors.yml
Due: update-languages

Fix header model alias resolution and filter client transport headers
  fastapi/dependencies/utils.py
  tests/test_header_model_alias_bug.py
Due: local-ruff-check, local-ruff-format

📝 Update docs to use uv projects by default
  README.md
  docs/en/docs/advanced/async-tests.md
  docs/en/docs/advanced/behind-a-proxy.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/advanced/sub-applications.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/advanced/wsgi.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/fastapicloud.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/environment-variables.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/debugging.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/request-files.md
  docs/en/docs/tutorial/request-form-models.md
  docs/en/docs/tutorial/request-forms-and-files.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/testing.md
  docs/en/docs/virtual-environments.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, generate-readme, update-languages

📝 Update docs to use uv projects by default (#16032)
  README.md
  docs/en/docs/advanced/async-tests.md
  docs/en/docs/advanced/behind-a-proxy.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/advanced/sub-applications.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/advanced/wsgi.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/fastapicloud.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/environment-variables.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/index.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/debugging.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/request-files.md
  docs/en/docs/tutorial/request-form-models.md
  docs/en/docs/tutorial/request-forms-and-files.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/testing.md
  docs/en/docs/virtual-environments.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, generate-readme, update-languages

added people script
  .github/workflows/contributors.yml
  .github/workflows/people.yml
  README.md
  docs/en/data/github_sponsors.yml
  docs/en/docs/advanced/async-tests.md
  docs/en/docs/advanced/behind-a-proxy.md
  docs/en/docs/advanced/settings.md
  docs/en/docs/advanced/sub-applications.md
  docs/en/docs/advanced/templates.md
  docs/en/docs/advanced/websockets.md
  docs/en/docs/advanced/wsgi.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/deployment/fastapicloud.md
  docs/en/docs/deployment/manually.md
  docs/en/docs/deployment/server-workers.md
  docs/en/docs/environment-variables.md
  docs/en/docs/fastapi-cli.md
  docs/en/docs/index.md
  docs/en/docs/release-notes.md
  docs/en/docs/tutorial/bigger-applications.md
  docs/en/docs/tutorial/debugging.md
  docs/en/docs/tutorial/first-steps.md
  docs/en/docs/tutorial/index.md
  docs/en/docs/tutorial/request-files.md
  docs/en/docs/tutorial/request-form-models.md
  docs/en/docs/tutorial/request-forms-and-files.md
  docs/en/docs/tutorial/request-forms.md
  docs/en/docs/tutorial/response-model.md
  docs/en/docs/tutorial/security/first-steps.md
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs/en/docs/tutorial/sql-databases.md
  docs/en/docs/tutorial/testing.md
  docs/en/docs/virtual-environments.md
  docs/en/mkdocs.yml
  scripts/contributors.py
  scripts/people.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages

docs: Fix phrasing 'To do it we use' -> 'To do this we use' in SQL databases tutorial
  docs/en/docs/tutorial/sql-databases.md
Due: add-permalinks-pages, update-languages

test: add regression tests for Annotated forward refs with __future__ annotations
  tests/test_annotated_future_annotations.py
Due: local-ruff-check, local-ruff-format

🐛 Fix implicit path params with Starlette URL converters not detected
  fastapi/utils.py
  tests/test_starlette_urlconvertors.py
Due: local-ruff-check, local-ruff-format

🐛 Fix handling sequences with nested Annotated types
  fastapi/_compat/shared.py
  tests/test_annotated.py
Due: local-ruff-check, local-ruff-format

🐛 Fix response_model_* params ignored for non-generator Iterable endpoints
  fastapi/routing.py
  tests/test_response_model_as_return_annotation.py
Due: local-ruff-check, local-ruff-format

📝 Add Library Skills documentation
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

📝 Add Library Skills documentation (#16041)
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages
