Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

add-permalinks-pages:
  language: unsupported
  name: add-permalinks-pages
  entry: uv run ./scripts/docs.py add-permalinks-pages
  args:
  - --update-existing

generate-readme:
  language: unsupported
  name: generate README.md from index.md
  entry: uv run ./scripts/docs.py generate-readme
  pass_filenames: false

update-languages:
  language: unsupported
  name: update languages
  entry: uv run ./scripts/docs.py update-languages
  pass_filenames: false

ensure-non-translated:
  language: unsupported
  name: ensure non-translated files are not modified
  entry: uv run ./scripts/docs.py ensure-non-translated
  pass_filenames: false

fix-translations:
  language: unsupported
  name: fix translations
  entry: uv run ./scripts/translation_fixer.py fix-pages

🌐 Update translations for zh-hant (update-outdated) (#15524)
  docs/zh-hant/docs/advanced/generate-clients.md
  docs/zh-hant/docs/index.md
  docs/zh-hant/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

docs: clarify required nullable query parameters
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

fix: support unresolved forward refs in annotated dependencies
  fastapi/dependencies/utils.py
  tests/test_stringified_annotation_dependency.py
Due: local-ruff-check, local-ruff-format

docs: clarify custom response background tasks
  docs/en/docs/advanced/response-directly.md
Due: add-permalinks-pages, update-languages

fix: generate unique operation ids for multi-method routes
  fastapi/openapi/utils.py
  fastapi/utils.py
  tests/test_generate_unique_id_function.py
Due: local-ruff-check, local-ruff-format

Update admonitions to reflect #15553
  docs/ko/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Add translation for `note` admonition titles
  docs/ko/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Fix `askaban` -> `azkaban` in `virtual-environments.md`
  docs/tr/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Update admonitions to reflect #15553
  docs/tr/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ko (update-outdated) (#15525)
  docs/ko/docs/advanced/generate-clients.md
  docs/ko/docs/index.md
  docs/ko/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Update admonitions to reflect #15553
  docs/de/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for tr (update-outdated) (#15526)
  docs/tr/docs/advanced/generate-clients.md
  docs/tr/docs/index.md
  docs/tr/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Update admonitions to reflect #15553
  docs/pt/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Update admonitions to reflect #15553
  docs/uk/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for de (update-outdated) (#15527)
  docs/de/docs/advanced/generate-clients.md
  docs/de/docs/index.md
  docs/de/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for pt (update-outdated) (#15528)
  docs/pt/docs/advanced/generate-clients.md
  docs/pt/docs/index.md
  docs/pt/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Update admonitions to reflect #15553
  docs/ja/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for uk (update-outdated) (#15529)
  docs/uk/docs/advanced/generate-clients.md
  docs/uk/docs/index.md
  docs/uk/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

🌐 Update translations for ja (update-outdated) (#15530)
  docs/ja/docs/advanced/generate-clients.md
  docs/ja/docs/index.md
  docs/ja/docs/virtual-environments.md
Due: update-languages, ensure-non-translated, fix-translations

Translate `_llm-test.md` and `translation-banner.md`
  docs/hi/docs/_llm-test.md
  docs/hi/docs/translation-banner.md
Due: update-languages, ensure-non-translated, fix-translations

Enable Hindi language translation
  docs/en/mkdocs.yml
  docs/hi/mkdocs.yml
  pyproject.toml
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

Add initial `llm-prompt.md`
  docs/hi/llm-prompt.md
Due: update-languages, ensure-non-translated

Translate `index.md`
  docs/hi/docs/index.md
Due: update-languages, ensure-non-translated, fix-translations

Revert comment removal in `mkdocs.yml`
  docs/en/mkdocs.yml
Due: update-languages

refactor: implement custom request/websocket handlers and add cached endpoint context extraction to routing
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: uncomment var definition
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: import libs
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

fix: use tuple comparison for python-multipart version check
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

fix: V-001 security vulnerability
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format

Configure Dependabot to group updates, and update weekly
  .github/dependabot.yml
Due: none

Apply suggestion from @YuriiMotov
  .github/dependabot.yml
Due: none

📝 Fix typos in agent skills files
  fastapi/.agents/skills/fastapi/references/dependencies.md
  fastapi/.agents/skills/fastapi/references/other-tools.md
Due: none

🍱 Update sponsors: TalorData image
  docs/en/docs/img/sponsors/talordata.png
Due: update-languages

🍱 Update sponsors: TalorData image (#15562)
  docs/en/docs/img/sponsors/talordata.png
Due: update-languages

🔧 Migrate docs from MkDocs to Zensical
  .github/workflows/build-docs.yml
  .gitignore
  docs/de/docs/index.md
  docs/en/docs/contributing.md
  docs/en/docs/external-links.md
  docs/en/docs/fastapi-people.md
  docs/en/docs/index.md
  docs/en/mkdocs.env.yml
  docs/en/mkdocs.yml
  docs/en/overrides/partials/copyright.html
  docs/es/docs/index.md
  docs/fr/docs/index.md
  docs/ja/docs/index.md
  docs/ko/docs/index.md
  docs/pt/docs/index.md
  docs/ru/docs/index.md
  docs/tr/docs/index.md
  docs/uk/docs/index.md
  docs/zh-hant/docs/index.md
  docs/zh/docs/index.md
  pyproject.toml
  scripts/docs.py
  scripts/mkdocs_hooks.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

docs: use 'automated' instead of 'automatized' in help-fastapi
  docs/en/docs/help-fastapi.md
Due: add-permalinks-pages, update-languages

docs: fix grammar in contributing translations section
  docs/en/docs/contributing.md
Due: add-permalinks-pages, update-languages

🔥 Remove no longer necessary mkdocs.yml files
  docs/de/mkdocs.yml
  docs/es/mkdocs.yml
  docs/fr/mkdocs.yml
  docs/ja/mkdocs.yml
  docs/ko/mkdocs.yml
  docs/pt/mkdocs.yml
  docs/ru/mkdocs.yml
  docs/tr/mkdocs.yml
  docs/uk/mkdocs.yml
  docs/zh-hant/mkdocs.yml
  docs/zh/mkdocs.yml
Due: update-languages, ensure-non-translated

Path conditions:
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  add-permalinks-pages: any of: ^docs/en/docs/.*\.md$
  generate-readme: any of: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
  update-languages: any of: ^docs/.*|scripts/docs\.py$
  ensure-non-translated: any of: ^docs/(?!en/).*|^scripts/docs\.py$
  fix-translations: any of: ^docs/(?!en/).*/docs/.*\.md$
