Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

update tip
  docs/en/docs/tutorial/index.md
Due: add-permalinks-pages, update-languages

🔧 Add Ruff ignores
  pyproject.toml
Due: none

📝 Add source example for JSON Lines
  docs_src/stream_json_lines/__init__.py
  docs_src/stream_json_lines/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format

📝 Add source example for streaming data with yield
  docs_src/stream_data/__init__.py
  docs_src/stream_data/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for JSON Lines
  tests/test_tutorial/test_stream_json_lines/__init__.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for streaming data with yield
  tests/test_tutorial/test_stream_data/__init__.py
  tests/test_tutorial/test_stream_data/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

Fix duplicate OperationID when adding route with multiple methods
  fastapi/openapi/utils.py
  tests/test_duplicate_operation_id_multiple_methods.py
Due: local-ruff-check, local-ruff-format

Merge background tasks from injected BackgroundTasks and Response
  fastapi/routing.py
  tests/test_background_tasks_merge.py
Due: local-ruff-check, local-ruff-format

Add docstrings to default exception handler functions
  fastapi/exception_handlers.py
Due: local-ruff-check, local-ruff-format

✅ Add test coverage for strict_content_type with charset parameters
  tests/test_strict_content_type_charset.py
Due: local-ruff-check, local-ruff-format

Use FastAPIDeprecationWarning for openapi_prefix deprecation
  fastapi/applications.py
Due: local-ruff-check, local-ruff-format

Fix Mount routes being silently dropped in include_router
  fastapi/routing.py
  tests/test_mount_sub_app_router.py
Due: local-ruff-check, local-ruff-format

Add docstring to SolvedDependency dataclass
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

Add __all__ to security module for explicit public API
  fastapi/security/__init__.py
Due: local-ruff-check, local-ruff-format

Add docstrings to validation exception classes
  fastapi/exceptions.py
Due: local-ruff-check, local-ruff-format

Add docstrings to internal utility functions
  fastapi/concurrency.py
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

✨ Implement support for JSON Lines and Streaming data with yield
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

🔨 Run tests with `pytest-xdist` and `pytest-cov` (#14992)
  .github/workflows/test.yml
  pyproject.toml
  scripts/test-cov-html.sh
  scripts/test-cov.sh
  scripts/test.sh
  tests/test_tutorial/test_additional_responses/test_tutorial002.py
  tests/test_tutorial/test_additional_responses/test_tutorial004.py
  tests/test_tutorial/test_background_tasks/test_tutorial001.py
  tests/test_tutorial/test_background_tasks/test_tutorial002.py
  tests/test_tutorial/test_custom_docs_ui/test_tutorial001.py
  tests/test_tutorial/test_custom_docs_ui/test_tutorial002.py
  tests/test_tutorial/test_events/test_tutorial002.py
  tests/test_tutorial/test_settings/test_app01.py
  tests/test_tutorial/test_static_files/test_tutorial001.py
  tests/test_tutorial/test_templates/test_tutorial001.py
  tests/test_tutorial/test_websockets/test_tutorial003.py
  tests/utils.py
  uv.lock
Due: local-ruff-check, local-ruff-format

📝 Add docs for Stream JSON Lines
  docs/en/docs/tutorial/stream-json-lines.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

📝 Update the JSON Stream Lines source example, 3 items
  docs_src/stream_json_lines/tutorial001_py310.py
Due: local-ruff-check, local-ruff-format

✅ Update test
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
Due: local-ruff-check, local-ruff-format

📝 Rename `docs_src/websockets` to `docs_src/websockets_` to avoid import errors (#14979)
  docs/de/docs/advanced/websockets.md
  docs/en/docs/advanced/websockets.md
  docs/es/docs/advanced/websockets.md
  docs/fr/docs/advanced/websockets.md
  docs/ja/docs/advanced/websockets.md
  docs/ko/docs/advanced/websockets.md
  docs/pt/docs/advanced/websockets.md
  docs/ru/docs/advanced/websockets.md
  docs/tr/docs/advanced/websockets.md
  docs/uk/docs/advanced/websockets.md
  docs/zh-hant/docs/advanced/websockets.md
  docs/zh/docs/advanced/websockets.md
  docs_src/websockets_/__init__.py
  docs_src/websockets_/tutorial001_py310.py
  docs_src/websockets_/tutorial002_an_py310.py
  docs_src/websockets_/tutorial002_py310.py
  docs_src/websockets_/tutorial003_py310.py
  tests/test_tutorial/test_websockets/test_tutorial001.py
  tests/test_tutorial/test_websockets/test_tutorial002.py
  tests/test_tutorial/test_websockets/test_tutorial003.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

🔧 Update ignores for Ruff
  pyproject.toml
Due: none

📝 Add source examples for streaming data
  docs_src/stream_data/tutorial002_py310.py
Due: local-ruff-check, local-ruff-format

📝 Add docs for streaming data with StreamingResponse and yield
  docs/en/docs/advanced/stream-data.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

📝 Tweak docs for Streaming JSON Lines
  docs/en/docs/tutorial/stream-json-lines.md
Due: add-permalinks-pages, update-languages

📝 Update streaming PNG source example
  docs_src/stream_data/tutorial002_py310.py
Due: local-ruff-check, local-ruff-format

✅ Add test for streaming PNG example
  tests/test_tutorial/test_stream_data/test_tutorial002.py
Due: local-ruff-check, local-ruff-format

📝 Update docs highlights
  docs/en/docs/advanced/stream-data.md
Due: add-permalinks-pages, update-languages

✅ Add tests to increase coverage
  tests/test_stream_bare_type.py
  tests/test_stream_json_validation_error.py
Due: local-ruff-check, local-ruff-format

✅ Tweak tests for coverage
  tests/test_stream_bare_type.py
Due: local-ruff-check, local-ruff-format

⬆️ Upgrade minimum version of Starlette
  pyproject.toml
  uv.lock
Due: none

match patterns from openapi
  fastapi/applications.py
  fastapi/asyncapi/__init__.py
  fastapi/asyncapi/constants.py
  fastapi/asyncapi/docs.py
  fastapi/asyncapi/utils.py
  fastapi/openapi/asyncapi_utils.py
  fastapi/openapi/docs.py
  fastapi/routing.py
  tests/test_asyncapi.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for streaming cancellation
  tests/test_stream_cancellation.py
Due: local-ruff-check, local-ruff-format

🐛 Fix support for cancellation without an extra await
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

✅ Format test module docstring
  tests/test_stream_cancellation.py
Due: local-ruff-check, local-ruff-format

✅ Tweak coverage
  tests/test_stream_cancellation.py
Due: local-ruff-check, local-ruff-format

✨ Add support for streaming JSON Lines and binary data with `yield` (#15022)
  docs/en/docs/advanced/stream-data.md
  docs/en/docs/tutorial/stream-json-lines.md
  docs/en/mkdocs.yml
  docs_src/stream_data/__init__.py
  docs_src/stream_data/tutorial001_py310.py
  docs_src/stream_data/tutorial002_py310.py
  docs_src/stream_json_lines/__init__.py
  docs_src/stream_json_lines/tutorial001_py310.py
  fastapi/dependencies/utils.py
  fastapi/openapi/utils.py
  fastapi/routing.py
  pyproject.toml
  tests/test_stream_bare_type.py
  tests/test_stream_cancellation.py
  tests/test_stream_json_validation_error.py
  tests/test_tutorial/test_stream_data/__init__.py
  tests/test_tutorial/test_stream_data/test_tutorial001.py
  tests/test_tutorial/test_stream_data/test_tutorial002.py
  tests/test_tutorial/test_stream_json_lines/__init__.py
  tests/test_tutorial/test_stream_json_lines/test_tutorial001.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Tweak the docs text and example
  docs/en/docs/advanced/custom-response.md
  docs_src/custom_response/tutorial007_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Add `await` in `StreamingResponse` code example to allow cancellation (#14681)
  docs/en/docs/advanced/custom-response.md
  docs_src/custom_response/tutorial007_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages
