Repository fastapi/fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, add-permalinks-pages, generate-readme, update-languages, ensure-non-translated, fix-translations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: check-toml
      - id: check-yaml
        args:
        - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: add-permalinks-pages
        language: unsupported
        name: add-permalinks-pages
        entry: uv run ./scripts/docs.py add-permalinks-pages
        args:
          - --update-existing
        files: ^docs/en/docs/.*\.md$

      - id: generate-readme
        language: unsupported
        name: generate README.md from index.md
        entry: uv run ./scripts/docs.py generate-readme
        files: ^docs/en/docs/index\.md|docs/en/data/sponsors\.yml|scripts/docs\.py$
        pass_filenames: false

      - id: update-languages
        language: unsupported
        name: update languages
        entry: uv run ./scripts/docs.py update-languages
        files: ^docs/.*|scripts/docs\.py$
        pass_filenames: false

      - id: ensure-non-translated
        language: unsupported
        name: ensure non-translated files are not modified
        entry: uv run ./scripts/docs.py ensure-non-translated
        files: ^docs/(?!en/).*|^scripts/docs\.py$
        pass_filenames: false

      - id: fix-translations
        language: unsupported
        name: fix translations
        entry: uv run ./scripts/translation_fixer.py fix-pages
        files: ^docs/(?!en/).*/docs/.*\.md$

📝 Update docs references to Python 3.9
  docs/en/docs/tutorial/body-multiple-params.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/en/docs/tutorial/dependencies/sub-dependencies.md
  docs/en/docs/tutorial/extra-models.md
  docs/en/docs/tutorial/query-params-str-validations.md
Due: add-permalinks-pages, update-languages

📝 Update docs for Python Types, simplify, and add advanced types to explain Union vs Optional
  docs/en/docs/advanced/advanced-python-types.md
  docs/en/docs/python-types.md
  docs/en/mkdocs.yml
Due: add-permalinks-pages, update-languages

♻️ Remove Python 3.9 specific logic
  fastapi/_compat/shared.py
  fastapi/dependencies/utils.py
Due: local-ruff-check, local-ruff-format

✅ Add tests for dependencies utils, for coverage
  tests/test_dependencies_utils.py
Due: local-ruff-check, local-ruff-format

➖ Drop support for Python 3.9 (#14897)
  .github/workflows/test.yml
  docs/en/docs/advanced/advanced-python-types.md
  docs/en/docs/deployment/docker.md
  docs/en/docs/python-types.md
  docs/en/docs/tutorial/body-multiple-params.md
  docs/en/docs/tutorial/body.md
  docs/en/docs/tutorial/dependencies/classes-as-dependencies.md
  docs/en/docs/tutorial/dependencies/sub-dependencies.md
  docs/en/docs/tutorial/extra-models.md
  docs/en/docs/tutorial/query-params-str-validations.md
  docs/en/mkdocs.yml
  fastapi/_compat/shared.py
  fastapi/dependencies/utils.py
  pyproject.toml
  tests/test_dependencies_utils.py
  uv.lock
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

🎨 Update internal types for Python 3.10
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/background.py
  fastapi/datastructures.py
  fastapi/dependencies/models.py
  fastapi/encoders.py
  fastapi/exceptions.py
  fastapi/openapi/docs.py
  fastapi/openapi/models.py
  fastapi/openapi/utils.py
  fastapi/param_functions.py
  fastapi/params.py
  fastapi/routing.py
  fastapi/security/api_key.py
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
  fastapi/security/utils.py
  fastapi/types.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

🎨 Update internal types for Python 3.10 (#14898)
  fastapi/_compat/v2.py
  fastapi/applications.py
  fastapi/background.py
  fastapi/datastructures.py
  fastapi/dependencies/models.py
  fastapi/encoders.py
  fastapi/exceptions.py
  fastapi/openapi/docs.py
  fastapi/openapi/models.py
  fastapi/openapi/utils.py
  fastapi/param_functions.py
  fastapi/params.py
  fastapi/routing.py
  fastapi/security/api_key.py
  fastapi/security/http.py
  fastapi/security/oauth2.py
  fastapi/security/open_id_connect_url.py
  fastapi/security/utils.py
  fastapi/types.py
  fastapi/utils.py
Due: local-ruff-check, local-ruff-format

Compare objects MRO with encoders at runtime
  fastapi/encoders.py
Due: local-ruff-check, local-ruff-format

Fix test
  tests/test_separate_input_output_schema_fals_with_nested_computed_field.py
Due: local-ruff-check, local-ruff-format

feat: support starlette 0.52.0+ generic Request
  fastapi/dependencies/utils.py
  tests/test_router_events.py
Due: local-ruff-check, local-ruff-format

perf: Remove is_async_callable check in request_response
  fastapi/routing.py
Due: local-ruff-check, local-ruff-format

Fix grammar in `docs/fr/docs`
  docs/fr/docs/async.md
  docs/fr/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Update code to reflect latest changes in `master`
  fastapi/security/oauth2.py
  tests/test_security_oauth2_client_credentials.py
  tests/test_security_oauth2_client_credentials_optional.py
Due: local-ruff-check, local-ruff-format

Fix grammar in `docs/fr/docs`
  docs/en/docs/release-notes.md
  docs/fr/docs/async.md
  docs/fr/docs/features.md
Due: add-permalinks-pages, update-languages, ensure-non-translated, fix-translations

Fix grammar in `docs/fr/docs`
  docs/fr/docs/features.md
Due: update-languages, ensure-non-translated, fix-translations

Remove py39 code example
  docs_src/query_params_str_validations/tutorial006c_an_py39.py
  tests/test_tutorial/test_query_params_str_validations/test_tutorial006c.py
Due: local-ruff-check, local-ruff-format

Update syntax to Python 3.10+
  tests/test_nested_annotated_in_sequence.py
Due: local-ruff-check, local-ruff-format

Use `snapshot` in tests
  tests/test_nested_annotated_in_sequence.py
Due: local-ruff-check, local-ruff-format

🔥 Remove test for removed source example
  tests/test_tutorial/test_python_types/test_tutorial012.py
Due: local-ruff-check, local-ruff-format

🔥 Remove unused files from source examples
  docs_src/app_testing/app_b_an_py39/__init__.py
  docs_src/app_testing/app_b_py39/__init__.py
  docs_src/bigger_applications/app_py310/internal/__init__.py
  docs_src/bigger_applications/app_py310/routers/__init__.py
  docs_src/bigger_applications/app_py39/internal/__init__.py
  docs_src/bigger_applications/app_py39/routers/__init__.py
Due: local-ruff-check, local-ruff-format

Make `APIRouter.mount` work for `StaticFiles`
  fastapi/applications.py
  fastapi/routing.py
  tests/test_apirouter_mount.py
Due: local-ruff-check, local-ruff-format

Parameterize test to ensure it works with `root_path`
  tests/test_apirouter_mount.py
Due: local-ruff-check, local-ruff-format

🔧 Update coverage
  pyproject.toml
Due: none

📝 Update highlights in webhooks docs
  docs/en/docs/advanced/openapi-webhooks.md
Due: add-permalinks-pages, update-languages

🔨 Update docs.py scripts to migrate Python 3.9 to Python 3.10
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

📝 Update highlights in webhooks docs (#14905)
  docs/en/docs/advanced/openapi-webhooks.md
Due: add-permalinks-pages, update-languages

🔨 Update docs.py scripts to migrate Python 3.9 to Python 3.10 (#14906)
  scripts/docs.py
Due: local-ruff-check, local-ruff-format, generate-readme, update-languages, ensure-non-translated

🔖 Release version 0.129.0
  docs/en/docs/release-notes.md
  fastapi/__init__.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Add test
  tests/test_optional_file_list.py
Due: local-ruff-check, local-ruff-format

Fix test to send empty string instead of empty file
  tests/test_optional_file_list.py
Due: local-ruff-check, local-ruff-format

📝 Update docs for JWT to prevent timing attacks
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

📝 Update docs for JWT to prevent timing attacks (#14908)
  docs/en/docs/tutorial/security/oauth2-jwt.md
  docs_src/security/tutorial004_an_py310.py
  docs_src/security/tutorial004_py310.py
  docs_src/security/tutorial005_an_py310.py
  docs_src/security/tutorial005_py310.py
Due: local-ruff-check, local-ruff-format, add-permalinks-pages, update-languages

Apply suggestions from code review
  pyproject.toml
Due: none

fix lockfile
  uv.lock
Due: none

Reflect latest changes in `docs/en/docs/tutorial/security/oauth2-jwt.md`
  docs/ru/docs/tutorial/security/oauth2-jwt.md
Due: update-languages, ensure-non-translated, fix-translations
